{% extends "hostooSanteBundle::blank.html.twig" %}

{% block title %}Tableau de bord :: Administrateur{% endblock %}
{% block titrepage %}Tableau de bord :: Administrateur{% endblock %}
{% block menu %}
    {% include "hostooUserBundle:menus:menuadmin.html.twig" %}
{% endblock %}
{% block options %}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ patients|length }}</h2>
                    <h5>Patients</h5>
                    <div class="row">
                        <div class="col-xs-6">{{ patpriv }}</div>
                        <div class="col-xs-6">{{ patconv }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ episodes|length }}</h2>
                    <h5>Episodes</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ dependants|length }}</h2>
                    <h5>Dependants</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ users|length }}</h2>
                    <h5>Utilisateurs</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ produits|length }}</h2>
                    <h5>Produits</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ ordos|length }}</h2>
                    <h5>Ordonnances</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ stocks|length }}</h2>
                    <h5>Approvisionnements</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">0</h2>
                    <h5>Daily Sales</h5>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-lg-8 col-md-12">
        <div class="card-box">
            <div class="table-responsive">
            <table class="table table-striped" id="lessocietes">
                <caption><h4 class="text-center">Journal Log</h4></caption>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Utilisateur</th>
                    <th>Service</th>
                    <th>Activités</th>
                </tr>
                </thead>
                <tbody>
                {% for mylog in mylogs %}
                    <tr>
                        <td>{{ mylog.eventTime|date('d-m-Y H:i:s') }}</td>
                        <td>{{ mylog.user }}</td>
                        <td>{{ mylog.ip }}</td>
                        <td>{{ mylog.description|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="card-box">

                <table class="table table-striped" id="lessocietes">
                    <caption><h4 class="text-center">Liste des sociétés</h4></caption>
                    <thead>
                    <tr>
                        <th>Société</th>
                        <th class="text-right">Nombre d'Agents</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for soc in patsoc %}
                        <tr>
                            <th class="">{{ soc.nom }}</th><td class="text-right text-danger"><i class="badge badge-success">{{ soc.patients.count }}</i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card-box">

                <table class="table table-striped" id="lesformules">
                    <caption><h4 class="text-center">Liste des Formules des conventionnés</h4></caption>
                    <thead>
                    <tr>
                        <th>Formule</th>
                        <th class="text-right">Nombre</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for soc in patfor %}
                        <tr>
                            <th class="">{{ soc.nom }} </th><td class="text-right text-danger"><i class="badge badge-info"> {{ soc.patients|length }}</i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:datatable.scripts.html.twig' %}
    <script>
        $(function () {
            $('.table').dataTable();

            //TableManageButtons.init();
        });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:datatable.style.html.twig' %}
{% endblock %}
