{% extends "hostooSanteBundle::blank.html.twig" %}
{% block menu %}
    {% include 'hostooSanteBundle:menus:menurapport.html.twig' %}
{% endblock %}
{% block title %} Entreprises{% endblock %}
{% block titrepage %}Statistique des entreprises{% endblock %}

{% block body %}
<div class="card-box">
    <table class="table table-striped">
        <caption><h4>Les Entreprises en convention</h4></caption>
        <thead>
        <tr class="bg-info">
            <th>Dénomination</th>
            <th>Agents</th>
            <th>Nombre des Formules</th>
            <th>Etat</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for ent in entreprises %}
        <tr>
            <th>{{ ent.nom }}</th>
            <td>{{ ent.patients|length }}</td>
            <td>{{ render(controller('hostooGestionBundle:Reporting:nbreFormule',{'id': ent.id })) }}</td>
            <td>{% if ent.etat %}Activée {% else %} Désactivée {% endif %}</td>
            <td><a href="{{ path('details_sur_entreprises',{'id': ent.id}) }}" class="btn btn-primary">Afficher</a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
   {% block Stylesheets %}
       {{ parent() }}
       {% include 'hostooSanteBundle:plugins:datatable.style.html.twig' %}
   {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {% include 'hostooSanteBundle:plugins:datatable.scripts.html.twig' %}
        <script>
            $(function() {
                $('.table').DataTable();
            });
        </script>
    {% endblock %}