{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titrepage %}Tableau de Bord{% endblock %}
{% block menu %}
    {% include 'hostooSanteBundle:menus:menudoc.html.twig' %}
{% endblock %}
{% block body %}
    <div class="row">
        {% if liste != null %}
        <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2>{{ liste|length }}</h2>
                <div class="row">
                   <span class="pull-right ">RDV</span>
                </div>
            </div>
        </div>

        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h2>{{ nbreRDV }}</h2>
                    <div class="row">
                        <span class="pull-right "><i class="zmdi zmdi-nature-people"></i>En Attente</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="panel panel-success">
                {{ liste.patientsrecus }}
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="panel panel-success">
                {{ liste|length }}
            </div>
        </div>
            {% else %}
            <h3 class="alert alert-danger text-center">Aucune Activité aujourd'hui !</h3>
            {% endif %}
    </div>
    <div class="row">
        {% if rdvs != null %}
            <h3 class="text-custom">Toutes les activités</h3>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h2>{{ rdvs|length }}</h2>
                        <div class="row">
                            <span class="pull-right ">RDVs</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h2>{{ nbr }}</h2>
                        <div class="row">
                            <span class="pull-right "><i class="zmdi zmdi-nature-people"></i>Patients</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="panel panel-success">

                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="panel panel-success">

                </div>
            </div>
        {% else %}
            <h3>Aucune Activité aujourd'hui !</h3>
        {% endif %}
    </div>
{% endblock %}