{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block title %}Dossier du Patient{% endblock %}
{% block titrepage %}Dossier du Patient{% endblock %}
{% block menu %}
    {% include 'hostooSanteBundle:menus:menudoc.html.twig' %}
{% endblock %}
{% block body %}
    <div class="card-box">
<table class="table">
    <tr>

        <td>
        <h4>IDENTITE DU PATIENT</h4>
        <dl class="dl-horizontal">
            <dt>Nom</dt>
            <dd>{{ patient.nom }}</dd>
            <dt>Postnom</dt>
            <dd>{{ patient.postnom }}</dd>
            <dt>Prenom</dt>
            <dd>{{ patient.prenom }}</dd>
            <dt>Sexe</dt>
            <dd>{% if patient.sexe==1 %} H {% else %} F{% endif %}</dd>
            <dt>Age</dt>
            <dd>{{ "now"|date('Y')-patient.datenaissance|date('Y') }}</dd>
            <dt>Societe</dt>
            <dd>{{ patient.societe }}</dd>

        </dl>
        </td>
    </tr>




{% for episode in episodes %}
    {% if episode.factures %}
            <h4 class="alert alert-trans pull-right text-white">Date :{{ episode.dateepisode|date('d-m-Y') }}</h4>
        <h4 class="alert alert-trans btn-info">
                Médécin Traitant  : {{ episode.utilisateur.nom }} {{ episode.utilisateur.postnom }} {{ episode.utilisateur.prenom }}
            </h4>
        {% if episode.consult %}
            <tr>
                <td>
                    <h3>Consultation</h3>
                    {{ episode.consult.consultation|raw }}
                </td>
            </tr>
        {% endif %}
    {% if episode.diag|length >= 1 %}
    <tr>

        <td>


                <h3>Anamnèse</h3>

                <dl class="">
                    <dt>Symptômes dominants</dt>
                    {% for t in episode.anamnese.symptomes %}
                    <dd>{{ t.nom~" " }}</dd>
                        {% endfor %}
                    <dt>Compléments</dt>
                    <dd>{{ episode.anamnese.complements }}</dd>
                    <dt>Hypothèses diagnotiquées</dt>
                    <dd>{{ episode.anamnese.autres }}</dd>

                </dl>
            <h3>Diagnostic du medecin</h3>
            <div class="alert alert-danger">
                {% for dg in episode.diag.diagnostiques %}
                    <strong>{{ dg }}</strong>
                {% endfor %}
            </div>

</td>
        </tr>
    {% endif %}


<tr>
                    <td>
                            <table class="table table-striped">
                                <caption><h4>Prélévement des Signes Vitaux</h4></caption>
                                <thead>
                                <tr>
                                <th>Temp. °C</th>
                                <th>Poids Kg</th>
                                <th>Taille m</th>
                                <th>tension mmHg</th>
                                <th>FC bpm</th>
                                <th>FR cpm</th>
                                <th>GD mg/dl</th>

                                </tr>
                                </thead>
                                <tbody>
                {% for Sv in episode.sv %}
                                <tr>
                                    <td> {{ Sv.temperature }}</td>
                                    <td> {{ Sv.poids }}</td>
                                    <td> {{ Sv.taille }}</td>
                                    <td> {{ Sv.tension }}</td>
                                    <td> {{ Sv.frequenceCardiaque }}</td>
                                    <td> {{ Sv.frequenceRespiratoire }}</td>
                                    <td> {{ Sv.glycemieDextro }}</td>
                                </tr>
                {% endfor %}
                                </tbody>
                            </table>





</td>
</tr>
        <tr>
            <td>
<div class="col-md-4">
        {% if episode.ordonnancelabos|length >= 1 %}
                <div class="panel  panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Examens du labo
                        </div>
                    </div>
                    <div class="panel-body">
                        {% if episode.ordonnancelabos == null %}
                            <span class="alert alert-danger">Aucun Examen demandé</span>
                        {% else %}
                            {% for ord in episode.ordonnancelabos %}

                                {% if ord.resultats.count == 0 %}
                                    <span class="alert alert-warning">Resultats En Attente</span>
                                {% else %}
                                    <h4 class="label label-success">Resultats Labo  du {{ ord.dateordo|date('d-m-Y H:i') }}</h4>
                                    <dl class="dl-horizontal center-block
                                                           ">
                                        {% if ord.resultats.count > 0 %}
                                            {% for res in ord.resultats %}
                                                <dt>{{ res.acte.actes.designationacte }}</dt>
                                                <dd>
                                                    {{ ord.afficherresultat(res.acte.actes.id) }}
                                                </dd>
                                            {% endfor %}
                                        {% endif %}
                                    </dl>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
        {% endif %}
                    </div>
                    </div>
</div>
        <div class="col-md-4">
        {% if episode.ordonnanceimgs %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        Examens de l'imagerie
                    </div>
                </div>
            <div class="panel-body">
                {% if episode.ordonnanceimgs == null %}
                    <span class="alert alert-danger">Aucun Examen demandé</span>
                {% else %}
                    {% for ord in episode.ordonnanceimgs %}

                        {% if ord.resultats.count == 0 and ord.resultat is not defined %}
                            <span class="alert alert-warning">Resultats En Attente</span>
                        {% else %}
                            <h4 class="label label-success">Resultats Imagérie du {{ ord.dateordo|date('d-m-Y H:i') }}</h4>
                            <dl class="dl-horizontal center-block
                                                           ">
                                {% if ord.resultats|length >0 %}
                                    {% for res in ord.resultats %}
                                        <dt>{{ res.acte.actes.designationacte }}</dt>

                                        <dd>{% if res.resultat %}{{ res.resultat|raw }}{% else %}En Attente {% endif %}</dd>
                                        <dd><img src="{{ asset('uploads/imageries/'~res.fichier) }}" width="100px" height="100px"></dd>
                                    {% endfor %}
                                {% endif %}
                            </dl>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
        {% if episode.ordonnance|length >= 1 %}
            <div class="panel  panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Ordonnance</h3>
            </div>
            <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th>Designation</th>
                    <th>POS.</th>
                    <th>QTE</th>
                </tr>
            {% for ord in episode.ordonnance %}

                {% for ex in ord.posologie %}
                    <tr>
                    <td>{{ ex.produit }}</td>
                    <td> {{ ex.posologie }}</td><td> {{ ex.qte }} </td>
                    </tr>
                {% endfor %}


            {% endfor %}</table>
        {% endif %} </div></div>
    {% endif %}
    </div>
    </td>
</tr>

{% endfor %}
</table>
    </div>
{% endblock %}