{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titrepage %}Fiche du Patient{% endblock %}
{% block menu %}
    {% include 'hostooSanteBundle:menus:menudoc.html.twig' %}
{% endblock %}
{% block body %}
    <div class="col-lg-12" id="container">
    <div class="btn-group-justified">
        <a class="btn btn-custom" data-toggle="modal" data-target="#tabr1">Signes vitaux</a>
        <a class="btn btn-default" data-toggle="modal" data-target="#tabr2">Consultation</a>
        <a class="btn btn-custom" data-toggle="modal" data-target="#tabr3">Laboratoire</a>
        <a class="btn btn-default" data-toggle="modal" data-target="#tabr5">Pharmacie</a>
        <a class="btn btn-custom" data-toggle="modal" data-target="#tabr4">Imagerie</a>
        <a class="btn btn-default" data-toggle="modal" data-target="#tabr6">Autres</a>
        {#<a class="btn btn-custom hidden" data-toggle="modal" data-target="#tabr7" >Historique</a>#}
    </div>
        <div class="row" style="border: 2px double deepskyblue; border-radius: 5px 5px 5px 5px; padding: 5px ">
            <div class="col-lg-9">
        <div class="col-lg-6 col-md-12">
<dl class="dl-horizontal">
            <dt>Nom :</dt><dd>{{ episode.patient.nom|upper }}</dd>
            <dt>Postnom :</dt><dd>{{ episode.patient.postnom|upper }}</dd>
            <dt>Prenom :</dt><dd>{{ episode.patient.prenom|upper }}</dd>

            <dt>Date de naissance :</dt><dd>{{ episode.patient.datenaissance|date('d-m-Y') }}</dd>
            <dt>Age :</dt><dd>{{ 'now'|date('Y')- episode.patient.datenaissance|date('Y') }}</dd>
            <dt>Sexe :</dt><dd>{% if episode.patient.sexe == true %}M{% else %}F{% endif %}</dd>
</dl>
            </div>
        <div class="col-lg-6 col-md-12">
        <dl class="dl-horizontal">
            <dt>Telephone :</dt><dd>{{ episode.patient.telephone1 }}</dd>
            <dt>Telephone2 :</dt><dd>{{ episode.patient.telephone2 }}</dd>
            <dt>Nationalité :</dt><dd>{{ episode.patient.nationalite|upper }}</dd>

            <dt>Societe :</dt><dd>{{ episode.patient.societe.nom|upper }}</dd>
            <dt>Type de patient :</dt><dd>{{ episode.patient.societe|upper }}</dd>
            {% if patient.formule.nom is defined %}<dt>Formule :</dt><dd>{{ episode.patient.formule.nom|upper }}</dd>{% endif %}
            </dl>
        </div>
                <!-- end col -->


                </div>
            <div class=" col-lg-3">
                <h3>Actes Prescrits</h3>
                <table class="table table-striped">

                    {% if (tabacte is not null) %}
                        <tr>
                            <th class="bg-success">Laboratoire</th>
                        </tr>
                        {% set som = 0 %}
                        {% set taillelabo=0 %}

                        {% for tacte in tabacte %}
                            <tr>
                                <td>{{ tacte.designationacte }}<a href="{{ path('hostoo_med_suppcte',{'id':taillelabo }) }}" ><i class="fa fa-trash pull-right text-danger"></i></a></td>
                            </tr>
                            {% set taillelabo = taillelabo + 1 %}
                        {% endfor %}{% endif %}

                    {% if (tabimg is not null) %}
                        <tr>
                            <th class="bg-blue">Imagérie</th>
                        </tr>
                        {% set som = 0 %}
                        {% set tailleimg = 0 %}
                        {% for tacte in tabimg %}
                            <tr>
                                <td>{{ tacte.designationacte }}<a href="{{ path('hostoo_med_suppimg',{'id':tailleimg }) }}" ><i class="fa fa-trash pull-right text-danger"></i></a></td>
                            </tr>
                          {% set tailleimg = tailleimg +1 %}
                        {% endfor %}{% endif %}
                    {% if (tabmed is not null) %}
                        <tr>
                            <th class="bg-danger">Pharmacie</th>
                        </tr>
                        {% set som = 0 %}
                        {% set phar = app.session.get('phar') %}
                        {% set poso = app.session.get('pos') %}
                        {% for tacte in tabmed %}
                            <tr>
                                <td><div class="col-lg-12">
                                        <div class="row">
                                        <div class="col-lg-4">{{ tacte.nom }}</div>
                                            <div class="col-lg-6">
                                        <form class="" action="{{ path('hostoo_med_ajoutermed',{'id':tacte.id }) }}">
                                            <div class="row">
                                                <input type="number" name="qte" onchange="this.form.submit()" value="{% if phar[tacte.id] is defined %}{{ phar[tacte.id] }}{% endif %}" class="form-control-static col-lg-6" >
                                                <input type="text" name="pos" onchange="this.form.submit()" value="{% if poso[tacte.id] is defined %} {{ poso[tacte.id] }} {% endif %}" class="form-control-static col-lg-6" placeholder="Posologie"></div>
                                        </form></div>
                                        <div class="col-lg-2">
                                            <a href="{{ path('hostoo_med_suppmed',{'id':tacte.id }) }}"><i class="fa fa-trash right text-danger"></i></a>
                                        </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}{% endif %}
                    {% if (tabautres is not null or tabautres is defined) %}
                        <tr>
                            <th class="bg-retina_wood">Autres</th>
                        </tr>
                        {% set som = 0 %}
                        {% for tacte in tabautres %}
                            <tr>
                                <td>{{ tacte.designationacte }}<a href="{{ path('hostoo_med_suppautre',{'id':tacte.id }) }}" ><i class="fa fa-trash pull-right text-danger"></i></a></td>
                            </tr>
                        {% endfor %}{% endif %}

                    <tr>
                        <td><div class="btn-group">
                                <a href="{{ path('hostoo_med_factureactes',{'id':episode.id,'somtot':som}) }}" class="btn btn-success">Valider les actes</a>
                                <a href="{{ path('hostoo_med_resetactes') }}" class="btn btn-danger">Annuler</a>
                            </div></td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-8">
                                            <div class="panel-group" id="accordion" role="tablist"
                                                 aria-multiselectable="true">
                                                <div class="panel panel-primary bx-shadow-none">
                                                    <div class="panel-heading">
                                                        <div class="panel-title">
                                                                Consultation
                                                                </div>
                                                    </div>
                                                        <div class="panel-body">
                                                            <dl class="">
                                                                consultation

                                                                {{ render(controller('hostooSanteBundle:Consultation:affiche',{'id': episode.id })) }}
                                                                {% if episode.anamnese %}
                                                                <dt>Symptômes dominants</dt>

                                                                {% for t in episode.anamnese.symptomes %}
                                                                    <dd>{{ t.nom~" " }}</dd>
                                                                {% endfor %}

                                                                <dt>Compléments</dt>
                                                                <dd>{{ episode.anamnese.complements }}</dd>
                                                                <dt>Hypothèses diagnotiquées</dt>
                                                                <dd>{{ episode.anamnese.autres }}</dd>
                                                                {% endif %}

                                                            </dl>
                                                            {% if episode.diag != null %}

                                                                <strong>Diagnostiques faits</strong> <br/>{% if episode.diag != null %}<span class="fa fa-check-circle fa-2x text-success"></span>{% else %}<span class="fa fa-times text-success"></span>{% endif %}

                                                                <ul class="list-unstyled">

                                                           {% for mydiag in episode.diag.Diagnostiques  %}
                                                               <li>{{ mydiag }}</li>
                                                               {% endfor %}
                                                            </ul>{% endif %}
                                                        </div>
                                                    </div>
                                                <div class="panel panel-danger">
                                                    <div class="panel-heading">
                                                        <div class="panel-title">
                                                                Resultats Laboratoires
                                                        </div>
                                                    </div>
                                                        <div class="panel-body">
                                                            {% if episode.ordonnancelabos == null %}
                                                                <span class="alert alert-danger">Aucun Examen demandé</span>
                                                            {% else %}
                                                                {% for ord in episode.ordonnancelabos %}

                                                                    {% if ord.resultats.count == 0 %}
                                                                        <span class="alert alert-warning">Resultats En Attente</span>
                                                                    {% else %}
                                                                        <h4 class="label label-success">Resultats Labo  du {{ ord.dateordo|date('d-m-Y H:i') }}</h4>
                                                                        <dl class="dl-horizontal center-block
                                                           ">
                                                                            {% if ord.resultats.count > 0 %}
                                                                                {% for res in ord.resultats %}
                                                                                    <dt>{{ res.acte.actes.designationacte }}</dt>
                                                                                    <dd>
                                                                                        {{ ord.afficherresultat(res.acte.actes.id) }}
                                                                                    </dd>
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                        </dl>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}    </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-warning">
                                                    <div class="panel-heading">
                                                        <div class="panel-title">
                                                                Resultats Imagérie
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        {% if episode.ordonnanceimgs == null %}
                                                            <span class="alert alert-danger">Aucun Examen demandé</span>
                                                        {% else %}
                                                            {% for ord in episode.ordonnanceimgs %}

                                                                {% if ord.resultats.count == 0 and ord.resultat is not defined %}
                                                                    <span class="alert alert-warning">Resultats En Attente</span>
                                                                {% else %}
                                                                    <h4 class="label label-success">Resultats Imagérie du {{ ord.dateordo|date('d-m-Y H:i') }}</h4>
                                                                    <dl class="dl-horizontal center-block
                                                           ">
                                                                        {% if ord.resultats|length >0 %}
                                                                            {% for res in ord.resultats %}
                                                                                <dt>{{ res.acte.actes.designationacte }}</dt>

                                                                                <dd>{% if res.resultat %}{{ res.resultat|raw }}{% else %}En Attente {% endif %}</dd>
                                                                                <dd><a href="{{ asset('uploads/imageries/'~res.fichier) }}"> <img src="{{ asset('uploads/imageries/'~res.fichier) }}" width="100px" height="100px"></a></dd>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </dl>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end col -->
    <!-- Tabs Left -->
    <div class="col-lg-9">

    <div id="tabr1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-full">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="full-width-modalLabel">Signes Vitaux</h4>
                            </div>
                            <div class="modal-body">
{{ render(controller('hostooSanteBundle:Prelevement:ajouterSVMed',{'id':episode.id })) }}

        </div>
        </div>
        </div>
    </div>
        <div id="tabr2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog-full">
                        <div class="modal-content">
                           <ul class="nav nav-tabs navtab-bg nav-justified">

                               <li  class="active">
                                   <a href="#settings-2" data-toggle="tab" aria-expanded="true">
                                       <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                       <span class="hidden-xs">Consultation</span>
                                   </a>
                               </li>
                               <li>
                                                        <a href="#home-2" data-toggle="tab" aria-expanded="false">
                                                            <span class="visible-xs"><i class="fa fa-home"></i></span>
                                                            <span class="hidden-xs">Anamnèse</span>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#profile-2" data-toggle="tab" aria-expanded="false">
                                                            <span class="visible-xs"><i class="fa fa-user"></i></span>
                                                            <span class="hidden-xs">Antécédents</span>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#messages-2" data-toggle="tab" aria-expanded="false">
                                                            <span class="visible-xs"><i class="fa fa-envelope-o"></i></span>
                                                            <span class="hidden-xs">Examens Physiques</span>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#rdv-2" data-toggle="tab" aria-expanded="false">
                                                            <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                                            <span class="hidden-xs">Rendez-vous</span>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#hist-2" data-toggle="tab" aria-expanded="false">
                                                            <span class="visible-xs"><i class="fa fa-cog"></i></span>
                                                            <span class="hidden-xs">Historique</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane" id="home-2">
                                                    <div class="row">
                                                    <div class="col-md-8">
                                                    {{ render(controller('hostooSanteBundle:Anamnese:new',{'id':episode.id })) }}
                                                    </div>
                                                        <div class="col-md-4">
                                                            <a class="btn btn-success" id="show_form_symptome">Ajouter Symptome</a><a class="btn btn-danger" id="hide_form_symptome">Cacher</a>
                                                            <div id="add_symptome_form">
                                                                {{ render(controller('hostooSanteBundle:Symptomes:new')) }}
                                                            </div>
                                                            </div>
                                                    </div>
                                                    </div>
                                                    <div class="tab-pane" id="profile-2">

                                                     {{ render(controller('hostooSanteBundle:Antecedent:antecedentPatient',{'pat':episode.id})) }}

                                                     </div>
                                                    <div class="tab-pane" id="messages-2">
                                                    <div class="row">
                                                    <div class="col-md-10 col-md-offset-1">
                                                    <div class="row">
                                                    <div class="col-md-6 col-xs-12">
                                                    {{ render(controller('hostooSanteBundle:ExamensPhysiques:new',{'id':episode.id })) }}
                                                    </div>
                                                    <div class="col-md-6 col-xs-12">
                                                    {{ render(controller('hostooSanteBundle:ExamensPhysiques:list',{'id':episode.id })) }}
                                                    </div>
                                                    </div>
                                                    </div>
                                                    </div>
                                                  </div>
                                                    <div class="tab-pane  active" id="settings-2">
                                                   <div class="">
                                                       {{ render(controller('hostooSanteBundle:Consultation:new',{'id': episode.id })) }}
                                                       {#
                                                                                                              {{ render(controller('hostooSanteBundle:Medecin:addDiagnostic',{'id':episode.id })) }}
                                                       #}
                                                       </div> </div>
                                                  <div class="tab-pane" id="rdv-2">
                                                    <h1 class="">RDV</h1>
                                                    <div class="row">
                                                    <div class="col-md-6 col-xs-12">
                                                     {{ render(controller('hostooRDVBundle:RDVMed:new',{'id':episode.patient.id })) }}
                                                     </div>
                                                     <div class="col-md-6 col-xs-12">
                                                         {{ episode.patient.id }}
                                                    {{ render(controller('hostooRDVBundle:RDVMed:list',{'pat':episode.patient.id })) }}
                                                    </div>
                                                   </div>

                                                     </div>
                                                    {#
                                                    <div class="tab-pane" id="hist-2">
                                                        <p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
                                                        <p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>
                                                    </div>#}
                                                    <div class="row">
                                                    <button type="button" class="pull-right btn btn-danger" data-dismiss="modal" aria-hidden="true">Fermer</button>
                                                    </div>
                                                </div>




            </div>
            </div>
            </div>
        <div id="tabr3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog modal-full">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="full-width-modalLabel">Les examens du laboratoire</h4>
                            </div>
                            <div class="modal-body">
            <div class="panel">


                           <div class="panel-body">
                            <form class="form-inline"  method="post" action="{{ path('hostoo_med_ajoutercte') }}">
    <input type="hidden" name="episode" value="{{ episode.id }}">
    <select name="labo[]" class="multi-select" multiple="" id="my_multi_select3" >

                                {% for acte in labos %}
                                    {% set tampon=0 %}
                                    {% if episode.patient.societe.id !=15 and episode.patient.formule != null %}
                                        {% for pacte in episode.patient.formule.forsoc %}
                                            {% if acte.id == pacte.acte.id %}
                                                {% if pacte.societe.id==episode.patient.societe.id %}
                                                    {% set tampon=acte.id %}
                                                    <option value="{{ pacte.acte.id }}" class="bg-success">{{ pacte.acte.designationacte }}</option>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% if acte.id != tampon %}
                                <option value="{{ acte.id }}">{{ acte.designationacte }}</option>

                                {% endif %}
                                {% endfor %}


                                </select>
                                <input type="submit" class="btn btn-custom">
                                </form>
                                </div>
                </div>
</div>
</div>
</div>
        </div>
        <div id="tabr4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
             <div class="modal-dialog modal-full">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="full-width-modalLabel">Les examens d'imagérie</h4>
                            </div>
                            <div class="modal-body">
            <div class="panel">

    <div class="panel-body">
                               <form class="form-inline"  method="post" action="{{ path('hostoo_med_ajouterimg') }}">
    <input type="hidden" name="episode" value="{{ episode.id }}">
    <select name="imgr[]" class="multi-select" multiple="" id="my_multi_select4" >

                                {% for acte in imgs %}
        {% set tampon=0 %}
        {% if episode.patient.societe.id !=15 and episode.patient.formule != null %}
            {% for pacte in episode.patient.formule.forsoc %}
                {% if acte.id == pacte.acte.id %}
                    {% if pacte.societe.id==episode.patient.societe.id %}
                        {% set tampon=acte.id %}
                        <option value="{{ pacte.acte.id }}" class="bg-success">{{ pacte.acte.designationacte }}</option>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if acte.id != tampon %}

                                <option value="{{ acte.id }}">{{ acte.designationacte }}</option>

        {% endif %}
                                {% endfor %}


                                </select>
                                <input type="submit" class="btn btn-custom">
                                </form></div>
                </div>
        </div>
        </div>
        </div>
        </div>
        <div id="tabr5" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
         <div class="modal-dialog modal-full">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="full-width-modalLabel">Pharmacie</h4>
                            </div>
                            <div class="modal-body">
                                <div class=row>
                                <div class="col-lg-8 col-md-12">
                                    {{ render(controller('hostooSanteBundle:Ordonnance:new',{'id':episode.id })) }}

                                     </div>
                                <div class="col-lg-4 col-md-12">
                                    {{ render(controller('hostooSanteBundle:Ordonnance:EpisodeOrdonnance',{'id':episode.id })) }}
                                </div>
                                </div>
             {#<form class="form-inline"  method="post" action="{{ path('hostoo_med_ajouterprod') }}">
    <input type="hidden" name="episode" value="{{ episode.id }}">
    <select name="qte[]" class="multi-select" multiple="" id="my_multi_select9" >
        {% for produit in produits %}
                    <option value="{{ produit.id }}">{{ produit.nom }} - {{ produit.grammage }} mg - {{ produit.prix }}</option>

                {% endfor %}
</select>
                 <input type="submit" class="btn btn-custom">

             </form>#}
</div>
</div>
</div>
           </div>

            <script>
                $().ready(function () {
                    $('#example').DataTable();
                })
            </script>
        </div>

        <div id="tabr6" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-full">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="full-width-modalLabel">Les actes supplementaires</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel">

                                    <div class="panel-body">
                                        <form class="form-inline"  method="post" action="{{ path('hostoo_med_ajouterimg') }}">
                                            <input type="hidden" name="episode" value="{{ episode.id }}">
                                            <select name="aut[]" class="multi-select" multiple="" id="my_multi_select6" >

                                                {% for acte in actes %}
                                                {% set tampon=0 %}
                                                {% if episode.patient.societe.id !=15 and episode.patient.formule != null %}
                                                    {% for pacte in episode.patient.formule.forsoc %}
                                                        {% if acte.id == pacte.acte.id %}
                                                            {% if pacte.societe.id==episode.patient.societe.id %}
                                                                {% set tampon=acte.id %}
                                                                <option value="{{ pacte.acte.id }}" class="bg-success">{{ pacte.acte.designationacte }}</option>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                {% if acte.id != tampon %}

                                                    <option value="{{ acte.id }}">{{ acte.designationacte }}</option>

                                                {% endif %}
                                                {% endfor %}


                                            </select>
                                            <input type="submit" class="btn btn-custom">
                                        </form></div>
                            </div>
                    </div>
                </div>
        </div>
</div>

</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('lightbox2/dist/js/lightbox-plus-jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery-datatables-editable/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/multiselect/js/jquery.multi-select.js') }}"></script>
    <script src="{{ asset('assets/plugins/select2/dist/js/select2.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/jquery-quicksearch/jquery.quicksearch.js') }}"></script>


    <script>
        $(function () {
           $('#listepatients').dataTable();
        });
    </script>
    <script>

$(function () {
    $('#add_symptome_form').hide();
    $('#hide_symptome_form').hide();
    $('#show_form_symptome').on('click',function(e){
        e.preventDefault();
        $('#add_symptome_form').show();
        $('#hide_symptome_form').show();
        $(this).hide();
    });
    $('#hide_form_symptome').on('click',function(e){
        e.preventDefault();
        $('#add_symptome_form').hide();
        $('#show_form_symptome').show();
        $(this).hide();
    });
    var dataAppleDevices = [{id: 1, text: "iPhone"}, {id: 2, text: "iPad"}, {id: 3, text: "iPod"}];
    var dataSamsungDevices = [{id: 1, text: "Galaxy S"}, {id: 2, text: "Galaxy Tab"}, {id: 3, text: "Galaxy A"}];

        //advance multiselect start
        var $inp=$('#hypodiagno');

    //$('.selecta').select2();
    $('.selecthd').select2();
    $('.mypro').select2();
    $('.mypro-limiting').select2({
        placeholder: "Choisir les actes"
    });
    });
/** pharmacie **/
$('#my_multi_select9').multiSelect({
            selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            afterInit: function (ms) {
                var that = this,
                        $selectableSearch = that.$selectableUl.prev(),
                        $selectionSearch = that.$selectionUl.prev(),
                        selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                        selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                        .on('keydown', function (e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                        .on('keydown', function (e) {
                            if (e.which == 40) {
                                that.$selectionUl.focus();
                                return false;
                            }
                        });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            }
        });

/*** labo ***/
        $('#my_multi_select3').multiSelect({
            selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            afterInit: function (ms) {
                var that = this,
                        $selectableSearch = that.$selectableUl.prev(),
                        $selectionSearch = that.$selectionUl.prev(),
                        selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                        selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                        .on('keydown', function (e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                        .on('keydown', function (e) {
                            if (e.which == 40) {
                                that.$selectionUl.focus();
                                return false;
                            }
                        });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            }
        });
    // Select2
    $(".select2").select2().attr('name','acteslabo[]');
    $(".selecta").select2();

    $(".selectdc").select2();


   // $(".selecthd").select2();

    $(".select2-limiting").select2({
        placeholder: "Choisir les actes"
    });

 //img
        $('#my_multi_select4').multiSelect({
            selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            afterInit: function (ms) {
                var that = this,
                        $selectableSearch = that.$selectableUl.prev(),
                        $selectionSearch = that.$selectionUl.prev(),
                        selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                        selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                        .on('keydown', function (e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                        .on('keydown', function (e) {
                            if (e.which == 40) {
                                that.$selectionUl.focus();
                                return false;
                            }
                        });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            }
        });
    // Select2
    $(".select3").select2().attr('name','acteslabo[]');

    $(".select3-limiting").select2({
        placeholder: "Choisir les actes"
    });
    //advance multiselect start
$('#my_multi_select5').multiSelect({
    selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
    selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
    afterInit: function (ms) {
        var that = this,
                $selectableSearch = that.$selectableUl.prev(),
                $selectionSearch = that.$selectionUl.prev(),
                selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                .on('keydown', function (e) {
                    if (e.which === 40) {
                        that.$selectableUl.focus();
                        return false;
                    }
                });

        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                .on('keydown', function (e) {
                    if (e.which == 40) {
                        that.$selectionUl.focus();
                        return false;
                    }
                });
    },
    afterSelect: function () {
        this.qs1.cache();
        this.qs2.cache();
    },
    afterDeselect: function () {
        this.qs1.cache();
        this.qs2.cache();
    }
});
    $('#my_multi_select6').multiSelect({
        selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
        selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
        afterInit: function (ms) {
            var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

            that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function (e) {
                        if (e.which === 40) {
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

            that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function (e) {
                        if (e.which == 40) {
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
        },
        afterSelect: function () {
            this.qs1.cache();
            this.qs2.cache();
        },
        afterDeselect: function () {
            this.qs1.cache();
            this.qs2.cache();
        }
    });
    // Select2
    $(".select4").select2().attr('name','acteslabo[]');

    $(".select4-limiting").select2({
        placeholder: "Choisir les actes"
    });

    </script>
       <script>
        $('#signes_vitaux_taille').on('change',function () {
            var poids=$('#signes_vitaux_poids').val();
            $('#signes_vitaux_imc').val(poids/(Math.pow($(this).val(),2)));
        });

        $('#signes_vitaux_pp').on('change',function () {
            var poids=$('#signes_vitaux_pa').val();
            $('#signes_vitaux_wrh').val($(this).val()/poids,2);
        });
    </script>
    <script src="{{ asset('assets/js/signesvitaux.js') }}"></script>
    <script src="{{ asset('assets/js/rdvmed.js') }}"></script>
    <script src="{{ asset('assets/js/exphys.js') }}"></script>
    <script src="{{ asset('assets/js/anamnese.js') }}"></script>
    <script src="{{ asset('assets/js/antecedent.js') }}"></script>
    <script src="{{ asset('assets/js/symptomes.js') }}"></script>
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js') }}" rel="stylesheet"></script>
    <script>
	initSample();
	historique();
	complements();
</script>
    <script type="text/javascript">
        var $collectionHolder;
        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link btn btn-info" title="Ajouter un produit"><i class="fa fa-plus"></i></a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);
        jQuery(document).ready(function() {
// Get the ul that holds the collection of tags
            $collectionHolder = $('div#ordonnance_posologie');
            $collectionHolder.addClass('list-unstyled form-group');
// add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi.addClass('col-md-3'));
// count the current form inputs we have (e.g. 2), use that as the new
// index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addTagLink.on('click', function(e) {
// prevent the link from creating a "#" on the URL
                e.preventDefault();
// add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });
        function addTagForm($collectionHolder, $newLinkLi) {

// Get the data-prototype explained earlier

            var prototype = $collectionHolder.data('prototype');


// get the new index

            var index = $collectionHolder.data('index');


// Replace '__name__' in the prototype's HTML to

// instead be a number based on how many items we have

            var newForm = prototype.replace(/__name__/g, index);

// increase the index with one for the next item

            $collectionHolder.data('index', index + 1);

// Display the form in the page in an li, before the "Add a tag" link li

            var $newFormLi = $('<li></li>').append(newForm);

            $newLinkLi.before($newFormLi);
             }
    </script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#diagnostic_Diagnostiques').tagsinput();
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.

            var $container = $('div#anamnese_symptomes');


            // On ajoute un lien pour ajouter une nouvelle catégorie

            var $addLink = $('<a href="#" id="add_category" class="btn btn-default">Ajouter une catégorie</a>');

            $container.append($addLink);


            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.

            $addLink.click(function(e) {

                addCategory($container);

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL

                return false;

            });


            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement

            var index = $container.find(':input').length;


            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).

            if (index == 0) {

                addCategory($container);

            } else {

                // Pour chaque catégorie déjà existante, on ajoute un lien de suppression

                $container.children('div').each(function() {

                    addDeleteLink($(this));

                });

            }


            // La fonction qui ajoute un formulaire Categorie

            function addCategory($container) {

                // Dans le contenu de l'attribut « data-prototype », on remplace :

                // - le texte "__name__label__" qu'il contient par le label du champ

                // - le texte "__name__" qu'il contient par le numéro du champ

                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Catégorie n°' + (index+1))

                        .replace(/__name__/g, index));


                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie

                addDeleteLink($prototype);


                // On ajoute le prototype modifié à la fin de la balise <div>

                $container.append($prototype);


                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro

                index++;

            }


            // La fonction qui ajoute un lien de suppression d'une catégorie

            function addDeleteLink($prototype) {

                // Création du lien

                $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');


                // Ajout du lien

                $prototype.append($deleteLink);


                // Ajout du listener sur le clic du lien

                $deleteLink.click(function(e) {

                    $prototype.remove();

                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL

                    return false;

                });

            }

        });

    </script>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('lightbox2/dist/css/lightbox.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/jquery-datatables-editable/datatables.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" />F
    <link href="{{ asset('assets/plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/multiselect/css/multi-select.css') }}"  rel="stylesheet" />
    <link href="{{ asset('assets/plugins/select2/dist/css/select2.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/select2/dist/css/select2-bootstrap.css') }}" rel="stylesheet" />
{% endblock %}
