{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titrepage %}Fiche du Patient{% endblock %}
{% block body %}

{% if patient == null %}
    <h2>Patient inconnu</h2>
    {% else %}
        <div class="btn-group-justified">
            <a class="btn btn-custom">Signes vitaux</a>
            <a class="btn btn-custom">Consultation</a>
            <a class="btn btn-custom">Laboratoire</a>
            <a class="btn btn-custom">Pharmacie</a>
            <a class="btn btn-custom">Imagerie</a>
            <a class="btn btn-custom">Autres</a>
            <a class="btn btn-custom">Historique</a>
        </div>
        <div class="col-lg-3">
            <h4>Identité du patient</h4>
        <dl class="dl-horizontal">

                <dt>Nom</dt>
                <dd>{{ patient.nom|upper }}</dd>
                <dt>Postnom</dt>
                <dd>{{ patient.postnom|upper }}</dd>
                <dt>Prenom</dt>
                <dd>{{ patient.prenom|upper }}</dd>
                <dt>Date de naissance</dt>
                <dd>{{ patient.datenaissance|date('d-m-Y') }}</dd>
                <dt>Sexe</dt>
                <dd>{% if patient.sexe == true %}M{% else %}F{% endif %}</dd>
                <dt>Societe</dt>
                <dd>{{ patient.societe|upper }}</dd>
                <dt>Type de Client</dt>
                <dd>{{ patient.convention.nomconvention|upper }}</dd>
                <dt>Telephone</dt>
                <dd>{{ patient.telephone1 }}</dd>
                <dt>Telephone2</dt>
                <dd>{{ patient.telephone2 }}</dd>
                <dt>Formule</dt>
                <dd>{{ patient.formule.nom|upper }}</dd>
                <dt>Nationalite</dt>
                <dd>{{ patient.nationalite|upper }}</dd>

        </dl></div>

            <div class="col-lg-6">
                <h4>Historiques</h4>
                <ul>
        {% for epi in episodes %}
                    <li><a href="{{ path('hostoo_med_lireepisode',{'id':epi.id }) }}"> {{ epi.dateepisode|date('d-m-Y') }}</a></li>
                    {% endfor %}
                </ul>
            </div>
    <div class="col-lg-3">

    </div>
        {% endif %}
{% endblock %}