{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block menu %}
    {% include 'hostooSanteBundle:menus:menudoc.html.twig' %}
{% endblock %}
{% block javascripts %}{{ parent() }}<script src="{{ asset('makeup/js/bootstrap-switch.min.js') }}"></script>
    <script>
        $(function() {
            //$('.dash-report-item').matchHeight();
        });
        $(document).ready(function() {
            var sideslider = $('[data-toggle=collapse-side]');
            var sel = sideslider.attr('data-target');
            var sel2 = sideslider.attr('data-target-2');
            sideslider.click(function(event){
                $(sel).toggleClass('in');
                $(sel2).toggleClass('out');
            });
            $('input[name="checkbox"]').bootstrapSwitch('onText', 'Disponible');
            $('input[name="checkbox"]').bootstrapSwitch('offText', 'Indisponible');
            $('input[name="checkbox"]').bootstrapSwitch('onColor', 'success');
            $('input[name="checkbox"]').bootstrapSwitch('offColor', 'danger');
        });
    </script>
{% endblock %}
{% block titre %}Creer un Rendez-vous {% endblock %}
{% block titrepage %}Creer un Rendez-vous {% endblock %}
{% block body %}
    <div class="col-md-3" style="border-right: double 1px skyblue">
        <h3>Formulaire</h3>
<form action="{{ path('hostoo_sante_createrdv') }}" method="post" class="vertical col_12">
    {{ form_label(form.daterdv,'Date du Jour') }}
    {{ form_errors(form.daterdv) }}
    {{ form_widget(form.daterdv,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.heureDebut,'Heure de debut') }}
    {{ form_errors(form.heureDebut) }}
    {{ form_widget(form.heureDebut,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.heureFin,'Heure de la fin') }}
    {{ form_errors(form.heureFin) }}
    {{ form_widget(form.heureFin,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.nbrepatients,'Patient à recevoir (optionnel)') }}
    {{ form_errors(form.nbrepatients) }}
    {{ form_widget(form.nbrepatients,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.patientsrecus,'Patients Reçus') }}
    {{ form_errors(form.patientsrecus) }}
    {{ form_widget(form.patientsrecus,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.disponibilite,'Disponibilité') }}
    {{ form_errors(form.disponibilite) }}
    {{ form_widget(form.disponibilite,{'attr':{'class':'form-control'}}) }}


    {{ form_rest(form) }}
</form>
    </div>
    <div class="col-md-9">
        <h3>Liste des rendez-vous</h3>
    <table class="table">
        <tr>
            <th>Date du rendez-vous</th>
            <th>Debut</th>
            <th>Fin</th>
            <th>Patients en Attente</th>
            <th>Disponibilite</th>
            <th></th>
        </tr>
        {% for rdv in liste %}
        <tr>
            <td>{{ rdv.daterdv|date('d-m-Y') }}</td>
            <td>{{ rdv.heureDebut|date('H:m') }}</td>
            <td>{{ rdv.heureFin|date('H:m') }}</td>
            {% if  rdv.rDVspatients.count > 0 %}
                {% for patient in rdv.rDVspatients %}
            <td>{{ rdv.rDVspatients.count }}</td>
                    {% endfor %}
                {% else %}
            <td>0</td>
                    {% endif %}
            <td>{{ rdv.disponibilite }}</td><td>

            </td>
        </tr>
        {% endfor %}
    </table></div>
{% endblock %}