{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block menu %}
{% include 'hostooSanteBundle:menus:menudoc.html.twig' %}
    {% endblock %}
{% block body %}

               <div class="row">



{{ liste|length }}



    <div class="col-lg-8 col-lg-offset-2">
        <div class="card-box">
        {% if liste == null %}
        <h3  class="alert alert-block alert-danger">Pas de patients recus</h3>
        {% else %}
        <h3>Patients réçus</h3>
            <ul id="listitems" class="list-unstyled">
        {% for patient in liste %}
{#{% if patient.recu==1 %}#}
            <li>
            <p class="timeline-date text-muted"><small class="text-primary">{{ patient.daterdv|time_diff|trans }}</small></p>
                                <p>{% if patient.episode.patient.sexe == true %}Monsieur{% else %}Madame{% endif %} {{ patient.episode.patient.nom }} {{ patient.episode.patient.postnom }}  {{ patient.episode.patient.prenom }}</p>
                                <p>{{ patient.episode.observation }}</p>
                                <a href="{{ path('hostoo_med_lireepisode',{'id':patient.episode.id}) }}" class="btn btn-info" > <i class="fa fa-eye"></i>Réexaminer</a>
            </li>
            {#{% endif %}#}
        {% endfor %}
            </ul>
            <div id="listitems-pagination" style="display:none" class="pager">
                <a id="listitems-previous" href="#" class="disabled btn btn-default">&laquo; Précédent</a>
                <a id="listitems-next" href="#" class="btn btn-default">Suivant &raquo;</a>
            </div>
        </div>
            {% endif %}
    </div></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.paginate.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $('#listitems').paginate({itemsPerPage: 10});
            $('#listitems2').paginate({itemsPerPage: 10});
        });
    </script>
{% endblock %}