{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block menu %}
    {% include 'hostooSanteBundle:menus:menudoc.html.twig' %}
{% endblock %}
{% block body %}
    <h1>TypeAntecedent list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeAntecedent in typeAntecedents %}
            <tr>
                <td><a href="{{ path('typeantecedent_show', { 'id': typeAntecedent.id }) }}">{{ typeAntecedent.id }}</a></td>
                <td>{{ typeAntecedent.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typeantecedent_show', { 'id': typeAntecedent.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typeantecedent_edit', { 'id': typeAntecedent.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeantecedent_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
