{% extends 'base.html.twig' %}

{% block body %}
    <h1>Anamnese list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Symptomesdominants</th>
                <th>Autres</th>
                <th>Complements</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for anamnese in anamnese %}
            <tr>
                <td><a href="{{ path('anamnese_show', { 'id': anamnese.id }) }}">{{ anamnese.id }}</a></td>
                <td>{{ anamnese.symptomesDominants }}</td>
                <td>{{ anamnese.autres }}</td>
                <td>{{ anamnese.complements }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('anamnese_show', { 'id': anamnese.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('anamnese_edit', { 'id': anamnese.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('anamnese_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
