
    <h1>Anamnèse</h1>

   <form action="{{ path('anamnese_new',{'id':id}) }}" method="post" id="anamneseform">
      {#  {{ form_widget(form.symptomes) }}#}
   {{ form_label(form.symptomes) }}
        {{ form_errors(form.symptomes) }}
        {{ form_widget(form.symptomes,{'attr':{'class':'form-control selecta selecta-multiple'}}) }}

       {#<label for="anamnese_symptomes">Symptômes dominants</label>
       <select class="selecta selecta-multiple" id="anamnese_symptomes" name="anamnese_symptomes[]" multiple="multiple" multiple data-placeholder="Choisissez ...">
           {% for sim in symptomes %}
               <optgroup label="{{ sim.nom }}">
                   {% for sym in sim.symptomes %}
                   <option value="{{ sym.id }}">{{ sym.nom }}</option>
                   {% endfor %}
               </optgroup>
           {% endfor %}
       </select>#}

    {{ form_label(form.autres,'Historique de la maladie') }}
    {{ form_errors(form.autres) }}
    {{ form_widget(form.autres,{'attr':{'class':'form-control'}}) }}


    {{ form_label(form.complements,'Compléments') }}
    {{ form_errors(form.complements) }}
    {{ form_widget(form.complements,{'attr':{'class':'form-control'}}) }}

        <input type="submit" value="Enregistrer" class="btn btn-success" />
       </form>

    <ul>
        <li>
            <a href="{{ path('anamnese_index') }}">Back to the list</a>
        </li>
    </ul>
