{% extends 'base.html.twig' %}

{% block body %}
    <h1>Anamnese</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ anamnese.id }}</td>
            </tr>
            <tr>
                <th>Symptomesdominants</th>
                <td>{{ anamnese.symptomesDominants }}</td>
            </tr>
            <tr>
                <th>Autres</th>
                <td>{{ anamnese.autres }}</td>
            </tr>
            <tr>
                <th>Complements</th>
                <td>{{ anamnese.complements }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('anamnese_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('anamnese_edit', { 'id': anamnese.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
