
    <h1>Bon d'entrée caisse</h1>

   <form action="{{ path('becaisse_new') }}" method="post">

    {{ form_label(form.libelle,'Libellé') }}
    {{ form_errors(form.libelle) }}
    {{ form_widget(form.libelle,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.compte) }}
    {{ form_errors(form.compte) }}
    {{ form_widget(form.compte,{'attr':{'class':'form-control text-success'}}) }}
<div class="row">
    <div class="col-xs-6">
        {{ form_label(form.montant) }}
        {{ form_errors(form.montant) }}
        {{ form_widget(form.montant,{'attr':{'class':'form-control'}}) }}

    </div>
    <div class="col-xs-6">
        {{ form_label(form.devise,'dévise') }}
        {{ form_errors(form.devise) }}
        {{ form_widget(form.devise,{'attr':{'class':'form-control'}}) }}

    </div>

    </div>
    {{ form_label(form.observation) }}
    {{ form_errors(form.observation) }}
    {{ form_widget(form.observation,{'attr':{'class':'form-control'}}) }}
       <div class="hidden">
           {{ form_rest(form) }}
       </div>


        <input type="submit" value="Déposer" class="btn btn-success"/>
   </form>