
    <h1>Becaisse</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ becaisse.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ becaisse.libelle }}</td>
            </tr>
            <tr>
                <th>Compte</th>
                <td>{{ becaisse.compte }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ becaisse.montant }}</td>
            </tr>
            <tr>
                <th>Devise</th>
                <td>{{ becaisse.devise }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ becaisse.observation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('becaisse_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('becaisse_edit', { 'id': becaisse.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

