<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Facture </title>
    <link rel="stylesheet" href="{{ asset('print/style2.css') }}" />
</head>
<body>
<div class="container">
<div class="entete">
    <img class="logo" src="{{ asset('assets/images/logo/logoepamed.jpg') }}"/>
    <h1 class="" style="margin-left: 120px;">
        CENTRE MEDICAL EDITH
    </h1>
        <p class="text-center" style="margin-top: -15px;">
            Av. Labue N°13 LEMBA Foire <br/>
            Tél : +243 85 28 55 554 - +243 99 99 52 335
        </p>
 </div>

<hr class="ligne-haute"/>
<p class="text-right">Kinshasa, Le {{ facture.datefacture|date('d/m/Y') }}</p>
<br>
<h3 class="text-center">FACTURE N° {{ facture.id }}</h3>

{% if facture != null %}
                    <table>
                       {% if facture.episode %}
                           <tr>
                               <th class="t-35">Nom </th><th>:</th>
                               <td>{{ facture.episode.patient.nom|upper }} {{ facture.episode.patient.postnom|upper }} {{ facture.episode.patient.prenom|upper }}</td>
                           </tr>
                           {#<tr>#}
                               {#<th class="t-35">Catégorie </th><th>:</th>#}
                               {#<td>{{ facture.episode.patient.societe }}</td>#}

                           {#</tr>#}
                           {#{% if facture.episode.patient.societe %}#}
                               {#<tr>#}
                                   {#<th class="t-35">Entreprise </th><th>:</th>#}
                                   {#<td>{% if facture.episode.patient.societe is defined %}{{ facture.episode.patient.societe }} {% endif %}</td>#}
                               {#</tr>#}
                           {#{% endif %}#}
                        {% elseif facture.hospitalisation %}
                            <tr>
                                <th class="t-35">Nom </th><th>:</th>
                                <td>{{ facture.hospitalisation.patient.nom }} {{ facture.hospitalisation.patient.postnom }} {{ facture.hospitalisation.patient.prenom }}</td>
                            </tr>
                            <tr>
                                <th class="t-35">Catégorie </th><th>:</th>
                                <td>{% if facture.hospitalisation.patient.societe.id != 15 %}{{ facture.hospitalisation.patient.societe }} {% else %} PRIVE {% endif %}</td>

                            </tr>
                            {% if facture.hospitalisation.patient.societe %}
                                <tr>
                                    <th class="t-35">Entreprise </th><th>:</th>
                                    <td>{% if facture.hospitalisation.patient.societe is defined %}{{ facture.hospitalisation.patient.societe }} {% endif %}</td>
                                </tr>
                            {% endif %}
                           {% else %}

                        {% endif %}
                    </table>

    <hr class="clearfix"/>
                    {% if facture.commandes|length > 0 %}
                    <p class="label label-danger"><strong>Actes Medicaux</strong></p>
                    {% endif %}
                    <table class="bordure" style="width: 100%">
                    {% for cmd in facture.commandes %}
                    {% for tarif in cmd.tarifs %}
                    <tr>
                        <th class="text-left t-80">{{ tarif.actes.designationacte }}</th>
                        <th class="text-right t-20">{{ tarif.prix }}</th>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    </table>
                    {% if facture.produits.count >0 %}
                    <p class="label label-info"><strong>Pharmacie</strong></p>
                    {% endif %}
    <table class="bordure" style="width: 100%">
                    {% for tarif in facture.produits %}

                        <tr>
                            <th class="t-80">
                            {{ tarif.nom }}</th>
                            <th class="t-20">
                            {{ tarif.prix }}
                            </th>
                        </tr>



                    {% endfor %}
    </table>
<div class="pieddepage  adroite">
                    <table class="bordure">
                        <tr>
                            <th class="text-right">Total Prix :</th><td>{{ facture.prix }} ( {{ facture.prix * app.session.get('taux') }} FC)</td><td rowspan="4" class="text-center">{% if facture.validation==1 %}<span class="fa fa-check fa-3x text-success"></span>{% else %}<span class="fa fa-times fa-3x text-danger"></span>{% endif %}</span> </td>
                        </tr>
                        {% set som=0 %}
                        {% if facture.soldes.count>0 %}

                        {% for solde in facture.soldes %}

                        {% set som=som+solde.solde %}
                        {% endfor %}
                        <tr>
                            {#<th class="text-right">Total solde:</th><td>{{ som }}</td>#}
                            {% endif %}
                        </tr>
                        {% if facture.validation == 0 %}
                        <tr>
                            <th class="text-right">Accompte :</th><td>{{ facture.lasolde }} USD ( {{ facture.lasolde * app.session.get('taux') }} FC)</td>
                        </tr>
                            {% else %}
                                <tr>
                                    <th class="text-right">Montant payé :</th><td>{{ facture.prix }} USD ( {{ facture.prix * app.session.get('taux') }} FC)</td>
                                </tr>
                        {% endif %}
                        <tr>
                            <th class="text-right">Reste a payer :</th><td>{% if facture.lasolde>0 %}{{ facture.resteAPayer }} USD( {{ facture.resteAPayer * app.session.get('taux') }} FC){% else %}0 USD (0 FC){% endif %} </td>
                        </tr>
                    </table></div>
    <div>
    <p class="text-center">Fait à Kinshasa, le {{ facture.datefacture|date('d/m/Y') }}</p>
    <p class="text-center">La Caisse</p>
    </div>
{% endif %}
</div>
<script src="{{ asset('assets/js/jquery.min.js') }}" type="application/javascript"></script>
<script>
    $(function () {
      //  print();
    });
</script>
</body>
</html>