<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{{ asset('cme/print.css') }}">
	<title>Facture CLINIQUE SAINT RAPHAEL DRS MUNTU</title>
	<style>
		.wrapper-facture{
			border-style: double; border-width: 1px;height:1153px; width: 800px;padding-right: 6px;padding-left: 6px;
		}
		.facture-header{
			border-style: double;
			border-width: 1px;
			height:200px;
			width: 785px;
			margin-left:5px;
			font-size: 13px;

		}
		.facture-header-text{
			border-style: double; border-width: 1px;
			border-right-width: 0px;
			height:198px; width: 510px;float:left;"
			padding-left: 12px;
		}
		.patient-id{
			border-style: double; border-width: 1px;height:158px; width: 260px; float: right;padding-top: 40px;padding-left: 6px;"
		}
		.table-libele{
			border-width: 1px;
			width: 785px;
			height: 560px;
			float:left;
			margin-top:20px;
		}

		.colnum{
			width: 100px;
			border-style: double;
			border-width: 1px;
			margin:0px;

		}

		.collibele{
			width: 490px;
			border-style: double;
			border-width: 1px;
			margin:0px;

		}
		.colprixunit{
			width: 130px;
			border-style: double;
			border-width: 1px;
			margin:0px;

		}
		.colmontant{
			width: 150px;
			border-style: double;
			border-width: 1px;
			margin:0px;
		}
		.coltotal{
			font-size: 16px; font-weight: bolder;
			height: 20px;
		}
		th{
			font-size: 16px; font-weight: bolder;
			height: 20px;

		}
		tr{
			border-style: double;
			border-width: 0px;

		}
		td{
			vertical-align: text-top;
			height: auto;

		}
		.trtotal {
			height: 20px;
			font-size: 16px; font-weight: bolder;
			height: 20px;
		}
		.logo-header {
			height:150px; width: auto;
		}
		.logo-footer {
			height:60px; width: auto;
		}
		.table-footer {
			width: 780px;
			border-style: double;
			border-width: 0px;
		}

		.num-facture {
			border-style: double; border-width: 0px;height:auto; width:200px;
			float: right;
			margin-top:20px;
			margin-left: 20%;margin-bottom: 10px;
			font-size: 20px; font-weight: bolder;
			vertical-align: center;
		}
		.date-facture-header {
			border-style: double; border-width: 0px;height:auto; width:200px;align-items: right; margin-left: 20%;
		}
	</style>
</head>
<body>
<div class="wrapper-facture">
	<table>
		<tr>
			<td>
				<a onclick="history.back()" href="#">
					<img class="logo-header" src="{{ asset('muntu/muntu.gif') }}" ></td>
			<td> {% if facture != null %}
				<div class="num-facture"> Facture N° {{ facture.id }}</div>
				<div class="date-facture-header"> {{ facture.datefacture|date('d/m/Y') }}0</div>
			</td>
		</tr>
	</table>
	<div>

	</div>
	<div class="facture-header">
		<div class="facture-header-text" >
			<p class="text-center" style="margin-top:0px;">
			<h3 class="title">
				CLINIQUE SAINT RAPHAEL DRS MUNTU </h3>
			NIF:A1721574U, RCCM: 17-B-01443, Id.: 01-82-N25975F <br>
			NUMERO DE COMPTE RAWBANK: 35101 01063056501 50<br>
			Tél: +243 898 416 626<br>
			E-mail: infos@cliniquesaintraphaeldrsmuntu.com<br>
			Site web: www.cliniquesaintraphaeldrsmuntu.com <br>
			Av. Kasa-Vubu, n°5151 (cfr. Carrefour des jeunes), C/Kalamu, Kinshasa-RDC<br>
			</p>
		</div>
		<div class="patient-id">
			<table>
				<tbody>
				<tr>
					<th class="t-35">Nom </th>
					<th>:</th>
					{% if facture.episode %}
						<td>{{ facture.episode.patient.nom|upper }} {{ facture.episode.patient.postnom|upper }} {{ facture.episode.patient.prenom|upper }}</td>
					{% else %}
						<td>{{ facture.hospitalisation.patient.nom|upper }} {{ facture.hospitalisation.patient.postnom|upper }} {{ facture.hospitalisation.patient.prenom|upper }}</td>
					{% endif %}
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<table class="table-libele">

			<tr>
				<th class="colnum">N°</th>
				<th class="collibele">Libele</th>
				<th class="colprixunit">PU USD</th>
				<th class="colmontant">Montant USD</th>
			</tr>

            {% if facture.commandes|length > 0 %}
				<p class="label label-danger"><strong>Actes Medicaux</strong></p>
            {% endif %}



				{% for cmd in facture.commandes %}
					{% for tarif in cmd.tarifs %}
						<tr>
							<td class="colnum"></td>
							<td class="collibele">{{ tarif.actes.designationacte }}</td>
							<td class="colprixunit">{{ tarif.prix }}</td>
							<td class="colmontant">{{ tarif.prix }}</td>
						</tr>
					{% endfor %}
				{% endfor %}
					<tr class="trtotal">
						<td colspan = "2"></td>

						<td class="colprixunit">Total USD </td>
						<td class="colmontant">{{ facture.prix }} USD ( {{ facture.prix * app.session.get('taux') }} FC)</td>

					</tr>
		</table>


			<table class="table-footer">
				<tr>
					<td style=" border-style: double; border-width: 0px;"></td>
					<td>Fait à Kinshasa, le {{ facture.datefacture|date('d/m/Y') }}</td>
				</tr>
				<tr>
					<td></td>
					<td>Visa de la clinique</td>
				</tr>
				<tr>
					<td><img class="logo-footer" src="{{ asset('muntu/muntu.gif') }}" ></td>
					<td></td>
				</tr>
				<tr>
					<td colspan = "2" style="text-align: center;border-style: double; border-width: 0px; align-content: center"> MERCI POUR VOTRE CONFIANCE!</td>
				</tr>
			</table>
		</table>
		</div>
    {% endif %}
</div>
<script src="{{ asset('assets/js/jquery.min.js') }}" type="application/javascript"></script>
<script>
    $(function () {
        print();
    });
</script>
</div>
</body>
</html>




