{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titrepage %}
    Actes Facturés
    {% endblock %}
{% block menu %}
{% include 'hostooSanteBundle:menus:menucaisse.html.twig' %}
{% endblock %}
{% block body %}
    <div class="card-box">
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Date </th>
            <th>Facture</th>
            <th>Montant USD</th>
            <th>Montant CDF</th>
            <th>PERCEPTEUR</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for acte in liste %}

          <tr>
              <td>{{ acte.id }}</td>
              <td>{{ acte.datecaisse|date('d-m-Y H:i:s') }}</td>
              <td>FAC N° {% if acte.facture %}{{ acte.facture.id }} {% endif %}</td>
              <td>{{ acte.montantusd }}</td>
              <td>{{ acte.montantcdf }}</td>
              <td>{% if acte.percepteur %}{{ acte.percepteur.nom~" "~acte.percepteur.postnom }} {% endif %}</td>
              <td>{% if acte.percepteur is not null and 'ROLE_CAISSIER' not in acte.percepteur.roles or acte.percepteur is  null %}<a href="{{ path('mettre_en_caisse', {'id': acte.id }) }}" class="btn btn-default">EnCaisser</a>{% endif %} </td>
          </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/jquery-datatables-editable/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/multiselect/js/jquery.multi-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/jquery-quicksearch/jquery.quicksearch.js') }}"></script>
    <script src="{{ asset('assets/plugins/select2/dist/js/select2.min.js') }}" type="text/javascript"></script>
    <script>
        $(function () {
            $('.table').dataTable({
                dom: "Bfrtip",
                scrollY:800,
                order:[[0,'desc']],
                buttons: [{extend: "copy", className: "btn-sm"}, {extend: "csv", className: "btn-sm"}, {
                    extend: "excel",
                    className: "btn-sm"
                }, {extend: "pdf", className: "btn-sm"}, {extend: "print", className: "btn-sm"}],
                responsive: !0
            });
        });
    </script>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/jquery-datatables-editable/datatables.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/multiselect/css/multi-select.css') }}"  rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/select2/dist/css/select2.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/plugins/select2/dist/css/select2-bootstrap.css') }}" rel="stylesheet" type="text/css">
{% endblock %}