<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('print/style2.css') }}" />
</head>
<body>
<div class="container">
<div class="entete" style= "margin-bottom:5px;">
    <img class="logo" src="{{ asset('muntu/muntu-logo.jpeg') }}"/>
    <h1 class="" style="margin-left: 150px;">
       CLINIQUE SAINT RAPHAEL DRS MUNTU
    </h1>

    {#<p class="text-center" style= "margin-top:-5px">
        NIF:A1721574U, RCCM: 17-B-01443, Id.: 01-82-N25975F <br>
        Tél: +243 898 416 626<br>
        E-mail: infos@cliniquesaintraphaeldrsmuntu.com<br>
        Site web: www.cliniquesaintraphaeldrsmuntu.com <br>
        Av. Kasa-Vubu, n°5151 (cfr. Carrefour des jeunes), C/Kalamu, Kinshasa-RDC<br>

    </p>#}
    <br/>
 </div>

<hr class="ligne-haute"/>

<p class="text-right">Kinshasa, Le {% block date %}{{ facture.datefacture|date('d/m/Y') }} {% endblock %}</p>
<br>
<h3 class="text-center">{% block titre %}FACTURE N° {{ facture.id }} {% endblock %}</h3>
    <table>
        <tr>
            <th class="t-35">Nom </th><th>:</th>
            <th>{% block nom %} {% endblock %}</th>
        </tr>
        <tr>
            <th class="t-35">Age </th><th>:</th>
            <th>{% block age %} {% endblock %}</th>
        </tr>
    </table>
<hr/>

{% block corps %}

    {% endblock %}
</div>
<script src="{{ asset('assets/js/jquery.min.js') }}" type="application/javascript"></script>
<script>
    $(function () {
      //  print();
    });
</script>
</body>
</html>