
    <h3>Les Examens Physiques</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Désignation</th>
            <th>Observation</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="mesexphys">
        {% for examensPhysique in examensPhysiques %}
            <tr>

                <td><a href="{{ path('examensphysiques_show', { 'id': examensPhysique.id }) }}">{{ examensPhysique.id }}</a></td>
                <td>{{ examensPhysique.typeexamen }}</td>
                <td>{{ examensPhysique.observation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('examensphysiques_show', { 'id': examensPhysique.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('examensphysiques_edit', { 'id': examensPhysique.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


