
    <h3>Examens Physiques</h3>

    <form action="{{ path('examensphysiques_new',{'id':id }) }}" method="post" id="exphysform">
        {{ form_label(form.typeexamen,"Type d'examen") }}
        {{ form_errors(form.typeexamen) }}
        {{ form_widget(form.typeexamen) }}

        {{ form_label(form.observation) }}
        {{ form_errors(form.observation) }}
        {{ form_widget(form.observation) }}


        <input type="submit" value="Enregistrer" class="btn btn-success "/>
    </form>
{#
    <ul>
        <li>
            <a href="{{ path('examensphysiques_index') }}">Liste</a>
        </li>
    </ul>
#}
