{% extends "hostooSanteBundle::blank.html.twig" %}
{% block menu %}
    {% if is_granted('ROLE_ADMIN') %}
    {% include 'hostooUserBundle:menus:menuadmin.html.twig' %}

    {% elseif is_granted('ROLE_CAISSIER') %}
        {% include 'hostooSanteBundle:menus:menucaisse.html.twig' %}

    {% endif %}
{% endblock %}

{% block title %}Modifier Acte{% endblock %}

{% block body %}
<h1>Modifier Actes</h1>
    <div class="col-lg-6 col-md-12">
        <div class="card-box">
            <form action="{{ path('modifier_acte',{'id': id }) }}" method="post">
                <div class="form-group">
                    {{ form_label(form.designationacte,"Désignation") }}
                    {{ form_errors(form.designationacte) }}
                    {{ form_widget(form.designationacte,{'attr':{'class':'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.categories) }}
                    {{ form_errors(form.categories) }}
                    {{ form_widget(form.categories,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.tarif.prix) }}
                    {{ form_errors(form.tarif.prix) }}
                    {{ form_widget(form.tarif.prix,{'attr':{'class':'form-control'}}) }}
                </div>

                {{ form_rest(form) }}
                {{ form_widget(form.save,{'attr':{'class':'btn btn-success waves-effects'}}) }}
            </form>
        </div>
    </div>
{% endblock %}
