{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titrepage %}{% endblock %}
{% block options %}{% endblock %}
{% block menu %}
{% include 'hostooSanteBundle:menus:menudoc.html.twig' %}
    {% endblock %}
{% block body %}
    <h2>File d'attente</h2>


               <div class="row">
        <div class="col-lg-8">
            {% if liste == null %}
                <h3 class="alert alert-block alert-danger">Pas de fil d'attente</h3>
            {% else %}
        <div class="timeline">
            <article class="timeline-item alt">
                <div class="text-right">
                    <div class="time-show first">
                        <a href="#" class="btn btn-primary w-lg">Aujourd'hui</a>
                    </div>
                </div>
            </article>
            {% set n=0 %}
            {% for patient in liste.RDVspatients %}
            {% set n=n+1 %}
                {% if patient.recu==0 and patient.valid==1 %}
                <article {% if n is even %}class="timeline-item alt"{% else %}class="timeline-item"{% endif %}>
                    <div class="timeline-desk">
                        <div class="panel">
                            <div class="panel-body">
                                <span class="arrow-alt"></span>
                                <span class="timeline-icon"></span>
                                <h4 class="text-custom">il y a {{ patient.daterdv|time_diff }}
                                    {#{% if "now"|date('H')-patient.daterdv|date('H')>0 %}#}
                                    {#{{"now"|date('H')-patient.daterdv|date('H') }} Heuse(s) et {{ "now"|date('i')-patient.daterdv|date('i') }} minute(s)#}
                                    {#{% else %}#}
                                        {#{{ "now"|date('i')-patient.daterdv|date('i') }} minute(s)#}
                                    {#{% endif %}#}

                                </h4>
                                <p class="timeline-date text-muted"><small>{{ patient.daterdv|date('H:i:s') }}</small></p>
                                <p>{% if patient.episode.patient.sexe == true %}Monsieur{% else %}Madame{% endif %} {{ patient.episode.patient.nom }} {{ patient.episode.patient.postnom }}  {{ patient.episode.patient.prenom }}</p>
                                <p>{{ patient.episode.observation }}</p>
                                <a href="{{ path('hostoo_med_lireepisode',{'id':patient.episode.id}) }}" class="btn btn-info" > <i class="fa fa-eye"></i>Examiner</a>
                            </div>
                        </div>
                    </div>
                </article>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
        </div>
        <!-- end row -->





    <div class="col-lg-4">
        <div class="card-box">
        {% if liste.RDVspatients is not defined %}
        <h3  class="alert alert-block alert-danger">Pas de patients recus</h3>
        {% else %}
        <h3>Patients réçus</h3>
            {% if recus|length > 0 %}
      {% for patient in recus.RDVspatients %}
{% if patient.recu==1 %}
                                <p class="timeline-date text-muted"><small>{{ patient.daterdv|date('h:i:s') }}</small></p>
                                <p>{% if patient.episode.patient.sexe == true %}Monsieur{% else %}Madame{% endif %} {{ patient.episode.patient.nom }} {{ patient.episode.patient.postnom }}  {{ patient.episode.patient.prenom }}</p>
                                <p>{{ patient.episode.observation }}</p>
                                <a href="{{ path('hostoo_med_lireepisode',{'id':patient.episode.id}) }}" class="btn btn-info" > <i class="fa fa-eye"></i>Réexaminer</a>
            {% endif %}
        {% endfor %}
        </div>

            {% endif %}
            {% endif %}
    </div></div>
{% endblock %}