<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ordonnance médicale </title>
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/menu.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/print.css') }}" rel="stylesheet" type="text/css" media="print"/>
    <link href="{{ asset('assets/css/core.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/components.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/icons.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/pages.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="row hidden-print">
    <a href="{{ path('hostoo_med_lireepisode',{'id': ordonnance.episode.id }) }}" class="btn btn-danger"><i class="fa fa-backward"></i>Retour à la consultation</a>
</div>
<div class="col-md-6 col-md-offset-3">
<img src="{{ asset('assets/images/logo/logoepamed.jpg') }}">
<address>
    <i class="fa fa-home"></i>Nyembo 13, Socimat / Gombe<br>
    &nbsp;&nbsp;&nbsp;<u>Kinshasa RDC</u><br>
    <i class="fa fa-phone"></i> : +(243) 81 93 19 007 <br><i class="fa">@</i> : epa.med@gmail.com<br>
</address>
    <hr class="clearfix"/>
    <h4>Ordonnance Médicale</h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Num</th>
            <th colspan="2">Patient</th>
            <th>Age</th>
            <th>Sexe</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ ordonnance.id }}</td>
                <td colspan="2">{{ ordonnance.episode.patient.nom }}{{ ordonnance.episode.patient.postnom }}</td>
                <td>{{ "now"|date('Y') - ordonnance.episode.patient.datenaissance|date('Y') }}</td>
                <td>{% if ordonnance.episode.patient.sexe == 0 %} F {% else %} M {% endif %}  </td>
            </tr>
            <tr><th colspan="5">Prescriptions</th></tr>
            <tr><th>Produit</th><th>Posologie</th><th>Quantité</th><th></th><th></th></tr>
            {% for pos in ordonnance.posologie %}
                <tr>
                    <td>{{ pos.produit.nom }}</td>
                    <td>{{ pos.posologie }}</td>
                    <td>{{ pos.qte }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% if pos.conduite %}
                <tr>
                    <th>Conduite à tenir :</th><td colspan="4">{{ pos.conduite }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <p class="text-center">Fait à Kinshasa, le {{ ordonnance.dateordo|date('d/m/Y') }}</p>
    <p class="text-center">{% if ordonnance.medecin %}{{ ordonnance.medecin.nom }} {{ ordonnance.medecin.postnom }} {{ ordonnance.medecin.prenom }} {% endif %}</p>
</div>
<script src="{{ asset('assets/js/jquery.min.js') }}" type="application/javascript"></script>
<script>
    $(function () {
        print();
    });
</script>
</body>
</html>