{% extends 'hostooSanteBundle::modele_facture.html.twig' %}
{% block titre %}Ordonnance N°{{ ordonnance.id }}{% endblock %}

        {% block ladate %}{% if ordonnance.dateordo %}{{ ordonnance.dateordo|date('d-m-Y H:i:s') }}{% endif %}{% endblock %}
        {% block nom %} {{ ordonnance.episode.patient.nom }} ({{ ordonnance.episode.patient.age }}){% endblock %}
        {% block sexe %} {% if ordonnance.episode.patient.sexe %}HOMME{% else %}FEMME {% endif %}{% endblock %}
{% block corps %}


    <table  width="100%" class="bordure-table">
        <tbody>
        <tr  style="border-bottom: #000 solid 1px">
            <td class="contenu-table-code carre">CODE</td>
            <td class="contenu-table-libelle carre">LIBELLE</td>
            <td class="contenu-table-qte carre">QTE</td>
        </tr>


                    {% for pos in ordonnance.posologie %}
        <tr style="border-bottom: #000 solid 1px">
                        <td>
                            {{ loop.index }}
                            </td>
                        <td>
                            {{ pos.produit }} {{ pos.posologie }}

                            </td>
                        <td>                        {{ pos.qte }}</td>
        </tr>
                        {#<tr>#}
                        {#<td colspan="3"><hr style="border:#0b0b0b solid 0.5px"/></td>#}
                        {#</tr>#}
                    {% endfor %}


        </tbody>
    </table>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('ordonnance_med_index') }}">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="{{ path('ordonnance_med_edit', { 'id': ordonnance.id }) }}">Edit</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
{% block auteur %}{{ ordonnance.medecin.nom|upper~" "~ ordonnance.medecin.postnom|upper }}{% endblock %}
