{% extends 'hostooSanteBundle:Caisse:modele_facture.html.twig' %}
{% block title %}Bon d'examens Laboratoire{% endblock %}
{% block titre %}Bon d'examens Laboratoire{% endblock %}
{% block date %}{{ ordonnanceLabo.dateordo|date('d-m-Y H:i:s') }} {% endblock %}
{% block nom %} {{ ordonnanceLabo.episode.patient.nom~" "~ordonnanceLabo.episode.patient.postnom~" "~ordonnanceLabo.episode.patient.prenom }} {% endblock %}
{% block age %} {{ ""|date('Y')-ordonnanceLabo.episode.patient.datenaissance|date('Y') }} {% endblock %}
{% block corps %}
<div class="card-box">
    <table class="table table-bordered" style="border: #000 1px solid">
        <tr class="bg-inverse" style="background-color: #ccc">
            <th class="text-white text-center col-md-4">Analyses</th>
            <th class="text-white text-center col-md-4">Valeurs</th>
            <th class="text-white text-center col-md-4">Resultats</th>
        </tr>
        {% for res in ordonnanceLabo.resultats %}
        <tr>
            <th>{{ res.acte.actes.designationacte }}</th>
            <th>{{ res.acte.actes.valeur }}</th>
            <td style="text-align: center">{% if res.attente %}<p>{{ res.resultat|raw }}</p>{% else %} En Attente{% endif %}</td>
        </tr>
            <tr>
                <th colspan="3"><hr></th>
            </tr>
        {% endfor %}
        <tr>
        <tr>
            <th>&nbsp;</th>
            <th colspan="2">Medecin : {{ ordonnanceLabo.medecin|upper }}</th>
        </tr>
    </table>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('ordonnancelabo_index') }}" class="btn btn-info">Liste des examens</a>#}
        {#</li>#}
    {#</ul>#}
</div>
{% endblock %}
