{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titrepage %}Résultats de Laboratoire{% endblock %}
{% block options %}
    <a href="{{ path('ordonnancelabo_printshow',{'id': ordonnanceLabo.id }) }}" class="btn btn-default">Imprimer</a>

{% endblock %}
{% block menu %}{% include 'hostooSanteBundle:menus:menulabo.html.twig' %}{% endblock %}
{% block body %}
<div class="card-box">
    <table class="table">
        <tbody>
        <tr>
            <th>Patient</th>
            {% if ordonnanceLabo.episode %}
            <th>{{ ordonnanceLabo.episode.patient.nom~" "~ordonnanceLabo.episode.patient.postnom~" "~ordonnanceLabo.episode.patient.prenom }}  /  {% if ordonnanceLabo.episode.patient.sexe %}M {% else %}F{% endif %}</th>
            {% else %}
            <th>{{ ordonnanceLabo.hospitalisation.patient.nom~" "~ordonnanceLabo.hospitalisation.patient.postnom~" "~ordonnanceLabo.hospitalisation.patient.prenom }}  /  {% if ordonnanceLabo.hospitalisation.patient.sexe %}M {% else %}F{% endif %}</th>
            {% endif %}
            <th>Date</th>
            <th>{% if ordonnanceLabo.dateordo %}{{ ordonnanceLabo.dateordo|date('d-m-Y H:i:s') }}{% endif %}</th>
        </tr>
        <tr>
            <th>Né (e) le </th>
            {% if ordonnanceLabo.episode %}
            <th>{{ ordonnanceLabo.episode.patient.datenaissance|date('d/m/Y') }}</th>
            {% else %}
            <th>{{ ordonnanceLabo.hospitalisation.patient.datenaissance|date('d/m/Y') }}</th>
            {% endif %}
            <th>Medecin</th>
            <th>{{ ordonnanceLabo.medecin|upper }}</th>
        </tr>
        <tr>
            <th>Société</th>
            {% if ordonnanceLabo.episode %}
            <th>{{ ordonnanceLabo.episode.patient.societe }}</th>
            {% else %}
            <th>{{ ordonnanceLabo.hospitalisation.patient.societe }}</th>
            {% endif %}
            <th>Service</th>
            <th></th>
        </tr>


        </tbody>
    </table>
    <table class="table table-bordered">
        <tr class="bg-inverse">
            <th class="text-white text-center col-md-4">Analyses</th>
            <th class="text-white text-center col-md-4">Valeurs</th>
            <th class="text-white text-center col-md-4">Resultats</th>
        </tr>
        {% for res in ordonnanceLabo.resultats %}
        <tr>
            <th>{{ res.acte.actes.designationacte }}</th>
            <th>{{ res.acte.actes.valeur }}</th>
            <td>{% if res.attente %}<p>{{ res.resultat|raw }}</p>{% else %} En Attente{% endif %}</td>
        </tr>
        {% endfor %}
        <tr>
    </table>

    <ul>
        <li>
            <a href="{{ path('ordonnancelabo_index') }}" class="btn btn-info">Liste des examens</a>
        </li>
    </ul>
</div>
{% endblock %}
