<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block titrepage %}{% endblock %}</title>
  <link href="{{ asset('fac/css/bootstrap.min.css') }}" rel="stylesheet" media="screen" />
  <link href="{{ asset('fac/css/style.css') }}" rel="stylesheet" media="all"/>
  <link href="{{ asset('fac/vendor/natshah/bootstrap-print/bootstrap-print.css') }}" type="text/css" rel="stylesheet" media="print" />

</head>
<body>
<button onclick="goBack()" class="btnretour">Retour</button>
<div class="cadre">
  <div class="cadre-interieur">
    <div class="row entete">
      <!--<div class="col-md-2 col-p-2">-->
        <!--<h3><img src="dist/img/logo.png" class="logo" /></h3>-->
      <!--</div>-->
      <!--<div class="col-md-6 col-p-6">-->
        <!--<div class="row">-->
          <!--<span class="entete-titre">HOPITAL BIAMBA MARIE MUTOMBO</span>-->
          <!--<p class="entete-sous-titre">Blvd Lumumba n° 9777 Q/Boba C/Masina</p>-->
          <!--<p class="entete-sous-titre">Kinshasa / RD DU CONGO </p>-->
          <!--<p class="entete-sous-titre">N° ID NAT. : 01-8222-N 46564 X</p>-->
          <!--<p class="entete-sous-titre">N° IMPOT : A0803382L</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-4"></div>-->
    <!--</div>-->
      <div class="entete">
        <table>
          <tr>
            <td>
              <img class="logo" src="/cme/web/assets/images/logo/logoepamed.jpg">

            </td>
            <td>
              <h1 class="" style="margin-left: 120px;">
                CENTRE MEDICAL EDITH
              </h1>
              <p class="text-center" style="margin-top: -15px;text-align: center">
                Av. Labue N°13 LEMBA Foire <br>
                Tél : +243 85 28 55 554 - +243 99 99 52 335
              </p>
            </td>
          </tr>
        </table>

      </div>
    <hr class="ligne-entete" />


      <table width="100%" class="bordure-table">
        <tr>
          <td class="text-right">
            NOM
          </td>
          <td>
            :
          </td>
          <td class="text-left">
           <b>{% block nom %}LUNGUMA NDONGALA{% endblock %}</b>
          </td>
          <td >
            <span class="text-right">Admis le</span>

          </td>
          <td>
            :
          </td>
          <td class="text-left">
            {% block ladate %}{{ ordonance.dateordo|date('d-m-Y') }}{% endblock %}
          </td>
        </tr>
        <tr>
          <td class="text-right">
            N° FICHE
          </td>
          <td>
            :
          </td>
          <td class="text-left">
          {% block fiche %}{% endblock %}

          </td>
          <td>
            <span class="text-right">Sortie le</span>
          </td>
          <td>
            :
          </td>
          <td class="text-left"  >
            {% block sortie %}{% endblock %}
          </td>
        </tr>
        <tr>
          <td class="text-right">
            SEXE
          </td>
          <td>
            :
          </td>
          <td  >
            {% block sexe %}{% endblock %}
          </td>
          <td class="text-right">
            Nombre Jour
          </td>
          <td>
            :
          </td>
          <td class="text-left" >
            {% block nbjrs %}{% endblock %}
          </td>
        </tr>
        <tr>
          <td class="text-right">
            SERVICE
          </td>
          <td>
            :
          </td>
          <td class="text-left">
            {% block service %}GYNECOLOGIE{% endblock %}
          </td>
          <td >
            <br/>


          </td>
          <td>
            :
          </td>
          <td  >
            <br/>


          </td>
        </tr>
        <tr>
          <td class="text-right">
            CATEGORIE
          </td>
          <td>
            :
          </td>
          <td class="text-left">
            <b>{% block cate %}CONVENTIONNEE{% endblock %}</b>
          </td>
          <td >
          </td>
          <td>
            :
          </td>
          <td class="text-left" >

          </td>
        </tr>
        <tr>
          <td class="text-right" >
            SOCIETE
          </td>
          <td>
            :
          </td>
          <td class="text-left">
            <b>{% block societe %}GRAS-SAVOYE{% endblock %}</b>
          </td>
          <td >

          </td>
          <td>
            :
          </td>
          <td class="text-left">

          </td>
        </tr>
      </table>
      <h3 class="titre-principal">{% block titre %}FACTURE N° 123{% endblock %}</h3>
      {% block corps %}
      <table class="table contenu-table">
        <tr>
          <td class="contenu-table-code carre">CODE</td>
          <td class="contenu-table-libelle carre">LIBELLE</td>
          <td class="contenu-table-qte carre">QTE</td>
          <td class="contenu-table-pu carre">PU</td>
          <td class="contenu-table-total carre">TOTAL</td>
        </tr>

        <tr>
          <td colspan="5" ><span class="categorie">123 &nbsp;CONSULTATION</span> </td>

        </tr>
        <tr>
          <td>CODE</td>
          <td>LIBELLE</td>
          <td>QTE</td>
          <td>PU</td>
          <td>TOTAL</td>
        </tr>

        <tr>
          <td colspan="4"></td>
          <td>TOTAL</td>
        </tr>

        <!-- Synthese de facture -->
        <tr>
          <td colspan="4"><span class="text-right">SOUS TOTAL $ :</span> </td>
          <td>{% block soustot %}{% endblock %}</td>
        </tr>
        <tr>
          <td colspan="4"><span class="text-right">Frais Administratifs :</span></td>
          <td>{% block frad %}{% endblock %}</td>
        </tr>
        <tr>
          <td colspan="4"><span class="text-right">TOTAL FACTURE $ :</span></td>
          <td>{% block tot %}{% endblock %}</td>
        </tr>
        <tr>
          <td colspan="4"><span class="text-right">CAUTION :</span></td>
          <td>{% block caution %}{% endblock %}</td>
        </tr>
        <tr>
          <td colspan="4"><span class="text-right">SOLDE FACTURE $ :</span></td>
          <td>{% block solde %}{% endblock %}</td>
        </tr>

      </table>
      {% endblock %}
      {% block basdepage %}
      <h6 class="text-left">POUR LA RECEPTION</h6>
      <h6 class="text-right">{% block auteur %}POUR L'HOPITAL {% endblock %}</h6>
      {% endblock %}
  </div>

</div>
</div>

<script>
  print();
    function goBack() {
        window.history.back();
    }

</script>
<script src="{{ asset('fac/js/bootstrap.min.js') }}"></script>
</body>
</html>
