{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block title %}
    Rendez-vous des patients
{% endblock %}
{% block menu %}
    {% include "hostooSanteBundle:menus:menurc.html.twig" %}
{% endblock %}
{% block titrepage %}
    Rendez-vous des patients
{% endblock %}
{% block options %}{% endblock %}
{% block body %}
    <h3>Nouveau RDV</h3>
    <h2 class="alert alert-warning">
        Choisir une date
    </h2>

    <form action="{{ path('rdv_reception')  }}" method="post" id="rdvmedform">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}

        {{ form_label(form.daterdv,'La Date du Rendez-vous') }}
        {{ form_errors(form.daterdv) }}
        {{ form_widget(form.daterdv) }}
        {{ form_rest(form) }}
        <input type="submit" value="Fixer le RDV" class="btn btn-success" />
    </form>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('rdvmed_index') }}">Back to the list</a>#}
        {#</li>#}
    {#</ul>#}

{% endblock %}