{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block title %}
Rendez-vous des patients du {{ 'now'|date('d-m-Y') }}
{% endblock %}
{% block options %}
<a href="{{ path('rdv_reception') }}" class="btn btn-default">Nouveau RDV</a>
{#<a href="{{ path('rdvmed_show_tout') }}" class="btn btn-success">Voir Tout</a>#}
{% endblock %}
{% block menu %}
    {% include "hostooSanteBundle:menus:menurc.html.twig" %}
{% endblock %}
{% block titrepage %}
    Rendez-vous fixés au {{ 'now'|date('d-m-Y') }}
{% endblock %}
{% block body %}
    {#{% if rDVMeds|length == 0 %}#}
{#<span class="alert alert-dismissable alert-danger">Aucun rendez-vous pour aujourd'hui !</span>#}
{#{% else %}#}
    <div class="col-lg-6">
<div class="card-box">
    <table class="table table-striped">
        <caption><h3>RDV du {{ ""|date('d-m-Y') }}</h3></caption>
        <thead>
            <tr>
                <th>Date</th>
                <th>Patient</th>
                <th>Etat</th>
                <th>Médécin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="mesrdv">
        {% for rDVMed in rDVMeds %}
            <tr>

                <td>{% if rDVMed.daterdv %}{{ rDVMed.daterdv|date('d-m-Y') }}{% endif %}</td>
                <td>

                    {{ rDVMed.patients.nom|upper }} {{ rDVMed.patients.postnom|upper }} {{ rDVMed.patients.prenom|upper }}


                </td>

                <td>
                    {% if rDVMed.etat == "RECU" %}
                    <span class="label label-success"> {{ rDVMed.etat|upper }}</span>
                    {% else %}
                        <span class="label label-danger"> {{ rDVMed.etat|upper }}</span>
                    {% endif %}
                        </td>
                <td>
                    {{ rDVMed.medecin.nom|upper }}
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('hostoo_sante_voirpatient', { 'id': rDVMed.patients.id }) }}" class="btn btn-success">Afficher</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    </div>
<div class="col-lg-6">
    <div class="card-box">
    {{ render(controller('hostooRDVBundle:RDVMed:LesRDVTout')) }}
</div>
</div>
{#{% endif %}#}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:datatable.style.html.twig' %}
    {% include 'hostooSanteBundle:plugins:modals.style.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:datatable.scripts.html.twig' %}
    {% include 'hostooSanteBundle:plugins:modals.html.twig' %}
<script>
    $(function () {
        $('.tout').dataTable({
            "bProcessing": true,
            "bDeferRender": true,
            deferRender: true,
            scrollY: 800,
            scrollCollapse: true,
            scroller: true,
            dom: "Bfrtip",
            buttons: [{extend: "copy", className: "btn-sm"}, {extend: "csv", className: "btn-sm"}, {
                extend: "excel",
                className: "btn-sm"
            }, {extend: "pdf", className: "btn-sm"}, {extend: "print", className: "btn-sm"}],

            language: {
                processing: "Traitement en cours...",
                search: "Rechercher&nbsp;:",
                lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                infoPostFix: "",
                loadingRecords: "Chargement en cours...",
                zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                emptyTable: "Aucune donnée disponible dans le tableau",
                paginate: {
                    first: "Premier",
                    previous: "Pr&eacute;c&eacute;dent",
                    next: "Suivant",
                    last: "Dernier"
                },
                aria: {
                    sortAscending: ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            }
        });
        });

    </script>
    {% endblock %}
