{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titrepage %}Liste des examens{% endblock %}
{% block options %}{% endblock %}
{% block menu %}{% include 'hostooSanteBundle:menus:menuimg.html.twig' %}{% endblock %}
{% block body %}

    <div class="card-box">
        <table class="table table-striped" id="patients">
            <thead>
            <tr>
                <th>N°</th>
                <th>Nom - Postnom - Prénom</th>
                <th>Sexe</th>
                <th>Date de naissance</th>


                <th>Societé</th>
                <th>Examens</th>
                <th>Medecin</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for ord in exd %}
                <tr>
                    {% if ord.episode %}
                    <td>{{ ord.episode.patient.id }}</td>

                    <td>{{ ord.episode.patient.nom }} {{ ord.episode.patient.postnom }} {{ ord.episode.patient.prenom }} </td>
                    <td>{% if ord.episode.patient.sexe == true %}M{% else %}F{% endif %}</td>
                    <td>{% if ord.episode.patient.datenaissance %}{{ ord.episode.patient.datenaissance|date('d/m/Y') }}{% else %}<span class="label label-warning">Pas de date</span> {% endif %}</td>
                    <td>{% if ord.episode.patient.societe %}{{ ord.episode.patient.societe.nom }}{% else %}PRIVE {% endif %}</td>

                {% else %}
                    <td>{{ ord.hospitalisation.patient.id }}</td>
                    <td>{{ ord.hospitalisation.patient.nom }} {{ ord.hospitalisation.patient.postnom }} {{ ord.hospitalisation.patient.prenom }} </td>
                    <td>{% if ord.hospitalisation.patient.sexe == true %}M{% else %}F{% endif %}</td>
                    <td>{% if ord.hospitalisation.patient.datenaissance %}{{ ord.hospitalisation.patient.datenaissance|date('d/m/Y') }}{% else %}<span class="label label-warning">Pas de date</span> {% endif %}</td>
                    <td>{% if ord.hospitalisation.patient.societe %}{{ ord.hospitalisation.patient.societe.nom }}{% else %}PRIVE {% endif %}</td>

                    {% endif %}<td>
                        <ul>
                            {% for res in ord.resultats %}
                                <li>{{ res.acte.actes.designationacte }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ ord.medecin }}</td>
                    <td>

                            <a href="{{ path('ordonnanceimg_show',{'id':ord.id}) }}" class="btn btn-success" title="Bon d'examens" > <i class="fa fa-eye"></i></a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
