{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block menu %}
    {% include 'hostooSanteBundle:menus:menunrs.html.twig' %}
{% endblock %}
{% block body %}

{% if episodes == null %}
    <h2>Pas de liste</h2>
    {% else %}
        <table class="table table-striped" id="listepatients">
            <thead>
        <tr>
            <th>Date</th>
            <th>Nom</th>
            <th>Sexe</th>

            <th></th>
        </tr></thead>
            <tbody>
        {% for episode in episodes %}
       <tr>
           <td>{{ episode.dateepisode|date('d-m-Y') }}</td>
                <td>{{ episode.patient.nom }}  {{ episode.patient.postnom }}  {{ episode.patient.prenom }}</td>
                <td>{% if episode.patient.sexe == true %}M{% else %}F{% endif %}</td>
            <td><a class="btn btn-sm  btn-success" data-toggle="modal" data-target="#signes-vitaux{{ episode.id }}">Signes vitaux</a>&nbsp;&nbsp;
                <a class="btn btn-sm btn-pink" data-toggle="modal" data-target="#actes{{ episode.id }}">Poser Actes</a>
                <a class="btn btn-sm btn-custom"  data-toggle="modal" data-target="#fiche{{ episode.id }}">Details</a>
                <div id="signes-vitaux{{ episode.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-full">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="full-width-modalLabel">Prendre des signes Vitaux</h4>
                            </div>
                            <div class="modal-body">
                    {{ render(controller('hostooSanteBundle:Prelevement:ajouterSV',{'id':episode.id    })) }}
                                </div>
                            </div>
                        </div>

                </div>
                <div id="fiche{{ episode.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="full-width-modalLabel">Fiche du patient</h4>
                            </div>
                            <div class="modal-body">
                               <dl class="dl-horizontal">
                                   <dt>Nom :</dt>
                                   <dd>{{ episode.patient.nom }}</dd>
                                   <dt>Postnom :</dt>
                                   <dd>{{ episode.patient.postnom }}</dd>
                                   <dt>Prenom :</dt>
                                   <dd>{{ episode.patient.prenom }}</dd>
                                   <dt>Age :</dt>
                                   <dd>{{ "now"|date('Y')-episode.patient.datenaissance|date('Y') }}</dd>
                                   <dt>Sexe :</dt>
                                   <dd>
                                       {% if episode.patient.sexe==1 %}
                                           M
                                       {% else %}
                                           F
                                       {% endif %}</dd>
                                   <dt>Type de Client :</dt>
                                   <dd>{{ episode.patient.societe.convention.nomconvention }}</dd>
                                   <dt>Nombre des visites :</dt>
                                   <dd>{{ episode.patient.episode|length }}</dd>
                               </dl>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="actes{{ episode.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-full">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="full-width-modalLabel">Actes Medicaux</h4>
                            </div>
                            <div class="modal-body">
                                <h5 class="m-t-30"><b>Recherche</b></h5>
                                <p class="text-muted m-b-15 font-13">
                                    Selectionner les actes des premiers soins du patient.
                                </p>
<form class="form-inline" action="{{ path('recupprev') }}" method="post">
    <input type="hidden" name="episode" value="{{ episode.id }}">
    <select name="country[]" class="multi-select" multiple="" id="my_multi_select{{ episode.id }}" >
        {% for acte in mesactes %}
        <option value="{{ acte.id }}">{{ acte.designationacte }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    <input type="submit" value="Soumettre les actes" class="btn btn-custom">
    <input type="reset" value="Annuler" class="btn btn-danger">
</form>

                            </div>
                        </div>
                    </div>

                </div>
            {#{% if rdvc != null %} <button class="small green"></button>{% else %}<button class="small red"></button>{% endif %}#}
            </td>
                {#<td><a href="{{ path('hostoo_sante_voirpatient',{'id':patient.id}) }}" class="btn btn-info" > <i class="fa fa-eye"></i>Details</a></td>#}
            </tr>{% endfor %}
</tbody>
            </table>

        {% endif %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('assets/plugins/jquery-datatables-editable/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/multiselect/js/jquery.multi-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/jquery-quicksearch/jquery.quicksearch.js') }}"></script>
    <script src="{{ asset('assets/plugins/select2/dist/js/select2.min.js') }}" type="text/javascript"></script>
    <script>
        $(function () {
           $('#listepatients').dataTable();
        });
    </script>
    <script>
$(function () {

    {% for episode in episodes %}
        //advance multiselect start
        $('#my_multi_select{{ episode.id }}').multiSelect({
            selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            afterInit: function (ms) {
                var that = this,
                        $selectableSearch = that.$selectableUl.prev(),
                        $selectionSearch = that.$selectionUl.prev(),
                        selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                        selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                        .on('keydown', function (e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                        .on('keydown', function (e) {
                            if (e.which == 40) {
                                that.$selectionUl.focus();
                                return false;
                            }
                        });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            }
        });
    {% endfor %}
    // Select2
    $(".select2").select2();

    $(".select2-limiting").select2({
        placeholder: "Choisir les actes"
    });


});
    </script>
    <script>
        $('#signes_vitaux_taille').on('change',function () {
            var poids=$('#signes_vitaux_poids').val();
            $('#signes_vitaux_imc').val(poids/(Math.pow($(this).val(),2)));
        });

        $('#signes_vitaux_pp').on('change',function () {
            var poids=$('#signes_vitaux_pa').val();
            $('#signes_vitaux_wrh').val($(this).val()/poids,2);
        });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/jquery-datatables-editable/datatables.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/multiselect/css/multi-select.css') }}"  rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/select2/dist/css/select2.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/plugins/select2/dist/css/select2-bootstrap.css') }}" rel="stylesheet" type="text/css">
{% endblock %}