{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titre %} Parenté du patient{% endblock %}
{% block titrepage %} Parenté du patient{% endblock %}
{% block options %}
    <a href="{{ path('hostoo_sante_voirpatient',{'id':patient.id}) }}" class="btn btn-info" >  <i class="fa fa-backward"></i> Parent</a>
{% endblock %}
{% block menu %}
    {% include "hostooSanteBundle:menus:menurc.html.twig" %}
{% endblock %}
{% block body %}
    <div class="card-box">
        <div class="row">
    <div class="col-md-4">
        <h3>Formulaire</h3>
<form action="{{ path('hostoo_ajouter_parent',{'id':patient.id}) }}" method="post" class="vertical">
    {{ form_label(form.nom) }}
    {{ form_errors(form.nom) }}
    {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.prenom,"Prénom") }}
    {{ form_errors(form.prenom) }}
    {{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.parente,"Parenté") }}
    {{ form_errors(form.parente) }}
    {{ form_widget(form.parente,{'attr':{'class':'form-control'}}) }}
   <fieldset class="clearfix"> {{ form_label(form.moi,"Fiche Patient") }}<br>
    {{ form_label(form.moi.nom) }}
    {{ form_errors(form.moi.nom,{'attr':{'class':'text-danger'}}) }}
    {{ form_widget(form.moi.nom,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.moi.postnom) }}
    {{ form_errors(form.moi.postnom) }}
    {{ form_widget(form.moi.postnom,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.moi.prenom,"Prénom") }}
    {{ form_errors(form.moi.prenom) }}
    {{ form_widget(form.moi.prenom,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.moi.sexe) }}
    {{ form_errors(form.moi.sexe) }}
    {{ form_widget(form.moi.sexe,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.moi.datenaissance, 'Date de naissance') }}
    {{ form_errors(form.moi.datenaissance) }}
    {{ form_widget(form.moi.datenaissance,{'attr':{'class':'form-control'}}) }}


    {{ form_label(form.moi.nationalite,"Nationalité") }}
    {{ form_errors(form.moi.nationalite) }}
    {{ form_widget(form.moi.nationalite,{'attr':{'class':'form-control'}}) }}

                {{ form_label(form.moi.adresse) }}
                {{ form_errors(form.moi.adresse) }}
                {{ form_widget(form.moi.adresse,{'attr':{'class':'form-control'}}) }}

                {{ form_label(form.moi.telephone1) }}
                {{ form_errors(form.moi.telephone1) }}
                {{ form_widget(form.moi.telephone1,{'attr':{'class':'form-control'}}) }}

                {{ form_label(form.moi.telephone2) }}
                {{ form_errors(form.moi.telephone2) }}
                {{ form_widget(form.moi.telephone2,{'attr':{'class':'form-control'}}) }}

                {{ form_label(form.moi.societe) }}
                {{ form_errors(form.moi.societe) }}
                {{ form_widget(form.moi.societe,{'attr':{'class':'form-control'}}) }}

                {{ form_label(form.moi.formule) }}
                {{ form_errors(form.moi.formule) }}
                {{ form_widget(form.moi.formule,{'attr':{'class':'form-control'}}) }}

   </fieldset>
                <br>
    {{ form_widget(form.save,{'attr':{'class':'btn btn-block btn-info'}}) }}


</form></div>
    <div class="col-md-8">
        <h3>Liste des parents du patient</h3>
        <hr>
        {% if dependants == null %}
            <span class="alert alert-danger alert-dismissable"><i class="fa fa-"></i>Aucune dependance</span>
         {% else %}
        <table class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Parenté</th>
            </tr>
            {% for dep in dependants %}
            <tr>
                <th>{{ dep.nom }}</th>
                <th>{{ dep.prenom }}</th>
                <th>{{ dep.parente.parente }}</th>
            </tr>
                {% endfor %}
        </table>
             {% endif %}
    </div></div></div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:timepicker.style.html.twig' %}
    {% endblock %}
{% block javascripts %}
{{ parent() }}
    {% include 'hostooSanteBundle:plugins:timepicker.js.html.twig' %}
    <script>
        $('#dependant_nom').on('change',function () {
            $('#dependant_moi_nom').val($(this).val());
        });
        $('#dependant_prenom').on('change',function () {
            $('#dependant_moi_prenom').val($(this).val());
        });
        $(function () {
            $('#dependant_moi_datenaissance').datepicker({
                autoclose: true,
                dateFormat: "dd/mm/yyyy",
                language:'fr-FR',
                dayNames: [ "Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi" ],
                monthNames: ["Janvier","Fevrier","Mars","Avril","Mai","Juin","Juillet","Aout","Septembre","Octobre","Novembre","Decembre"],
                todayHighlight: true

            });
        });
    </script>
{% endblock %}