{% extends "hostooSanteBundle::blank.html.twig" %}
{% block menu %}
    {% include "hostooSanteBundle:menus:menurc.html.twig" %}
{% endblock %}
{% block titrepage %}
    Modifier le  patient
    {% endblock %}
{% block options %}{% endblock %}
{% block body %}

    <div class="col-md-10 col-md-offset-1"><div class="card-box">
        <div class="row">
<form action="{{ path('hostoo_sante_editpatientrc',{'id':patient.id }) }}" method="post">
    <div class="form-group">
<div class="col-lg-6">

    {{ form_label(form.nom) }}
    {{ form_errors(form.nom,{'attr':{'class':'text-danger'}}) }}
    {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.postnom) }}
    {{ form_errors(form.postnom) }}
    {{ form_widget(form.postnom,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.prenom,"Prénom") }}
    {{ form_errors(form.prenom) }}
    {{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.sexe) }}
    {{ form_errors(form.sexe) }}
    {{ form_widget(form.sexe,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.datenaissance, 'Date de naissance') }}
    {{ form_errors(form.datenaissance) }}
    {{ form_widget(form.datenaissance,{'attr':{'class':'bg-success'}}) }}


    {{ form_label(form.nationalite,"Nationalité") }}
        {{ form_errors(form.nationalite) }}
    {{ form_widget(form.nationalite,{'attr':{'class':'form-control'}}) }}



    <br>



</div>
<div class="col-lg-6">

    {{ form_label(form.adresse) }}
    {{ form_errors(form.adresse) }}
    {{ form_widget(form.adresse,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.telephone1) }}
    {{ form_errors(form.telephone1) }}
    {{ form_widget(form.telephone1,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.telephone2) }}
    {{ form_errors(form.telephone2) }}
    {{ form_widget(form.telephone2,{'attr':{'class':'form-control'}}) }}


    {{ form_label(form.numerodossier,"Numero dossier") }}
    {{ form_errors(form.numerodossier) }}
    {{ form_widget(form.numerodossier,{'attr':{'class':'form-control'}}) }}

    <div class="">{{ form_rest(form) }}</div>
</div>
<div class="col-lg-12 center">
    {{ form_widget(form.save,{'attr':{'class':'btn-primary btn-large'}}) }}

</div>
    </div>
</form>
        </div>
    </div></div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:timepicker.style.html.twig' %}

    {% include "hostooSanteBundle:plugins:modals.style.html.twig" %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:timepicker.js.html.twig' %}
    {#<script src="{{ asset('assets/js/jquery-ui.js') }}"></script>#}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
    <script type="application/javascript">

            // Date Picker
            $(function () {
                $('#patient_datenaissance').datepicker({
                    autoclose: true,
                    dateFormat: "dd/mm/yy",
                    language:'fr-FR',
                    dayNames: [ "Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi" ],
                    monthNames: ["Janvier","Fevrier","Mars","Avril","Mai","Juin","Juillet","Aout","Septembre","Octobre","Novembre","Decembre"],
                    todayHighlight: true

                });
            });
        $inp=$('#motcle');
        $inp.keyup(function(event){
            $('#mesitems').show().html('');
            //$(".loading").show();
            var motcle = $(this).val();
            var DONNEE = 'motcle=' + motcle;
            $.ajax({
                type: "POST",
                dataType:'json',
                url: Routing.generate('recherche_patient'),
                data: DONNEE,
                cache: false,
                minLength: 2,
                beforeSend: function () {
                    $('#mesitems').find('li').remove();
                },
                success: function(data) {


                    $.each(data.items, function(index,value) {
                        //$("#ott").text(value.libelle+'<br/>'+value.Prix);
                        var nophoto="../../jquery-ui/images/no_image.jpg";
                        var lien=Routing.generate('hostoo_sante_voirpatient',{id:value.id});
                        var lien2=Routing.generate('hostoo_ajouter_parent',{id:value.id});
                        var lien3=Routing.generate('hostoo_ajouter_parent',{id:value.id});
                        $('#mesitems').prepend('<li class="list-group-item"><img src='+nophoto+' class="box-carre" />'+value.nom+' '+value.postnom+' '+value.prenom+'<div class="btn-group pull-right"><a href="'+lien2+'" class="btn btn-success">Dependants</a><a class="btn btn-info" href="'+lien+'">Afficher</a><a class="btn btn-warning" href="'+lien3+'">Episode</a><a class="btn btn-warning" href="#">Control</a></div> </li>');
                        //$('#resultats').html('<div>'+value.libelle+'</div>');
                        //alert(value.libelle);
                    });

                    // $(".loading").hide();
                }
            });
            return false;
        });



    </script>
    {% include "hostooSanteBundle:plugins:modals.html.twig" %}
{% endblock %}
