{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titre %}{{ parent() }}:: ajouter une categorie{% endblock %}
{% block titrepage %} ajouter une categorie{% endblock %}
{% block menu %}
    {% include 'hostooUserBundle:menus:menuphar.html.twig' %}
{% endblock %}
{% block body %}

    <div class="col_6 column">
    <form action="{{ path('hp_ajoutercatt') }}" method="post">
        <div class="input-group">
        {{ form_label(form.nom) }}
        {{ form_errors(form.nom) }}
        {{ form_widget(form.nom,{'attr':{'class':'col_12'}}) }}

        {{ form_widget(form.save,{'attr':{'class':'small'}}) }}

        </div>
        {{ form_rest(form) }}
    </form>

    </div>
    <div class="col_6 column">
        <table class="table table-bordered table-striped table-hover" width="auto" >
            <tr>
                <th>Nom de la Catégorie du produit</th>
            </tr>
            {% for cat in catts %}
                <tr>
                    <th>{{ cat.nom }}</th></tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}