{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titre %}{{ parent() }}:: Ajouter un Produit{% endblock %}
{% block titrepage %} Ajouter un Produit{% endblock %}
{% block menu %}
    {% include 'hostooUserBundle:menus:menuphar.html.twig' %}
{% endblock %}
{% block body %}

<form action="{{ path('hp_ajouterproduit') }}" class="vertical col-lg-5" method="post">
    <div class="row">
        <div class="card-box">
    <div class="col-md-6">
    {{ form_label(form.nom) }}
    {{ form_errors(form.nom) }}
    {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.categorie) }}
    {{ form_errors(form.categorie) }}
    {{ form_widget(form.categorie,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.nature) }}
    {{ form_errors(form.nature) }}
    {{ form_widget(form.nature,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.origine) }}
    {{ form_errors(form.origine) }}
    {{ form_widget(form.origine,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.grammage) }}
    {{ form_errors(form.grammage) }}
    {{ form_widget(form.grammage,{'attr':{'class':'form-control'}}) }}
    </div>
    <div class="col-md-6">
    {{ form_label(form.boite,'Emballage :') }}
    {{ form_errors(form.boite) }}
    {{ form_widget(form.boite,{'attr':{'class':'form-control'}}) }}
{{ form_label(form.plaquette,'Nbre de plaquette :') }}
    {{ form_errors(form.plaquette) }}
    {{ form_widget(form.plaquette,{'attr':{'class':'form-control'}}) }}

        {{ form_label(form.unite,'Unité :') }}
        {{ form_errors(form.unite) }}
        {{ form_widget(form.unite,{'attr':{'class':'form-control'}}) }}
{{ form_label(form.alert,'Quantité d\'alert :') }}
    {{ form_errors(form.alert) }}
    {{ form_widget(form.alert,{'attr':{'class':'form-control'}}) }}


    {{ form_label(form.prix, 'Prix:') }}
    {{ form_errors(form.prix) }}
    {{ form_widget(form.prix,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.dateexp, 'Date d\'expiration') }}
    {{ form_errors(form.dateexp) }}
    {{ form_widget(form.dateexp,{'attr':{'class':'form-control'}}) }}
    </div>
    {{ form_widget(form.save,{'attr':{'class':'btn btn-block'}}) }}
        </div>
    </div>
    {#{{ form_rest(form) }}#}
</form>

{% endblock %}
{% block stytesheets %}
    {{ parent() }}
{% include 'hostooSanteBundle:plugins:timepicker.style.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- Plugins Js -->
    {% include "hostooSanteBundle:plugins:timepicker.js.html.twig" %}
    <script>
        $(function () {
            //$.datepicker.setDefaults( $.datepicker.regional[ "fr" ] );
            // Date Picker
            jQuery('#produit_dateexp').datepicker({
                autoclose: true,
                format: "dd/mm/yyyy",
                dayNames: [ "Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi" ],
                monthNames: ["Janvier","Fevrier","Mars","Avril","Mai","Juin","Juillet","Aout","Septembre","Octobre","Novembre","Decembre"],
                todayHighlight: true

            });

        });
    </script>
{% endblock %}