{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titre %}{{ parent() }}::Pharmacie{% endblock %}
{% block titrepage %}Pharmacie{% endblock %}
{% block menu %}
    {% include 'hostooUserBundle:menus:menuphar.html.twig' %}
{% endblock %}
{% block body %}

    <!-- Liste de médicaments -->
    <!-- Tabs Left -->
    <ul id="rec-tabler" class="tabs left">
        <li><a href="#tabr1">Livraisons</a></li>
        <li><a href="#tabr2">Réapprovisionnement</a></li>
        <li><a href="#tabr3">ordonnances</a></li>
    </ul>

    <div id="tabr1" class="tab-content"><!-- Premier onglet -->
        <div class="row">
            <div class="col_8">
                <div class="panel panel-default">
                    <div class="panel-heading">Produits</div>
                <div class="panel-body">
                <form>
                    <label class="col_12"><u>Liste</u> :</label><br>
                    <table id="example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>

                            <th>Name</th>
                            <th>Plaquette</th>
                            <th>unité</th>
                            <th>Prix</th>
                            <th>Valeur en stock</th>
                            <th>Nature</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
{% set n=0 %}
                        {% for produit in produits %}
                        <tr>
                            <td>{{ produit.nom }}</td>
                            <td>{{ produit.plaquette }}</td>
                            <td>{{ produit.unite }}</td>
                            <td>{{ produit.prix }}</td>
                            <td>{{ produit. }}</td>
                            <td>{{ produit.nature.nom }}</td>
                            <td>
                                <form action="{{ path('hp_ajouteritem',{'id':produit.id}) }}" method="post">
                                <div class="make-switch" data-on="success" data-off="info">
                                    <label for="my-checkbox"></label>
                                    <input type="checkbox" name="coche" value="{{ produit.id }}" onchange="this.form.submit()" {% if medic[produit.id] is defined %}checked{% endif %} >
                                </div>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <label class="col_12"><u>Medecin traitant</u> :
                        <input type="text" />
                    </label><br>

                </form>
                </div>
            </div>
            </div>
            <div class="col_4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Commande</div>
                    <div class="panel-body">
                        {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ flashMessage }}
                        </div>
                        {% endfor %}
                        {%  set n=0 %}
                        {% set somItem=0 %}
              <table class="blue striped">
                  <thead>
                  <tr>
                      <th>Designation</th><th>Qte</th><th>P.U</th><th>Prix</th><th></th>
                  </tr>
                  {% if medic == null %}
                      <tr>
                          <td rowspan="5">Aucun Produit selectionné</td>
                      </tr>
                      {% else %}
                      {% for prod in items %}

                  <tr>
                      <td>{{ prod.nom }}</td><td>
                          {% include 'hostooPharmacieBundle:pharmacie:addstock.html.twig' %}
                      </td><td>{{ prod.prix }}</td>
                      <td>{{ prod.prix * medic[prod.id] }}</td><td><a href="{{ path('hp_supprimeritem',{'id':prod.id }) }}"><i class="fa fa-recycle"></i></a> </td>
                  </tr>
                        {% set somItem=somItem + prod.prix * medic[prod.id] %}
                  {% endfor %}
                  {% endif %}
                  </thead>
                  <tbody>

                  <tr>
                      <td></td><td></td><td></td><td></td><td></td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                      <td colspan="2">&nbsp;</td><td colspan="3"> Prix Total {{ somItem }} USD (120000 CDF)</td>
                      </tr>
                  <tr>
                      <td colspan="5" class="right"><a href="{{ path('hp_annuleritems') }}" class="btn btn-sm red">Annuler</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-lg green">Valider la commande</a></td>

                  </tr>
                  </tfoot>
              </table></div></div>
            </div>
        </div>
    </div>
    <div id="tabr2" class="tab-content">
    <div class="row">
        <div class="col_12">
            <div class="panel panel-default">
                <div class="panel-heading">Produits</div>
                <div class="panel-body">
                    <form>
                        <label class="col_12"><u>Liste</u> :</label><br>
                        <table id="produit" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>

                                <th>Name</th>
                                <th>Grammage</th>
                                <th>Prix d'Achat</th>
                                <th>Prix</th>
                                <th>Qte</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for produit in produits %}
                                <tr>
                                    <td>{{ produit.nom }}</td>
                                    <td>{{ produit.grammage }} mg</td>
                                    <td>{{ produit.prixachat }}</td>
                                    <td>{{ produit.prix }}</td>
                                    <td>
                                        <input type="number" name="qte" class="col_4" />
                                    </td>
                                    <td>
                                        <a href="{{ path('hp_modifproduit',{'id': produit.id}) }}"><i class="fa fa-edit"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div></div>
    <div id="tabr3" class="tab-content"><!-- Sixième onglet -->
    <div class="row">
    <div class="col_12">
        <div >
            <table id="ordos" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Patient</th>
                    <th>Date</th>
                    <th>Medecin</th>
                </tr>
                </thead>
                <tbody>
                {% for ord in ordonnances %}
                <tr>
                    <td>{{ ord.episode.patient.nom }}</td>
                    <td>{{ ord.dateordo|date('d-m-Y') }}</td>
                    <td>&nbsp;</td>
                </tr>
                    <tr class="bg-brick">
                        <td>medicaments</td>
                        <td>Posologie</td>
                        <td>Quantité</td>
                    </tr>
                    {% for medoc in ord.posologie %}
                        <tr>
                            <td>{{ medoc.produit.nom }}</td>
                            <td>{{ medoc.posologie }}</td>
                            <td>{{ medoc.qte }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        {% if ord.livre==0 %}
                        <td colspan="3"><a href="{{ path('hp_livreproduits',{'id':ord.id}) }}"><button>Livrer</button></a> </td>
                        {% else %}
                            <td colspan="3"><button class="btn btn-success"><i class="fa fa-check text-white"></i> </button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div></div>
    <script>
        $(function() {
            //$('.dash-report-item').matchHeight();
        });
        $(document).ready(function() {
            var sideslider = $('[data-toggle=collapse-side]');
            var sel = sideslider.attr('data-target');
            var sel2 = sideslider.attr('data-target-2');
            sideslider.click(function(event){
                $(sel).toggleClass('in');
                $(sel2).toggleClass('out');
            });
                var checkmy=$('input[name="my-checkbox"]');

            checkmy.bootstrapSwitch('onText', 'Oui');
            checkmy.bootstrapSwitch('offText', 'Non');
            checkmy.bootstrapSwitch('onColor', 'success');
            checkmy.bootstrapSwitch('offColor', 'danger');
            checkmy.bootstrapSwitch('size', 'mini');
        });
        $(document).ready(function() {
            $('#example').DataTable();
            $('#example1').DataTable();
            $('#produit').DataTable();
            $('#ordos').DataTable();
        } );
    </script>


{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('makeup/js/bootstrap-switch.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('makeup/js/bootstrap-datetimepicker.js') }}"></script>
    {% endblock %}
{% endblock %}