{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titre %}{{ parent() }} ::Tableau de Bord :: Pharmacie{% endblock %}
{% block titrepage %} Tableau de Bord :: Pharmacie{% endblock %}
{% block menu %}
    {% include 'hostooUserBundle:menus:menuphar.html.twig' %}
{% endblock %}
{% block options %}

{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ produits|length }}</h2>
                    <h5>Produits</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ ordos|length }}</h2>
                    <h5>Ordonnances</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ stocks|length }}</h2>
                    <h5>Approvisionnements</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">1254</h2>
                    <h5>Daily Sales</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card-box">
            <table class="table" id="lesproduits">
                <caption><h4>Les Produits</h4></caption>
                <thead>
                <tr>
                    <th>Nom produit</th>
                    <th>Quantité</th>
                </tr>
                </thead>
                <tbody>
                {% for mst in produits %}
                    <tr>
                        <td>{{ mst.nom }}</td>
                        <td>{% if mst.stocktot %}{{ mst.stocktot.qte }}{% else %}0{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

        <div class="col-lg-6 col-md-12">
            <div class="card-box">
                <table class="table" id="lesappros">
                    <caption><h4>Les Approvisonnements</h4></caption>
                    <thead>
                    <tr>
                        <th>Nom produit</th>
                        <th>Quantité</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mst in stocks %}
                    <tr>
                        <td>{{ mst.produitin.nom }}</td>
                        <td>{{ mst.qte }}</td>
                        <td>{{ mst.datestock|date('d-m-Y') }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    {% include 'hostooSanteBundle:plugins:datatable.scripts.html.twig' %}
    <script>
        $(function () {
            $('#lesproduits').dataTable();
            $('#lesappros').dataTable();
        });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:datatable.style.html.twig' %}
{% endblock %}