{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block menu %}
    {% if is_granted('ROLE_MEDECIN') %}
        {% include 'hostooSanteBundle:menus:menudoc.html.twig' %}
    {% elseif  is_granted('ROLE_INFIRMIER') %}
        {% include 'hostooSanteBundle:menus:menunrs.html.twig' %}
    {% endif %}
{% endblock %}
{% block titrepage %}

{% endblock %}
{% block options %}
<ul class="list-unstyled">
    {% if is_granted('ROLE_MEDECIN') %}
    <li>
        <a href="{{ path('hospitalisation_new') }}" class="btn btn-success">Nouvelle Hospitalisation</a>
    </li>
     {% endif %}
</ul>
{% endblock %}
{% block body %}
    <h3>Patients hospitalisés</h3>
<div class="card-box">
    <table  class="table table-striped">
        <thead>
            <tr>
                <th>N°</th>
                <th>Date d'entrée</th>
                <th>Medecin</th>
                <th>Patient</th>
                <th>Chambre</th>
                <th>Entreprise</th>
                <th>Date de sortie</th>
                <th>Type de hospitalisation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hospitalisation in hospitalisations %}
            <tr>
                <td><a href="{{ path('hospitalisation_show', { 'id': hospitalisation.id }) }}">{{ hospitalisation.id }}</a></td>
                <td>{% if hospitalisation.datehospi %}{{ hospitalisation.datehospi|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ hospitalisation.medecin }}</td>
                <td>{{ hospitalisation.patient }}</td>
                <td>{{ hospitalisation.chambre }}</td>
                <td>{{ hospitalisation.patient.societe }}</td>
                <td>{% if hospitalisation.datesortie %}{{ hospitalisation.datesortie|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ hospitalisation.typehospitalisation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('hospitalisation_show', { 'id': hospitalisation.id }) }}">afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('hospitalisation_edit', { 'id': hospitalisation.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% if is_granted('ROLE_MEDECIN') %}
    <ul class="list-unstyled">
        <li>
            <a href="{{ path('hospitalisation_new') }}" class="btn btn-success">Nouvelle Hospitalisation</a>
        </li>
    </ul>
    {% endif %}
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:datatable.style.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:datatable.scripts.html.twig' %}
    <script>
        $(function () {
            $('.table').dataTable({
                "order":[['0','desc']]
            });
        });
    </script>
{% endblock %}