{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block menu %}
    {% if is_granted('ROLE_MEDECIN') %}
        {% include 'hostooSanteBundle:menus:menudoc.html.twig' %}
    {% elseif  is_granted('ROLE_INFIRMIER') %}
        {% include 'hostooSanteBundle:menus:menunrs.html.twig' %}
    {% endif %}
{% endblock %}
{% block body %}
    <h1>Enregistrer une Hospitalisation</h1>

    {{ form_start(form) }}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_label(form.datehospi) }}
        {{ form_errors(form.datehospi) }}
        {{ form_widget(form.datehospi) }}


    {{ form_label(form.typehospitalisation) }}
    {{ form_errors(form.typehospitalisation) }}
    {{ form_widget(form.typehospitalisation) }}

    {{ form_label(form.chambre) }}
    {{ form_errors(form.chambre) }}
    {{ form_widget(form.chambre) }}

    {{ form_label(form.patient) }}
    {{ form_errors(form.patient) }}
    {{ form_widget(form.patient,{'attr':{'class':'select2'}}) }}


    {{ form_label(form.medecin) }}
    {{ form_errors(form.medecin) }}
    {{ form_widget(form.medecin) }}
    <br>
    <input type="submit" value="Enregistrer" class="btn btn-success"/>
    {{ form_end(form) }}
    <br>
    <ul class="list-unstyled">
        <li>
            <a href="{{ path('hospitalisation_index') }}" class="btn btn-info">Liste des hospitalisations</a>
        </li>
    </ul>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/select2/dist/css/select2.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/plugins/select2/dist/css/select2-bootstrap.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/select2/dist/js/select2.min.js') }}" type="text/javascript"></script>
    <script>
        $(function () {
            $(".select2").select2();
        });
    </script>
{% endblock %}