{% extends 'hostooSanteBundle:Caisse:modele_facture.html.twig' %}
{% block date %} {{ resultatsImg.ordonnance.dateordo|date('d-m-Y') }} {% endblock %}
{% block titre %} EXAMEN D'IMAGERIE N° {{ resultatsImg.id }} {% endblock %}
{% block title %} EXAMEN D'IMAGERIE N° {{ resultatsImg.id }} {% endblock %}

     {% block nom %}
         {% if resultatsImg.ordonnance.episode %}
             {{ resultatsImg.ordonnance.episode.patient.nom }} {{ resultatsImg.ordonnance.episode.patient.postnom }} {{ resultatsImg.ordonnance.episode.patient.prenom }}
         {% elseif resultatsImg.ordonnance.hospitalisation %}
             {{ resultatsImg.ordonnance.hospitalisation.patient.nom }} {{ resultatsImg.ordonnance.hospitalisation.patient.postnom }} {{ resultatsImg.ordonnance.hospitalisation.patient.prenom }}
         {% elseif resultatsImg.ordonnance.urgence %}

             {{ resultatsImg.ordonnance.urgence.patient.nom }} {{ resultatsImg.ordonnance.urgence.patient.postnom }} {{ resultatsImg.ordonnance.urgence.patient.prenom }}
         {% else %}
             {{ resultatsImg.ordonnance.requerant.nom }} {{ resultatsImg.ordonnance.requerant.postnom }} {{ resultatsImg.ordonnance.requerant.prenom }}
         {% endif %}
     {% endblock %}
     {% block sexe %}

         {% if resultatsImg.ordonnance.episode %}
             {% if resultatsImg.ordonnance.episode.patient.sexe  %} M {% else %} F {% endif %}
         {% elseif resultatsImg.ordonnance.urgence %}
             {% if resultatsImg.ordonnance.urgence.patient.sexe  %} M {% else %} F {% endif %}
         {% elseif resultatsImg.ordonnance.hospitalisation %}
             {% if resultatsImg.ordonnance.hospitalisation.patient.sexe  %} M {% else %} F {% endif %}
         {% elseif resultatsImg.ordonnance.requerant %}
             {% if resultatsImg.ordonnance.requerant.sexe  %} M {% else %} F {% endif %}
         {% endif %}
     {% endblock %}
        {% block age %}
            {% if resultatsImg.ordonnance.episode %}
                {{ ""|date('Y')-resultatsImg.ordonnance.episode.patient.datenaissance|date('Y') }} ans
            {% endif %}
        {% endblock %}
     {% block cate %}
         {% if resultatsImg.ordonnance.episode %}
             {{ resultatsImg.ordonnance.episode.patient.convention.nomconvention }}
         {% elseif resultatsImg.ordonnance.hospitalisation %}
             {{ resultatsImg.ordonnance.hospitalisation.patient.convention.nomconvention }}
         {% elseif resultatsImg.ordonnance.urgence %}
             {{ resultatsImg.ordonnance.urgence.patient.convention.nomconvention }}
         {% elseif resultatsImg.ordonnance.requerant %}
             EXT
         {% endif %}
     {% endblock %}


{% block societe %}

    {% if resultatsImg.ordonnance.episode %}
        {% if resultatsImg.ordonnance.episode.patient.societe is defined %}{{ resultatsImg.ordonnance.episode.patient.societe }} {% endif %}
    {% elseif resultatsImg.ordonnance.urgence %}
        {% if resultatsImg.ordonnance.urgence.patient.societe is defined %}{{ resultatsImg.ordonnance.urgence.patient.societe }} {% endif %}
    {% elseif resultatsImg.ordonnance.hospitalisation %}
        {% if resultatsImg.ordonnance.hospitalisation.patient.societe is defined %}{{ resultatsImg.ordonnance.hospitalisation.patient.societe }} {% endif %}
    {% elseif resultatsImg.ordonnance.requerant %}
        {% if resultatsImg.ordonnance.episode.patient.societe is defined %} EXTERIEUR {% endif %}
    {% endif %}
{% endblock %}
{% block corps %}
    <br>
    <br>
    {{ resultatsImg.resultat|raw }}

    <br>
    <br>
    <br>
    <p class="text-right">{% if resultatsImg.ordonnance.medecin %}{{ (resultatsImg.ordonnance.medecin.nom~" "~resultatsImg.ordonnance.medecin.postnom)|upper }} {% else %} DEMANDE EXTERIEURE{% endif %}
        <br>
        Medecin Imagiste</p>
{% endblock %}
{% block basdepage %}

{% endblock %}