{% extends 'base.html.twig' %}

{% block body %}
    <h1>Message list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sujet</th>
                <th>Corps</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td><a href="{{ path('message_show', { 'id': message.id }) }}">{{ message.id }}</a></td>
                <td>{{ message.sujet }}</td>
                <td>{{ message.corps }}</td>
                <td>{{ message.etat }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('message_show', { 'id': message.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('message_edit', { 'id': message.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('message_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
