
    <h3>Nouveau RDV</h3>
    <h2 class="alert alert-warning">
        Choisir une date
    </h2>

    <form action="{{ path('rdvmed_new',{'id':pat }) }}" method="post" id="rdvmedform">

        {{ form_label(form.daterdv,'La Date du Rendez-vous') }}
        {{ form_errors(form.daterdv) }}
        {{ form_widget(form.daterdv) }}
        {{ form_rest(form) }}
        <input type="submit" value="Fixer le RDV" class="btn btn-success" />
    </form>


