
    <table class="table table-striped tout" id="rdvmed">
        <caption><h3>Historique des RDVs</h3></caption>
        <thead>
            <tr>
                <th>Date</th>
                <th>Patient</th>
                <th>état</th>
                <th>Médécin</th>
            </tr>
        </thead>
        <tbody id="mesrdv">
        {% for rDVMed in rDVMeds %}
            <tr>

                <td>{% if rDVMed.daterdv %}{{ rDVMed.daterdv|date('Y-m-d') }}{% endif %}</td>
                <td>

                    {{ rDVMed.patients.nom }} {{ rDVMed.patients.postnom }}


                </td>
                <td>
                    {% if rDVMed.etat == "RECU" %}
                        <span class="label label-success"> {{ rDVMed.etat|upper }}</span>
                    {% else %}
                        <span class="label label-danger"> {{ rDVMed.etat|upper }}</span>
                    {% endif %}
                </td>
                <td>
                    {{ rDVMed.medecin.nom~" "~rDVMed.medecin.postnom~" "~rDVMed.medecin.prenom }}
                </td>
                {#<td>#}
                    {#<ul class="list-inline list-unstyled">#}
                        {#<li>#}
                            {#<a href="{{ path('rdvmed_show', { 'id': rDVMed.id }) }}">afficher</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('rdvmed_edit', { 'id': rDVMed.id }) }}">modifier</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
