
{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block title %}
    Rendez-vous des patients
{% endblock %}
{% block menu %}
    {% include "hostooSanteBundle:menus:menurc.html.twig" %}
{% endblock %}
{% block titrepage %}
    Rendez-vous des patients
{% endblock %}
{% block options %}{% endblock %}
{% block body %}
<div class="card-box">
    <h3>rendez-vous avec le patient</h3>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>N</th>
                <td>{{ rDVMed.id }}</td>
            </tr>
            <tr>
                <th>Daterdv</th>
                <td>{% if rDVMed.daterdv %}{{ rDVMed.daterdv|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ rDVMed.motif }}</td>
            </tr>

        </tbody>
    </table>

    <ul class="list-inline list-unstyled">
        <li>
            <a href="{{ path('rdvmed_index') }}">Liste des rendez-vous</a>
        </li>
        <li>
            <a href="{{ path('rdvmed_edit', { 'id': rDVMed.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>

</div>
{% endblock %}