{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titrepage %}Liste des examens à faire{% endblock %}
{% block options %}{% endblock %}
{% block menu %}{% include 'hostooSanteBundle:menus:menulabo.html.twig' %}{% endblock %}
{% block body %}
    {% set resultat= app.session.get('resultat') %}
<div class="col-lg-12" id="container">
    <h3>Laboratoire</h3>
    <div class="col-lg-7">
        <!-- Tabs Left -->
        <ul class="nav nav-tabs">
            <li><a href="#tabr1"  role="tab" data-toggle="tab" class="active">Examens en attente</a></li>
            <li><a href="#tabr2" role="tab" data-toggle="tab">Résultats</a></li>
            <li><a href="#tabr3"  role="tab" data-toggle="tab">Besoins du laboratoire</a></li>
        </ul>
        {% set n=0 %}
<div class="tab-content">
        <div id="tabr1" role="tabpanel" class="tab-pane fade active in">
            <!-- Premier onglet -->
            <div class="panel-group" id="accordion">
                {% for ord in ordos %}

                    {% set n=n+1 %}
                    {% if (ord.resultat == null and ord.facture and ord.facture.validation == 1) or ord.episode.patient.societe.id != 15 %}
                <div class="panel{% if ord.resultat != null %} panel-success{% else %} panel-default{% endif %}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ n }}">
                                {{ ord.episode.patient.nom }} <span class="label label-default">{{ ord.dateordo|date('d-M-Y') }}</span>
                            </a>

                        </h4>
                    </div>

                    <div id="collapse{{ n }}" class="panel-collapse collapse {% if loop.first %}in {% endif %}">
                        <div class="panel-body">
                            <ul class="list-unstyled">
                    {% if ord.resultat == null %}
                                {% for mesactes in ord.actesl %}

                                <li>
                                <form class="" action="{{ path('ajouter_resultat',{'id':mesactes.actes.id }) }}">
                                    <div class="row">
                                        <div  class="col-lg-5"><label for="myresultat">{{ mesactes.actes.actes.designationacte }}</label></div>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" {% if resultat[mesactes.actes.id] is defined %}value="{{ resultat[mesactes.actes.id] }}" {% endif %} name="myresultat" id="myresultat"   onchange="this.form.submit()">
                                    </div>
                                    </div>
                                </form>
                                </li>

                                    {% endfor %}

                            </ul>
                            <div class="column">
                                <div class="col-lg-6">

                                </div>
                                <div class="col-lg-6">
                                    <a href="{{ path('valider_resultat',{'id': ord.id }) }}"> <button class="small green">Valider</button></a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                    {% endif %}
                    {% endfor %}

            </div>
        </div>

        <div id="tabr2" role="tabpanel" class="tab-pane fade">
            <!-- Second onglet -->
            <div class="panel-group" id="accordion">
                {% for ord in ordos %}
                    {% set n=n+1 %}
                    {% if ord.resultat != null %}
                    <div class="panel{% if ord.resultat != null %} panel-success{% else %} panel-default{% endif %}">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ n }}">
                                    {{ ord.episode.patient.nom }} <span class="label label-default">{{ ord.dateordo|date('d-M-Y') }}</span>
                                </a>
                            </h4>
                        </div>

                        <div id="collapse{{ n }}" class="panel-collapse collapse {% if loop.first %}in {% endif %}">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    {% if ord.resultat != null %}
                                    <ul>
                                        {% for lesactes in ord.actesl %}
                                            <li class="list-group-item">
                                                <strong >{{ lesactes.actes.actes.designationacte }}</strong>
                                                {% if ord.resultat !=  null %}
                                                    <span class="badge">{{ ord.resultat.resultat[lesactes.actes.id] }}</span>
                                                {% endif %}
                                            </li>
                                        {% endfor%}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                        {% endfor %}

            </div>
        </div>

        <div id="tabr3" role="tabpanel" class="tab-pane fade">
            <!-- Troisieme onglet -->
        </div>
    </div>
</div>
    {% set n,t = 0,0 %}
    {% for ord in ordos %}
        {% if ord.resultat != null %}
            {% set n=n+1 %}
            {% endif %}
        {% endfor %}
    {% for ord in ordos %}
        {% if ord.resultat == null %}
            {% set t=t+1 %}
        {% endif %}
    {% endfor %}

    <div class="col-lg-5">
        <span class="">Demandes d'examen<span class="badge badge-danger">{{ n }}</span></span>
        <span class="">Examens effectués<span class="badge badge-Success">{{ t }}</span></span>
    </div>
</div>
{% endblock %}