{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block options %}{% endblock %}
{% block titrepage %}{% endblock %}
{% block menu %}
    {% include "hostooSanteBundle:menus:menurc.html.twig" %}
{% endblock %}
{% block body %}

    <h3>Episode du Patient {{ episode.patient.nom }} - {{ episode.patient.postnom }}</h3>

    {% if episode.patient.formule.nom is defined %}<h4 class="text-info">Formule : {{ episode.patient.formule.nom }}</h4> {% endif %}
    <h4 class="text-info">Type : {% if episode.patient.societe %}{{ episode.patient.societe }} {% endif %}</h4>
    <a class="btn btn-custom pull-right" href="{{ path('reception_t_b') }}">Retour</a>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row">

       <!-- panel-->
    <div class="col-md-12">    <div class="card-box">
    <h2>Diriger le patient à la caisse</h2>
                        <table>
                            <tr><th>Libelle</th><th>Prix</th></tr>

                            {% for liste in episode.factures %}
                                {% for comd in liste.commandes %}
                                {% for tar in comd.tarifs %}
                                <tr><td>{{ tar.actes.designationacte }}</td><td>

                                        {{ tar.prix }}

                                    </td> </tr>
                                    {% endfor %}
                                    {% endfor %}
                                <tr><td>Montant Total :</td><td>{{ liste.prix }}</td></tr>
                            {% endfor %}


                        </table>
    </div>
    </div></div>
{% endblock %}