{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titrepage %}Liste des examens à faire{% endblock %}
{% block options %}{% endblock %}
{% block menu %}{% include 'hostooSanteBundle:menus:menulabo.html.twig' %}{% endblock %}
{% block body %}
    {% set resultat= app.session.get('resultat') %}
<div class="col-lg-12" id="container">
    <h3>Laboratoire</h3>
    <div class="col-lg-7">
        <!-- Tabs Left -->
        <ul class="nav nav-tabs">
            <li><a href="#tabr1"  role="tab" data-toggle="tab" class="active">Examens en attente</a></li>
            <li><a href="#tabr2" role="tab" data-toggle="tab">Résultats</a></li>
            <li><a href="#tabr3"  role="tab" data-toggle="tab">Besoins du service</a></li>
        </ul>
        {% set n=0 %}
<div class="tab-content">
        <div id="tabr1" role="tabpanel" class="tab-pane fade active in">
            <!-- Premier onglet -->
            <div class="panel-group" id="accordion">
                {% for ord in ordos %}

                    {% set n=n+1 %}
                    {% set mes=0 %}
                    {% if (ord.resultats.count > 0 and ord.facture and ord.facture.validation == 1) or (ord.episode and ord.episode.patient.societe.id != 15) or (ord.hospitalisation and ord.hospitalisation.patient.societe.id != 15) %}
                    {% if ord.etat == 1 %}
                <div class="panel{% if ord.resultats != null %} panel-success{% else %} panel-default{% endif %}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ n }}">
                                {% if ord.episode %}{{ ord.episode.patient.nom }} {% else %}{{ ord.hospitalisation.patient.nom }} {% endif %}<span class="label label-default">{{ ord.dateordo|date('d-M-Y') }}</span>
                            </a>
                            <a href="{{ path('ordonnancelabo_show',{'id': ord.id }) }}" class="btn btn-info"><i class="fa fa-eye"></i> </a>

                        </h4>
                    </div>

                    <div id="collapse{{ n }}" class="panel-collapse collapse {% if loop.first %}in {% endif %}">
                        <div class="panel-body">
                            <form action="{{ path('valider_resultat',{'id': ord.id }) }}" method="post">
                            {% if ord.resultats.count > 0 %}
                            <ul class="list-unstyled">

                                {% for mesactes in ord.resultats %}
                                    {% set mes=mesactes.acte.id %}


                                <li>

                                    <div class="row">
                                        <div  class="col-lg-5"><label for="myresultat">{% if mesactes.acte %}{{ mesactes.acte.actes.designationacte }}{% endif %}</label>
                                           {% if mesactes.acte.actes and mesactes.acte.actes.valeur %}
                                            <p class="text-success text-muted">
                                               {{ mesactes.acte.valeur }}
                                           </p>
                                            {% else %}
                                                <a class="btn btn-custom waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">valeur de référence</a>

                                           {% endif %}
                                        </div>
                                        <div class="col-lg-7">
                                            <textarea class="form-control text-warning"  name="myresultat[{{ mesactes.acte.id }}]" id="myresultat" >{% if mesactes.resultat %}{{ mesactes.resultat }}{% endif %}</textarea>
                                                <input type="hidden" name="valeur[{{ mesactes.acte.actes.id }}]" value="{% if mesactes.acte.actes.valeur %}{{ mesactes.acte.actes.valeur.id }} {% endif %}" />

                                    </div>
                                    </div>

                                </li>

                                    {% endfor %}

                            </ul>
                            <div class="column">
                                <div class="col-lg-6">

                                </div>
                                <div class="col-lg-6">
                                     <button class="btn btn-sm btn-success" type="submit">Valider</button>
                                </div>

                            </div>
                            {% endif %}
                            </form>
                        </div>
                    </div>

                </div>
                        <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">Valeur de reference</h4>
                                    </div>
                                    <div class="modal-body">
{% for ord in ordos %}
                                        <form method="post" action="{{ path('valeurref_newacte',{'id': ord.id }) }}">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group no-margin">
                                                        <label for="field-7" class="control-label">Valeur de reference</label>
                                                        <textarea class="form-control autogrow" name="valacte" id="field-7" placeholder="Write something about yourself" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="submit" class="btn btn-info" value="fal"/>
                                        </form>
                                    {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                    {% endif %}

                    {% endfor %}

            </div>
        </div>

        <div id="tabr2" role="tabpanel" class="tab-pane fade">
            <!-- Second onglet -->
            <div class="panel-group" id="accordion">
                {% for ord in ordos %}
                    {% set n=n+1 %}
                    {% if ord.resultats != null %}
                    <div class="panel{% if ord.resultats != null %} panel-success{% else %} panel-default{% endif %}">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ n }}">
                                  {% if ord.episode %}  {{ ord.episode.patient.nom }} {% else %} {{ ord.hospitalisation.patient.nom }} {% endif %} <span class="label label-default">{{ ord.dateordo|date('d-M-Y') }}</span>
                                </a>

                            </h4>
                        </div>

                        <div id="collapse{{ n }}" class="panel-collapse collapse {% if loop.first %}in {% endif %}">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    {% if ord.resultats.count > 0 %}
                                    <ul>
                                        {% for lesactes in ord.resultats %}
                                            <li class="list-group-item">
                                                <strong >{% if lesactes.acte %}{{ lesactes.acte.actes.designationacte }}{% endif %}</strong>
                                                    <span class="badge">{% if lesactes.acte %}{{ ord.afficherresultat(lesactes.acte.actes.id) }}{% endif %}</span>
                                            </li>
                                        {% endfor%}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>

                        <a href="{{ path('ordonnancelabo_printshow',{'id': ord.id}) }}" class="btn btn-info btn-block"><i class="fa fa-print"></i> Imprimer </a>
                    </div>

                {% endif %}
                        {% endfor %}

            </div>
        </div>

        <div id="tabr3" role="tabpanel" class="tab-pane fade">
            <!-- Troisieme onglet -->
        </div>
    </div>
</div>
    {% set exatt,exdmd2=0,0 %}
    {% for ord in ordos %}
     {% for res in ord.resultats %}
         {% if res.attente == 1  %}
         {% set exdmd2 = exdmd2 + 1 %}
         {% else %}
             {% set exatt = exatt + 1 %}
         {% endif %}
    {% endfor %}
    {% endfor %}
    <div class="col-lg-5">
        <ul class="list-unstyled">
            <li>
        <button class="btn btn-block btn-success">Examens En Attente<span class="badge badge-danger pull-right">{{ exdmd2 }}</span></button>
            </li><li>
                <button class="btn btn-block  btn-warning">Examens Effectués<span class="badge badge-danger pull-right">{{ exatt }}</span></button>
            </li><li>
                <button class="btn btn-block  btn-danger">Examens demandés<span class="badge badge-danger pull-right">{{ exatt+exdmd2 }}</span></button>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
