{% extends 'hostooSanteBundle::blank.html.twig' %}

{% block options %}{% endblock %}
{% block menu %}{% include 'hostooSanteBundle:menus:menulabo.html.twig' %}{% endblock %}
{% block body %}
<div class="card-box">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Actes Categorises</th>
                {% for conv in convs %}
                    {% if conv.id == 9 %}
                <th>{{ conv }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for cat in cactes %}
            <tr>

                <th colspan="{{ convs|length + 1 }}" class="text-info text-center">{{ cat.nom }}</th>


            </tr>
                {% for act in cat.actes %}
                <tr>

                    <th>{{ act.designationacte }}</th>
                    {% for conv in convs %}
                        {% for ordo in ordos %}
                        <td>{{ render(controller('hostooSanteBundle:Laboratoire:nbreActes',{'acte':act.id,'categ': conv.id})) }}</td>
                    {% endfor %}
                    {% endfor %}
                </tr>

                    {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}