{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block menu %}
    {% if is_granted('ROLE_CAISSIER') %}
        {% include 'hostooSanteBundle:menus:menucaisse.html.twig' %}
    {% elseif is_granted('ROLE_RECEPTION') %}
        {% include 'hostooSanteBundle:menus:menurc.html.twig' %}
    {% elseif is_granted('ROLE_LABORATOIRE')%}
        {% include 'hostooSanteBundle:menus:menulabo.html.twig' %}
    {% elseif is_granted('ROLE_MEDECIN') %}
        {% include 'hostooSanteBundle:menus:menudoc.html.twig' %}
    {% elseif is_granted('ROLE_REPORT') %}
        {% include 'hostooSanteBundle:menus:menurapport.html.twig' %}
    {% else %}
        {% include 'hostooSanteBundle:menus:menunrs.html.twig' %}
    {% endif %}
{% endblock %}
{% block titrepage %}
    Les Requisitions
{% endblock %}
{% block options %}
{% endblock %}
{% block body %}

<div class="card-box">
    <table class="table table-striped" id="requisitions">
        <thead>
            <tr>
                <th>Id</th>
                <th>Observation</th>
                <th>Date</th>
                <th>Nbre d'articles</th>
                <th>Service</th>
                <th>Approuvée</th>
                <th>Livrée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for requisition in requisitions %}
            <tr>
                <td><a href="{{ path('requisition_show', { 'id': requisition.id }) }}">{{ requisition.id }}</a></td>
                <td>{{ requisition.observation }}</td>
                <td>{% if requisition.dateops %}{{ requisition.dateops|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ requisition.qtereq|length }}</td>
                <td>{% if requisition.demandeur.service.nomservice is defined %}{{ requisition.demandeur.service.nomservice }}{%  endif %}</td>
                <td>{% if  requisition.approuver == true %} <span class="label label-success"><i class="fa fa-check"></i></span>{% else %}<span class="label label-warning">En Attente</span>{% endif %} </td>
                <td>{% if  requisition.livrer == true %} <span class="label label-success"><i class="fa fa-check"></i></span>{% else %}<span class="label label-warning">En Attente</span>{% endif %}</td>
                <td>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a href="{{ path('requisition_show', { 'id': requisition.id }) }}"><i class="fa fa-eye"></i> </a>
                        </li>
                        {#<li>
                            <a href="{{ path('requisition_edit', { 'id': requisition.id }) }}">edit</a>
                        </li>#}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block stylesheets %}
{{ parent() }}
    {% include 'hostooSanteBundle:plugins:datatable.style.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:datatable.scripts.html.twig' %}
    <script>
        $(function () {
            $('#requisitions').dataTable();
        });
    </script>
{% endblock %}