{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block menu %}
    {% if is_granted('ROLE_CAISSIER') %}
        {% include 'hostooSanteBundle:menus:menucaisse.html.twig' %}
    {% elseif is_granted('ROLE_RECEPTION') %}
        {% include 'hostooSanteBundle:menus:menurc.html.twig' %}
    {% elseif is_granted('ROLE_LABORATOIRE')%}
        {% include 'hostooSanteBundle:menus:menulabo.html.twig' %}
    {% elseif is_granted('ROLE_MEDECIN') %}
        {% include 'hostooSanteBundle:menus:menudoc.html.twig' %}
    {% else %}
        {% include 'hostooSanteBundle:menus:menunrs.html.twig' %}
    {% endif %}
{% endblock %}
{% block titrepage %}{% endblock %}
{% block options %}{% endblock %}
{% block body %}
    <h1>Création d'une Réquisition</h1>

    {{ form_start(form) }}
        {{ form_row(form.observation) }}
    {{ form_label(form.dateops,"Date de la réquisition :") }}
    {{ form_errors(form.dateops) }}
    {{ form_widget(form.dateops) }}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Désignation</th>
        <th>Reste</th>
        <th>Quantité</th>
        <th>Unité</th>
    </tr>
    </thead>
    <tbody>
    {% for qte in requisition.qtereq %}
        <tr>
        <td>{{ qte.article.designation }}</td>
        <td>{{ qte.article.prodstock.qte }}</td>
            <td>
        <div class="form-inline">
            <label class="control-label required" for="requisition_qtereq___name___qte">Qte</label>
            <input type="number" id="requisition_qtereq_qte" name="requisitions[{{ qte.article.id }}][qte]" required="required" class="form-control" />
</div></td><td>
                <div class="form-inline">
            <label class="control-label" for="requisition_qtereq_unit">Unit</label>
            <input type="text" id="requisition_qtereq_unit" name="requisitions[{{ qte.article.id }}][unit]" maxlength="10" class="form-control" />
        </div>

        </td></tr>
    {% endfor %}
    </tbody>
</table>

        <input type="submit" value="Enregister La requisition" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('requisition_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{# <script>
    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
    var $newLinkLi = $('<div class="row"></div>').append($addTagLink);

    jQuery(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('div#requisition_qtereq');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
        });
    });
    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div></div>').append(newForm);
        $newLinkLi.before($newFormLi);
    }
</script>#}
{% endblock %}
