{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titrepage %}Activités{% endblock %}
{% block menu %}
    {% if is_granted('ROLE_CAISSIER') %}
    {% include "hostooSanteBundle:menus:menucaisse.html.twig" %}

    {% elseif is_granted('ROLE_CAISSEPRINCIPALE') %}
    {% include "hostooGestionBundle:menus:menucaisse.html.twig" %}
    {% endif %}
{% endblock %}
{% block options %}{% endblock %}
{% block body %}
    <div class="card-box">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>N+</th>
                <th>Date d'ouverture</th>
                <th>USD</th>
                <th>CDF</th>
                <th>Date de fermeture</th>
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for cloture in clotures %}
            <tr>
                <td><a href="{{ path('cloture_show', { 'id': cloture.id }) }}">{{ cloture.id }}</a></td>
                <td>{% if cloture.dateouverture %}{{ cloture.dateouverture|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ cloture.montantusd }}</td>
                <td>{{ cloture.montantcdf }}</td>
                <td>{% if cloture.datefermeture %}{{ cloture.datefermeture|date('Y-m-d H:i:s') }}{% endif %}</td>
                {#<td>
                    <ul>
                        <li>
                            <a href="{{ path('cloture_show', { 'id': cloture.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cloture_edit', { 'id': cloture.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('.table').dataTable({
                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                },
                "order":[[0,'desc']]
            });
        });
    </script>
{% endblock %}