{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block menu %}
    {% if is_granted('ROLE_RECEPTION') %}
    {% include "hostooSanteBundle:menus:menurc.html.twig" %}
    {% elseif is_granted('ROLE_INFIRMIER') %}
    {% include "hostooSanteBundle:menus:menunrs.html.twig" %}
    {% elseif is_granted('ROLE_MEDECIN') %}
    {% include "hostooSanteBundle:menus:menudoc.html.twig" %}
    {% elseif is_granted('ROLE_LABORATOIRE') %}
        {% include "hostooSanteBundle:menus:menulabo.html.twig" %}
    {% endif %}
{% endblock %}
{% block titrepage %}{% endblock %}
{% block options %}<a href="{{ path('imprimer_les_actes') }}" class="btn btn-info"><i class="fa fa-print"></i> Imprimer</a> {% endblock %}
{% block body %}
    {% set mois={'01':'janvier','02':'Fevrier','03':'Mars','04':'Avril','05':'Mai','06':'Juin','07':'Juillet','08':'Aout','09':'Spetembre','10':'Octobre','11':'Novembre','12':'Decembre'}  %}
   <div class="row">
       <div class="card-box">
           <form method="post" action="{{ path('rapport_de_frequentation') }}">

               <div class="form-inline">
                   <label for="an">Année</label>
                   <select name="an" id="an" class="form-control">

                       {% for i in ""|date('Y')..""|date('Y')-2 %}
                           <option value="{{ i }}">{{ i }}</option>
                       {% endfor %}
                   </select>

                   <label for="mois">Mois</label>
               <select name="mois" id="mois" class="form-control">

                   {% for i,j in mois %}
                   <option value="{{ i }}">{{ j }}</option>
                   {% endfor %}
               </select>

               <label for="societe">Societe</label>
               <select name="societe" id="societe" class="form-control">
                   <option value=""></option>
                   {% for societe in societes %}
                       <option value="{{ societe.id }}">{{ societe }}</option>
                   {% endfor %}
               </select>

               {#<label for="formule">Formule</label>#}
               {#<select name="formule" id="formule" class="form-control">#}
                   {#<option value=""></option>#}
                   {#{% for conv in conventions %}#}
                       {#<option value="{{ conv.id }}">{{ conv.nom }}</option>#}
                   {#{% endfor %}#}
               {#</select>#}

               <button type="submit" class="btn btn-success"> Valider</button>
               </div>
           </form>
       </div>

   </div>
{% if is_granted('ROLE_MEDECIN') %}
    {% set hommes,femmes, enfants = 0,0,0 %}
    {% for episode in episodes %}
        {% if episode.utilisateur.id == app.user.id %}
    {% if episode.patient.sexe == 1 and ("now"|date('Y') - episode.patient.datenaissance|date('Y')) > 18  %}
        {% set hommes = hommes + 1 %}

        {% elseif episode.patient.sexe == 0 and "now"|date('Y') - episode.patient.datenaissance|date('Y') > 18  %}
            {% set femmes = femmes + 1 %}
        {% else %}
        {% set enfants = enfants + 1 %}

        {% endif %}
        {% endif %}
    {% endfor %}
{% set actes =0 %}
    {% for episode in episodes %}
        {% if episode.utilisateur == app.user %}

        {% for fac in episode.factures %}
        {% for cmd in fac.commandes %}
        {% for tar in cmd.tarifs %}
        {% set actes = actes + 1 %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
    {% endif %}
    {% endfor %}

    {% set convention,prive=0,0 %}
    {% for episode in episodes %}
        {% if episode.patient.societe.id == 15 and  episode.utilisateur == app.user %}
        {% set prive = prive + 1 %}
            {% else %}
                {% set convention = convention + 1 %}
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="card-box">
        <table class="table table-bordered">
            <tr>
                <th>Patients</th>
                <th>{{ prive }}</th>
            </tr>
            {#<tr>#}
                {#<th>Conventionnés</th>#}
                {#<th>{{ convention }}</th>#}
            {#</tr>#}
            <tr>
                <th>Privés</th>
                <th>{{ prive }}</th>
            </tr>

            <tr>
                <th>Actes</th>
                <th>{{ actes }}</th>
            </tr>
            <tr>
                <th>HOMMES</th>
                <th>{{ hommes }}</th>
            </tr>

            <tr>
                <th>FEMMES</th>
                <th>{{ femmes }}</th>
            </tr>
            <tr>
                <th>ENFANTS</th>
                <th>{{ enfants }}</th>
            </tr>
        </table>
        </div>
    </div>

    <div class="card-box">
        <table class="table table-striped ok">
            <thead>
            <tr>
                <th>Date</th>
                {#<th>AGENT</th>#}
                {#<th>PARENTE</th>#}
                <th>Nom du patient</th>
                <th>Nombres Actes</th>
                <th>Medécin vu</th>
                <th>Societe</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for episode in episodes %}

                {% if episode.utilisateur.id == app.user.id %}
                <tr>
                    <td>{{ episode.dateepisode|date('d-m-Y') }}</td>
                    {#<td>{% if episode.patient.madependance %}{{ episode.patient.madependance.patient.nom~" "~episode.patient.madependance.patient.postnom  }} {% else %} {{ episode.patient.nom }} {{ episode.patient.postnom }} {{ episode.patient.prenom }}{% endif %}</td>#}
                    {#<td>{% if episode.patient.madependance %}{{ episode.patient.madependance.parente }}{% else %}TUTILAIRE {% endif %}</td>#}
                    <td>{{ episode.patient.nom~" "~episode.patient.postnom }}</td>
                    <td>{{ episode.nbActes }}</td>
                    <td>{{ episode.utilisateur }}</td>
                    <td>{{ episode.patient.societe.nom }}</td>

                    <td><a href="{{ path('hostoo_sante_lireepisode', {'id': episode.id }) }}">Afficher les details</a> </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% elseif is_granted('ROLE_LABORATOIRE') %}
        {% set hommes,femmes, enfants = 0,0,0 %}
        {% for episode in episodes %}
            {% if episode.utilisateur and episode.utilisateur.id == app.user.id %}
                {% if episode.patient.sexe == 1 and ("now"|date('Y') - episode.patient.datenaissance|date('Y')) > 18  %}
                    {% set hommes = hommes + 1 %}

                {% elseif episode.patient.sexe == 0 and "now"|date('Y') - episode.patient.datenaissance|date('Y') > 18  %}
                    {% set femmes = femmes + 1 %}
                {% else %}
                    {% set enfants = enfants + 1 %}

                {% endif %}
            {% endif %}
        {% endfor %}
        {% set actes =0 %}
        {% for episode in episodes %}
            {% if episode.utilisateur == app.user %}

                {% for fac in episode.factures %}
                    {% for cmd in fac.commandes %}
                        {% for tar in cmd.tarifs %}
                            {% set actes = actes + 1 %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% set convention,prive=0,0 %}
        {% for episode in episodes %}
            {% if episode.patient.societe.id == 15 and  episode.utilisateur == app.user %}
                {% set prive = prive + 1 %}
            {% else %}
                {% set convention = convention + 1 %}
            {% endif %}
        {% endfor %}
        <div class="row">
            <div class="card-box">
                <table class="table table-bordered">
                    <tr>
                        <th>Patients</th>
                        <th>{{ prive+convention }}</th>
                    </tr>
                    <tr>
                        <th>Conventionnés</th>
                        <th>{{ convention }}</th>
                    </tr>
                    <tr>
                        <th>Privés</th>
                        <th>{{ prive }}</th>
                    </tr>

                    <tr>
                        <th>Actes</th>
                        <th>{{ actes }}</th>
                    </tr>
                    <tr>
                        <th>HOMMES</th>
                        <th>{{ hommes }}</th>
                    </tr>

                    <tr>
                        <th>FEMMES</th>
                        <th>{{ femmes }}</th>
                    </tr>
                    <tr>
                        <th>ENFANTS</th>
                        <th>{{ enfants }}</th>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card-box">
            <table class="table table-striped ok">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>AGENT</th>
                    <th>PARENTE</th>
                    <th>Nom du patient</th>
                    <th>Nombres Actes</th>
                    <th>Medécin vu</th>
                    <th>Societe</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for episode in episodes %}

                    {% if episode.utilisateur and episode.utilisateur.id == app.user.id %}
                        <tr>
                            <td>{{ episode.dateepisode|date('d-m-Y') }}</td>
                            <td>{% if episode.patient.madependance %}{{ episode.patient.madependance.patient.nom~" "~episode.patient.madependance.patient.postnom  }} {% else %} {{ episode.patient.nom }} {{ episode.patient.postnom }} {{ episode.patient.prenom }}{% endif %}</td>
                            <td>{% if episode.patient.madependance %}{{ episode.patient.madependance.parente }}{% else %}TUTILAIRE {% endif %}</td>
                            <td>{{ episode.patient.nom~" "~episode.patient.postnom }}</td>
                            <td>{{ episode.nbActes }}</td>
                            <td>{{ episode.utilisateur }}</td>
                            <td>{{ episode.patient.societe.nom }}</td>

                            <td><a href="{{ path('hostoo_sante_lireepisode', {'id': episode.id }) }}">Afficher les details</a> </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% set hommes,femmes, enfants = 0,0,0 %}
        {% for episode in episodes %}
            {% if episode.patient.sexe == 1 and ("now"|date('Y') - episode.patient.datenaissance|date('Y')) > 18  %}
                {% set hommes = hommes + 1 %}

            {% elseif episode.patient.sexe == 0 and "now"|date('Y') - episode.patient.datenaissance|date('Y') > 18  %}
                {% set femmes = femmes + 1 %}
            {% else %}
                {% set enfants = enfants + 1 %}

            {% endif %}
        {% endfor %}
        {% set actes =0 %}
        {% for episode in episodes %}
            {% for fac in episode.factures %}
                {% for cmd in fac.commandes %}
                    {% for tar in cmd.tarifs %}
                        {% set actes = actes + 1 %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}

        {% set convention,prive=0,0 %}
        {% for episode in episodes %}
            {% if episode.patient.societe.id == 15 %}
                {% set prive = prive + 1 %}
            {% else %}
                {% set convention = convention + 1 %}
            {% endif %}
        {% endfor %}
        <div class="row">
            <div class="card-box">
                <table class="table table-bordered">
                    <tr>
                        <th>Patients</th>
                        <th>{{ episodes|length }}</th>
                    </tr>
                    <tr>
                        <th>Conventionnés</th>
                        <th>{{ convention }}</th>
                    </tr>
                    <tr>
                        <th>Privés</th>
                        <th>{{ prive }}</th>
                    </tr>

                    <tr>
                        <th>Actes</th>
                        <th>{{ actes }}</th>
                    </tr>
                    <tr>
                        <th>HOMMES</th>
                        <th>{{ hommes }}</th>
                    </tr>

                    <tr>
                        <th>FEMMES</th>
                        <th>{{ femmes }}</th>
                    </tr>
                    <tr>
                        <th>ENFANTS</th>
                        <th>{{ enfants }}</th>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card-box">
            <table class="table table-striped ok">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>AGENT</th>
                    <th>PARENTE</th>
                    <th>Nom du patient</th>
                    <th>Nombres Actes</th>
                    <th>Medécin vu</th>
                    <th>Societe</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for episode in episodes %}
                    <tr>
                        <td>{{ episode.dateepisode|date('d-m-Y') }}</td>
                        <td>{% if episode.patient.madependance %}{{ episode.patient.madependance.patient.nom~" "~episode.patient.madependance.patient.postnom  }} {% else %} {{ episode.patient.nom }} {{ episode.patient.postnom }} {{ episode.patient.prenom }}{% endif %}</td>
                        <td>{% if episode.patient.madependance %}{{ episode.patient.madependance.parente }}{% else %}TUTILAIRE {% endif %}</td>
                        <td>{{ episode.patient.nom~" "~episode.patient.postnom }}</td>
                        <td>{{ episode.nbActes }}</td>
                        <td>{{ episode.utilisateur }}</td>
                        <td>{{ episode.patient.societe.nom }}</td>

                        <td><a href="{{ path('hostoo_sante_lireepisode', {'id': episode.id }) }}">Afficher les details</a> </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}
       <!-- panel-->
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include "hostooSanteBundle:plugins:datatable.style.html.twig" %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% include "hostooSanteBundle:plugins:datatable.scripts.html.twig" %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.ok').dataTable({
                "bProcessing": true,
                "bDeferRender": true,
                deferRender:    true,
                scrollY:        800,
                scrollCollapse: true,
                scroller:       true,
                dom: "Bfrtip",
                buttons: [{extend: "copy", className: "btn-sm"}, {extend: "csv", className: "btn-sm"}, {
                    extend: "excel",
                    className: "btn-sm"
                }, {extend: "pdf", className: "btn-sm"}, {extend: "print", className: "btn-sm"}],

                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
        });
    </script>
    <script type="application/javascript">
        $inp=$('#motcle');
        $inp.keyup(function(event){
            $('#mesitems').show().html('');
            //$(".loading").show();
            var motcle = $(this).val();
            var DONNEE = 'motcle=' + motcle;
            $.ajax({
                type: "POST",
                dataType:'json',
                url: Routing.generate('recherche_patient'),
                data: DONNEE,
                cache: false,
                minLength: 2,
                beforeSend: function () {
                    $('#mesitems').find('li').remove();
                },
                success: function(data) {


                    $.each(data.items, function(index,value) {
                        //$("#ott").text(value.libelle+'<br/>'+value.Prix);
                        var nophoto="../../jquery-ui/images/no_image.jpg";
                        var lien=Routing.generate('hostoo_sante_voirpatient',{id:value.id});
                        var lien2=Routing.generate('hostoo_ajouter_parent',{id:value.id});
                        var lien3=Routing.generate('hostoo_ajouter_parent',{id:value.id});
                        $('#mesitems').prepend('<li class="list-group-item"><span class="fa fa-user"></span>'+value.nom+' '+value.postnom+' '+value.prenom+'<div class="btn-group pull-right"><a href="'+lien2+'" class="btn btn-success">Dependants</a><a class="btn btn-info" href="'+lien+'">Afficher</a>{#<a class="btn btn-warning" href="'+lien3+'">Episode</a><a class="btn btn-warning" href="#">Control</a>#}</div> </li>');
                        //$('#resultats').html('<div>'+value.libelle+'</div>');
                        //alert(value.libelle);
                    });

                    // $(".loading").hide();
                }
            });
            return false;
        });

        // Date Picker
        jQuery('#datepicker').datepicker();
        jQuery('#patient_datenaissance').datepicker({
            autoclose: true,
            dateFormat: "dd/mm/yy",
            dayNames: [ "Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi" ],
            dayNamesMin: [ "Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa" ],
            monthNames: ["Janvier","Fevrier","Mars","Avril","Mai","Juin","Juillet","Aout","Septembre","Octobre","Novembre","Decembre"],
            todayHighlight: true
        });

    </script>
{% endblock %}