<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Facture </title>
    <link rel="stylesheet" href="{{ asset('print/style2.css') }}" />
</head>
<body>
<div class="container">
    <div class="entete">
        <img class="logo" src="{{ asset('/hostoo/web/assets/images/logo/logoepamed.jpg') }}"/>
        <div class="box-titre">

            <p class="titre">
                EDEN PARK ASSOCIATION
            </p>
            <p class="sous-titre">
                Av. Nyembo N 16 Quartier SOCIMAT C/Gombe KINSHASA
        </div>
    </div>

    <hr class="ligne-haute"/>
    <p class="text-right">Kinshasa, Le {{ "now"|date('d/m/Y') }}</p>
    <br>
    <h3 class="text-center">EPISODE N° {{ app.session.get('temps') }}</h3>

    <h3>Episode du Patient {{ episode.patient.nom }} - {{ episode.patient.postnom }}  / {{ episode.dateepisode|date('d-m-Y') }}</h3>
    {% if episode.patient.formule %}<h4 class="text-info">Formule : {{ episode.patient.formule.nom }}</h4>{% endif %}
    <h4 class="text-info">Type : {{ episode.patient.societe }}</h4>



   <div class="row">
       <div class="col-lg-4">
           <div class="panel panel-default">
               <div class="panel-heading">Les actes effectués</div>
               <div class="panel-body">
                   <table class="bordure" style="width: 100%">
                       {% set n = 0 %}
                   {% for fac in episode.factures %}

                       {% for cmd in fac.commandes %}
                       {% for tar in cmd.tarifs %}
                           {% set n = n + 1 %}
                           <tr>
                               <td>{{ n }}</td>
                            <td>{{ tar.actes.designationacte }}</td>
                           </tr>
                               {% endfor %}
                       {% endfor %}

                   {% endfor %}
                   </table>
               </div>
           </div>
       </div>
       <h5  style="text-align: right">Medecin Traitant</h5>
<p style="float: right">

                   {{ episode.utilisateur.nom }}
                   {{ episode.utilisateur.postnom }}
                   {{ episode.utilisateur.Prenom }}

</p>
   </div>
   </div>
       <!-- panel-->
