<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Facture </title>
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" media="all" />
    {#<link rel="stylesheet" href="{{ asset('print/style2.css') }}" media="print"/>#}
</head>
<body>
<a href="{{ path('rapport_de_frequentation') }}" class="btn btn-info hidden-print">Retour</a>
<div class="container">
    <div class="entete">
        <img class="logo" src="{{ asset('/hostoo/web/assets/images/logo/logoepamed.jpg') }}"/>
        <div class="box-titre">

            <p class="titre">
                EDEN PARK ASSOCIATION
            </p>
            <p class="sous-titre">
                Av. Nyembo N 16 Quartier SOCIMAT C/Gombe KINSHASA
        </div>
    </div>

    <hr class="ligne-haute"/>
    <p class="text-right">Kinshasa, Le {{ "now"|date('d/m/Y') }}</p>
    <br>
    <h3 class="text-center">RAPPORT DE FREQUENTATION DES {{ app.session.get('conv') }} DE {{ app.session.get('temps') }}</h3>

    {% set hommes,femmes, enfants = 0,0,0 %}
    {% for episode in episodes %}
    {% if episode.patient.sexe == 1 and ("now"|date('Y') - episode.patient.datenaissance|date('Y')) > 18  %}
        {% set hommes = hommes + 1 %}

        {% elseif episode.patient.sexe == 0 and "now"|date('Y') - episode.patient.datenaissance|date('Y') > 18  %}
            {% set femmes = femmes + 1 %}
        {% else %}
        {% set enfants = enfants + 1 %}

        {% endif %}
    {% endfor %}
{% set actes =0 %}
    {% for episode in episodes %}
        {% for fac in episode.factures %}
        {% for cmd in fac.commandes %}
        {% for tar in cmd.tarifs %}
        {% set actes = actes + 1 %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
    {% endfor %}

    {% set convention,prive=0,0 %}
    {% for episode in episodes %}
        {% if episode.patient.societe.id == 15 %}
        {% set prive = prive + 1 %}
            {% else %}
                {% set convention = convention + 1 %}
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="card-box">
        <table class="table table-bordered">
            <tr>
                <th>Patients</th>
                <th>{{ episodes|length }}</th>
            </tr>
            <tr>
                <th>Conventionnés</th>
                <th>{{ convention }}</th>
            </tr>
            <tr>
                <th>Privés</th>
                <th>{{ prive }}</th>
            </tr>

            <tr>
                <th>Actes</th>
                <th>{{ actes }}</th>
            </tr>
            <tr>
                <th>HOMMES</th>
                <th>{{ hommes }}</th>
            </tr>

            <tr>
                <th>FEMMES</th>
                <th>{{ femmes }}</th>
            </tr>
            <tr>
                <th>ENFANTS</th>
                <th>{{ enfants }}</th>
            </tr>
        </table>
        </div>
    </div>

    <div class="card-box">
        <table class="table table-striped ok">
            <thead>
            <tr>
                <th>Date</th>
                <th>AGENT</th>
                <th>PARENTE</th>
                <th>Nom du patient</th>
                <th>Nombres Actes</th>
                <th>Medécin vu</th>
                <th>Societe</th>
            </tr>
            </thead>
            <tbody>
            {% for episode in episodes %}
                <tr>
                    <td>{{ episode.dateepisode|date('d-m-Y') }}</td>
                    <td>{% if episode.patient.madependance %}{{ episode.patient.madependance.patient.nom~" "~episode.patient.madependance.patient.postnom  }} {% else %} {{ episode.patient.nom }} {{ episode.patient.postnom }} {{ episode.patient.prenom }}{% endif %}</td>
                    <td>{% if episode.patient.madependance %}{{ episode.patient.madependance.parente }}{% else %}TUTILAIRE {% endif %}</td>
                    <td>{{ episode.patient.nom~" "~episode.patient.postnom }}</td>
                    <td>{{ episode.nbActes }}</td>
                    <td>{{ episode.utilisateur }}</td>
                    <td>{{ episode.patient.societe.nom }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>