{% extends "hostooSanteBundle::blank.html.twig" %}

{% block title %}Liste des Actes{% endblock %}
{% block menu %}
    {% include 'hostooUserBundle:menus:menuadmin.html.twig' %}
{% endblock %}
{% block body %}
<div class="card-box">{#
    {% for key, message in app.session.flashbag.all() %}
        <div class="alert alert-{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}#}
    <table class="table table-striped" id="lesactes">
        <thead>
        <tr><th>id</th>
            <th>Désignation</th>

            {% for c in convs %}
                {% if c.tarif|length >0 %}
                <th>{{ c.nomconvention }}</th>
            {% endif %}
            {% endfor %}


            <th>Catégorie</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for acte in liste %}
            <tr>
        <td>{{ acte.id }}</td>
            <td>{{ acte.designationacte }}</td>
                {# Pour affichage de prix selon la convention#}
               {% if acte.actes|length >= 0 %}
                {% for prix in acte.actes %}
                    <td>{{ prix.prix }}</td>
                {% endfor %}
                {% endif %}
                <td>{{ acte.categories.nom }}</td>
                <td>
                        <button  class="btn btn-info" data-toggle="modal" data-target=".bs-example-modal-sm{{ acte.id }}"><i class="fa fa-plus"></i></button>
                            <a href="{{ path('modifier_acte',{'id':acte.id}) }}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="fa fa-edit"></i></a>
                        <button  class="btn btn-danger" data-toggle="modal" data-target="#supprimer{{ acte.id }}"><i class="fa fa-times"></i> </button>
                   </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:datatable.style.html.twig' %}
    {% include 'hostooSanteBundle:plugins:modals.style.html.twig' %}
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:datatable.scripts.html.twig' %}
    {% include 'hostooSanteBundle:plugins:modals.html.twig' %}
    <script>
        $(function () {
            $('.table').dataTable();
            {#
            <div id="supprimer{{ acte.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content p-0 b-0">
                        <div class="panel panel-custom">
                            <div class="panel-heading">
                                <button type="button" class="close m-t-5" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 class="panel-title">Supprimer</h3>
                            </div>
                            <div class="panel-body">
                                <p class="text-center">Etes-vous sur de supprimer cet Acte Medical : <strong>{{ acte.designationacte }}</strong></p>
                                <p class="text-center"><a href="{{ path('_supprimer_acte',{'id':acte.id}) }}" class="btn btn-danger">Supprimer Cet Acte</a></p>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="modal fade bs-example-modal-sm{{ acte.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="mySmallModalLabel">Ajoute un prix </h4>
                        </div>
                        <div class="modal-body">
                            {{ render(controller('hostooGestionBundle:Prix:ajouterUnPrix',{'acte':acte.id})) }}
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->#}
        });

    </script>
{% endblock %}