{% extends "hostooSanteBundle::blank.html.twig" %}

{% block title %}Liste des Actes{% endblock %}
{% block menu %}
    {% include 'hostooSanteBundle:menus:menurc.html.twig' %}
{% endblock %}
{% block titrepage %}Tarification des actes médicaux{% endblock %}
{% block options %}{% endblock %}
{% block body %}
<div class="card-box">{#
    {% for key, message in app.session.flashbag.all() %}
        <div class="alert alert-{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}#}
    <table class="table table-striped" id="lesactes">
        <thead>
        <tr>
            <th>Code</th>
            <th>Désignation</th>
                <th>PRIVE</th>


           {# <th>Catégorie</th>#}

        </tr>
        </thead>
        <tbody>
        {% for acte in liste %}
            <tr>
            <td>{{ acte.code }}</td>
            <td>{{ acte.designationacte }}</td>
                {# Pour affichage de prix selon la convention#}
               {% if acte.actes|length >= 0 %}
                {% for prix in acte.actes %}
                    <td>{{ prix.prix }}</td>
                {% endfor %}
                {% endif %}
                {#<td>{{ acte.categories.nom }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:datatable.style.html.twig' %}
    {% include 'hostooSanteBundle:plugins:modals.style.html.twig' %}
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:datatable.scripts.html.twig' %}
    {% include 'hostooSanteBundle:plugins:modals.html.twig' %}
    <script>
        $(function () {
            $('.table').dataTable({
                "bProcessing": true,
                "bDeferRender": true,
                deferRender: true,
                scrollY: 800,
                scrollCollapse: true,
                scroller: true,
                dom: "Bfrtip",
                buttons: [{extend: "copy", className: "btn-sm"}, {extend: "csv", className: "btn-sm"}, {
                    extend: "excel",
                    className: "btn-sm"
                }, {extend: "pdf", className: "btn-sm"}, {extend: "print", className: "btn-sm"}],

                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
            {#
            <div id="supprimer{{ acte.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content p-0 b-0">
                        <div class="panel panel-custom">
                            <div class="panel-heading">
                                <button type="button" class="close m-t-5" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 class="panel-title">Supprimer</h3>
                            </div>
                            <div class="panel-body">
                                <p class="text-center">Etes-vous sur de supprimer cet Acte Medical : <strong>{{ acte.designationacte }}</strong></p>
                                <p class="text-center"><a href="{{ path('_supprimer_acte',{'id':acte.id}) }}" class="btn btn-danger">Supprimer Cet Acte</a></p>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="modal fade bs-example-modal-sm{{ acte.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="mySmallModalLabel">Ajoute un prix </h4>
                        </div>
                        <div class="modal-body">
                            {{ render(controller('hostooGestionBundle:Prix:ajouterUnPrix',{'acte':acte.id})) }}
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->#}
        });

    </script>
{% endblock %}