
    <li class="text-muted menu-title">Navigation</li>

    <li>
        <a href="{{ path('tableau_de_bord') }}" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span>Tableau de bord</span> </a>
    </li>
    <li>
        <a href="{{ path('caisses_hostoo') }}" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span>Caisse</span> </a>
    </li>

    <li>
        <a href="{{ path('patients_recus') }}" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span>Frequentations</span> </a>
    </li>
    <li>
        <a href="{{ path('_conventions_des_entreprises') }}" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span>Entreprises</span> </a>
    </li>
    <li>
        <a href="{{ path('caisses_performances') }}" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span>Performances</span> </a>
    </li>
  <li>
        <a href="{{ path('caisses_requisitions') }}" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span>Requisitions</span> </a>
    </li>
    <li>
        <a href="#" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span>Pharmacie</span> </a>
    </li>

{#
    <li class="text-muted menu-title">More</li>

    <li class="has_sub">
        <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-collection-item"></i><span class="label label-default pull-right">8</span><span> Pages </span></a>
        <ul class="list-unstyled">
            <li><a href="page-starter.html">Starter Page</a></li>
            <li><a href="page-timeline.html">Timeline</a></li>
            <li><a href="page-login.html">Login</a></li>
            <li><a href="page-register.html">Register</a></li>
            <li><a href="page-recoverpw.html">Recover Password</a></li>
            <li><a href="page-lock-screen.html">Lock Screen</a></li>
            <li><a href="page-confirm-mail.html">Confirm Mail</a></li>
            <li><a href="page-404.html">Error 404</a></li>
        </ul>
    </li>

    <li class="has_sub">
        <a href="javascript:void(0);" class="waves-effect"><i class="ti-share"></i><span> Multi Level </span> <span class="menu-arrow"></span></a>
        <ul>
            <li class="has_sub">
                <a href="javascript:void(0);" class="waves-effect"><span>Menu Level 1.1</span> <span class="menu-arrow"></span></a>
                <ul style="">
                    <li><a href="javascript:void(0);"><span>Menu Level 2.1</span></a></li>
                    <li><a href="javascript:void(0);"><span>Menu Level 2.2</span></a></li>
                    <li><a href="javascript:void(0);"><span>Menu Level 2.3</span></a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);"><span>Menu Level 1.2</span></a>
            </li>
        </ul>
    </li>#}