{% extends "hostooSanteBundle::blank.html.twig" %}

{% block title %}Proprietaire{% endblock %}
{% block titrepage %}Proprietaire{% endblock %}
{% block options %}{% endblock %}
{% block menu %}
    {% include 'hostooUserBundle:menus:menuadmin.html.twig' %}
{% endblock %}
{% block body %}
<div class="col-md-6 col-sm-12">
    <div class="card-box">
        <h4 class="text-custom">SOCIETE</h4>
        <dl class="dl-horizontal">
            <dt>Nom</dt>
            <dd>{{ proprietaire.nom }}</dd>
            <dt>Email</dt>
            <dd>{{ proprietaire.email }}</dd>
            <dt>Adresse</dt>
            <dd>{{ proprietaire.adresse }}</dd>
            <dt>Nombre des patients</dt>
            <dd>{{ proprietaire.patients|length }}</dd>
            <dt>Téléphone</dt>
            <dd>{{ proprietaire.telephone }}</dd>
            <dt></dt>
            <dd></dd>
        </dl>
    </div>
</div>
    <div class="col-md-6 col-sm-12">
<div class="card-box">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Formule</th><th>Actes</th><th>Patients</th>
        </tr>
        </thead>
        <tbody>
        {% for f in formtab %}
        <tr>
            <td>{{ f.nom }}</td><td>{{ f.lesactes }}</td><td>{{ render(controller('hostooGestionBundle:Default:nbPatients',{'societe': proprietaire.id, 'formule':f.id })) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        <ul class="list-unstyled list-group">

            <li class="list-group-item"></li>
        </ul>

</div>
    </div>
    <div class="card-box">
        <form action="{{ path('inserer_les_actes') }}" method="post">
            <input type="hidden" name="proprietaire" value="{{ proprietaire.id }}" />
            <input type="submit" value="Enregistrer" class="btn btn-success pull-right" />
        <table class="table table-bordered table-striped">
            <caption><h5 class="text-uppercase text-center">Parametrage des actes contenants les formules que les entreprises souscrivent</h5></caption>
            <thead>
            <tr>
                <th>Les actes médicaux</th>
                {% for formule in formules %}
                <th>{{ formule.nom }}</th>
                    {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for tar in tarifs %}
            <tr>
                <td colspan="{{ formules|length + 1 }}" class="bg-info text-white text-center">{{ tar.nom }}</td>
            </tr>
                {% for acte in tar.actes %}
                <tr><td>{{ acte.designationacte }}</td>
                {% for formule in formules %}
                    <td><input type="checkbox" name="lesactes[{{ formule.id }}][]" class="js-switch" value="{{ acte.id }}" {% for checkform in checkforms %}{{ checkform.checked(formule.id,acte.id,proprietaire.id) }} {% endfor %}/></td>
                {% endfor %}</tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
            <input type="submit" value="Enregistrer" class="btn btn-success pull-right" />
        </form>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/switchery/switchery.min.css') }}" rel="stylesheet" />
    {% include 'hostooSanteBundle:plugins:datatable.style.html.twig' %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/switchery/switchery.min.js') }}"></script>

    {% include 'hostooSanteBundle:plugins:datatable.scripts.html.twig' %}
    <script>
        $(function () {
            //$('#mesactes').dataTable();

            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

            elems.forEach(function(html) {
                var switchery = new Switchery(html, { size: 'small', color: '#3DDCF7' });
            });

        });
    </script>
{% endblock %}