{% extends "hostooSanteBundle::blank.html.twig" %}
{% block menu %}
    {% include 'hostooSanteBundle:menus:menurapport.html.twig' %}
{% endblock %}
{% block titrepage %}

{% endblock %}
{% block body %}

    {{ render(controller('hostooGestionBundle:Reporting:reportingMensuel',{'url':'caisses_hostoo'})) }}
<div class="card-box">


    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active">
            <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Caisse Privée</a>
        </li>
        <li role="presentation">
            <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Caisse conventionnée</a>
        </li>
        <li role="presentation">
            <a href="#profile2" role="tab" id="profile-tab2" data-toggle="tab" aria-controls="profile">Paiements conventions</a>
        </li>
        <li role="presentation">
            <a href="#profile3" role="tab" id="profile-tab2" data-toggle="tab" aria-controls="profile">Depenses</a>
        </li>
        <li role="presentation">
            <a href="#profile4" role="tab" id="profile-tab3" data-toggle="tab" aria-controls="profile">Cheques</a>
        </li>

    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
        <div class="row">
             <ul class="list-inline m-t-15">

                                            <li>
                                                <h5 class="text-muted m-t-20">Total</h5>
                                                <h4 class="m-b-0">$ {% if caisses  !=  [] %} {{ caisses.usd }} {% endif %}</h4>
                                            </li>

                                            <li>
                                                <h5 class="text-muted m-t-20">Ce Mois</h5>
                                                <h4 class="m-b-0">$ {% if ctotmois != [] %} {{ ctotmois.usd }} {% endif %}</h4>
                                            </li>
                                            <li>
                                                <h5 class="text-muted m-t-20">Aujourd'hui</h5>
                                                <h4 class="m-b-0">$ {% if ctot != [] %}{{ ctot.usd }} {% endif %}</h4>
                                            </li>
                                        </ul>
            <div class="well">
            <table class="table table-striped">
                <thead>
                {% set tot=0 %}
                <tr>
                    <th>Date</th>
                    <th>Montant USD</th>
                    <th>Libellé</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                {% for caisse in caisseprive|sort|reverse %}
                    {% if caisse.type==1 %}
                        {% set tot=tot+caisse.montantusd %}
                    <tr>
                        <td>{{ caisse.datecaisse|date('d-m-Y H:i:s') }}</td>
                        <th>{{ caisse.montantusd }}</th>
                        {% if caisse.episode %}
                        <td>{{ caisse.episode.patient.nom~" "~caisse.episode.patient.postnom }}</td>
                        <td>{{ caisse.episode.patient.societe }}</td>
                        {% else %}
                        <td>{{ caisse.hospitalisation.patient.nom~" "~caisse.hospitalisation.patient.postnom }}</td>
                        <td>{{ caisse.hospitalisation.patient.societe }}</td>

                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                <tr>

                    <td></td>
                    <th>{{ tot }}</th>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
            </div>
        </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
            <div class="row">

             <ul class="list-inline m-t-15">
                                            <li>
                                                <h5 class="text-muted m-t-20">Total</h5>
                                                <h4 class="m-b-0">$ {% if cvtot != [] %}{{ cvtot.usd }} {% endif %}</h4>
                                            </li>
                                            <li>
                                                <h5 class="text-muted m-t-20">Ce Mois</h5>
                                                <h4 class="m-b-0">$ {% if cvmois  != [] %} {{ cvmois.usd }} {% endif %}</h4>
                                            </li>
                                            <li>
                                                <h5 class="text-muted m-t-20">Aujourd'hui</h5>
                                                <h4 class="m-b-0">$ {% if cvjr  != [] %} {{ cvjr.usd }} {% endif %}</h4>
                                            </li>
                                        </ul>
                <div class="well">
                    <table class="table table-striped">
                        <thead>
                        {% set tot=0 %}
                        <tr>
                            <th>Date</th>
                            <th>Montant USD</th>
                            <th>Libellé</th>
                            <th>Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for caisse in caissecv|sort|reverse %}
                            {% if caisse.type==0 %}
                                {% set tot=tot+caisse.montantusd %}
                                <tr>
                                    <td>{{ caisse.datecaisse|date('d-m-Y H:i:s') }}</td>
                                    <th>{{ caisse.montantusd }}</th>
                                    <td>{{ caisse.episode.patient.nom~" "~caisse.episode.patient.postnom }}</td>
                                    <td>{{ caisse.episode.patient.societe }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>

                            <td></td>
                            <th>{{ tot }}</th>
                            <td></td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    <div role="tabpanel" class="tab-pane fade" id="profile2" aria-labelledby="profile-tab">
    <div class="row">

    <ul class="list-inline m-t-15">
                                            <li>
                                                <h5 class="text-muted m-t-20">Total</h5>
                                                <h4 class="m-b-0">$ {% if cvtot != [] %}{{ cvtot.usd }} {% endif %}</h4>
                                            </li>
                                            <li>
                                                <h5 class="text-muted m-t-20">Ce Mois</h5>
                                                <h4 class="m-b-0">$ {% if cvmois  != [] %} {{ cvmois.usd }} {% endif %}</h4>
                                            </li>
                                            <li>
                                                <h5 class="text-muted m-t-20">Aujourd'hui</h5>
                                                <h4 class="m-b-0">$ {% if cvjr  != [] %} {{ cvjr.usd }} {% endif %}</h4>
                                            </li>
                                        </ul>
   <table class="table table-striped">
   <thead>
   <tr>
   <th>Date</th>
   <th>Description</th>
   <th>Montant USD</th>
   <th>Societe</th>
   <th>Caissier</th>
</tr>
</thead>
<tbody>
{% for depense in paiements %}
<tr>
<td>{{ depense.datepaiement|date('d-m-Y h:i:s') }}</td>
<td>{{ depense.description }}</td>
<td>{{ depense.montantusd }} USD</td>
<td>{{ depense.societe }}</td>
<td>{{ depense.utilisateur.nom~" "~depense.utilisateur.postnom~" "~depense.utilisateur.prenom }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
        </div>
    <div role="tabpanel" class="tab-pane fade" id="profile3" aria-labelledby="profile-tab">
    <div class="row">

    <ul class="list-inline m-t-15">
                                            <li>
                                                <h5 class="text-muted m-t-20">Total</h5>
                                                <h4 class="m-b-0">${{ bstot[1] }}</h4>
                                            </li>
                                            <li>
                                                <h5 class="text-muted m-t-20">Ce Mois</h5>
                                                <h4 class="m-b-0">${% if bsmois[0].depmois %}{{ bsmois[0].depmois }}{% else %}$0{% endif %}</h4>
                                            </li>
                                            <li>
                                                <h5 class="text-muted m-t-20">Aujourd'hui</h5>
                                                <h4 class="m-b-0">${{ bsday[1] }}</h4>
                                            </li>
                                        </ul>
   <table class="table table-striped">
   <thead>
   <tr>
   <th>Date</th>
   <th>Caissier</th>
   <th>Montant</th>
   <th>Beneficiare</th>
   <th>Visa</th>
</tr>
</thead>
<tbody>
{% for depense in depenses %}
<tr>
<td>{{ depense.datebs|date('d-m-Y h:i:s') }}</td>
<td>{{ depense.caissier.nom }}</td>
<td>{{ depense.montant }}{{ depense.devise }}</td>
<td>{{ depense.beneficiaire }}</td>
<td>{{ depense.visa }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile4" aria-labelledby="profile-tab">
        </div>

</div>



{% endblock %}
    {% block Stylesheets %}
        {{ parent() }}
        {% include 'hostooSanteBundle:plugins:datatable.style.html.twig' %}
    {% endblock %}
    {% block javascripts %}
    {{ parent() }}
    {% include 'hostooSanteBundle:plugins:datatable.scripts.html.twig' %}
    <script>
    $(function() {
      $('.table').DataTable();
    });
        </script>
    {% endblock %}