<div class="well">
    <form action="{{ path(url) }}" method="post">
        {% set mois={'1':'janvier','2':'Fevrier','3':'Mars','4':'Avril','5':'Mai','6':'Juin','7':'Juillet','8':'Aout','9':'Spetembre','10':'Octobre','11':'Novembre','12':'Decembre'}  %}
        <div class="form-inline">
            <select name="jour_rapport">
                {% for k in 0..31 %}
                    <option value="{% if k < 10 %}{{ "0"~k }}{% else %}{{ k }}{% endif %}">{{ k }}</option>
                {% endfor %}
            </select>
            <select name="mois_rapport">
                {% for k,m in mois %}
                <option value="{% if k < 10 %}{{ "0"~k }}{% else %}{{ k }}{% endif %}">{{ m }}</option>
                {% endfor %}
            </select>
            <select name="annee_rapport">
                {% for m in "now"|date('Y').."now"|date('Y')-5 %}
                    <option value="{{ m }}">{{ m }}</option>
                {% endfor %}
            </select>
            <input type="submit" class="btn btn-success" />
        </div>
    </form>
</div>