{% extends "hostooSanteBundle::blank.html.twig" %}
{% block menu %}
    {% include 'hostooSanteBundle:menus:menurapport.html.twig' %}
{% endblock %}
{% block titrepage %}
    {% endblock %}
{% block body %}
    {{ render(controller('hostooGestionBundle:Reporting:reportingMensuel',{'url':'caisses_performances'})) }}
    <div class="card-box">
    <table class="table table-striped table-bordered">
        <caption>Patients</caption>
        <thead>
        <tr>
            <td>Médécins</td>
            <td>CONSULTATION</td>
            <td>LABO</td>
            <td>ECHOGRAPHIE</td>
            <td>SOINS</td>
            <td>HOSPITALISATION</td>
            <td>ACCOUCHEMENT</td>
            <td>AUTRES ACTES</td>
        </tr>
        </thead>
        <tbody>
        {% if performances !=null %}
        {% for med in medecins %}
            <tr>
                <td><a href="{{ path('profile_utilisateur',{'id': med.id }) }}"> {{ med }} </a></td>
                <td>{{ med.mesconsultations }}</td>
                <td> {{ med.lesExamensDuLabo }}</td>
                <td> {{ med.lesExamensEcho }}</td>
                <td></td>
                <td>{{ med.hospitalisations|length }}</td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    </div>
    {#<div class="card-box">#}
        {#<table class="table table-striped table-bordered">#}
            {#<caption>Patients Conventionnés</caption>#}
            {#<thead>#}
            {#<tr>#}
                {#<td>Médécins</td>#}
                {#<td>CONSULTATION</td>#}
                {#<td>LABO</td>#}
                {#<td>ECHOGRAPHIE</td>#}
                {#<td>SOINS</td>#}
                {#<td>HOSPITALISATION</td>#}
                {#<td>ACCOUCHEMENT</td>#}
                {#<td>AUTRES ACTES</td>#}
            {#</tr>#}
            {#</thead>#}
            {#<tbody>#}
            {#{% if performancescv !=null %}#}
                {#{% for med in performancescv %}#}
                    {#<tr>#}
                        {#<td>{{ med.mdc }}</td>#}
                        {#<td>{{ med.epis }}</td>#}
                        {#<td>{{ med.lbs }}</td>#}
                        {#<td>{{ med.imgs }}</td>#}
                        {#<td></td>#}
                        {#<td></td>#}
                        {#<td></td>#}
                        {#<td></td>#}
                    {#</tr>#}
                {#{% endfor %}#}
            {#{% endif %}#}
            {#</tbody>#}
        {#</table>#}
    {#</div>#}

{% endblock %}
    {% block Stylesheets %}
        {{ parent() }}
        {% include 'hostooSanteBundle:plugins:datatable.style.html.twig' %}
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {% include 'hostooSanteBundle:plugins:datatable.scripts.html.twig' %}
        <script>
            $(function() {
                $('.table').DataTable({
                    dom:'Btip',
                    buttons:['copy','excel','pdf']
                });
            });
        </script>
    {% endblock %}