{% extends "hostooSanteBundle::blank.html.twig" %}
{% block menu %}
{% include 'hostooSanteBundle:menus:menurapport.html.twig' %}
{% endblock %}
{% block title %}TABLEAU DE LA SITUATION GLOBALE HOSTOO{% endblock %}
{% block titrepage %}TABLEAU DE LA SITUATION GLOBALE HOSTOO{% endblock %}
{% block body %}
    <div class="col-lg-12">
        <h3>GENERAL</h3>
        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ patients|length }}</h2>
                    <h5>Tous les patients</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ prive }}</h2>
                    <h5>Conventionnés</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ conv }}</h2>
                    <h5>Privés</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ dependants|length }}</h2>
                    <h5>Dépendants</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ epis|length }}</h2>
                    <h5>Episodes</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ rdvs|length }}</h2>
                    <a href="{{ path('_conventions_des_entreprises') }}"> <h5>Entreprises</h5></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <h3>FINANCE</h3>
        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ Cprive.montantusd }} USD</h2>
                    <h5>Caisse Privé</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ CConv.montantusd }} USD</h2>
                    <h5>Caisse Conventionnée</h5>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup"></h2>
                    <h5>Depot en Banque</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup"></h2>
                    <h5>Retrait en Banque</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup"></h2>
                    <a href="{{ path('rdvmed_show_today') }}"> <h5>Entrée Caisse</h5></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card-box widget-user">
                <div class="text-center">
                    <h2 class="text-custom" data-plugin="counterup">{{ sortie[1] }}</h2>
                    <h5>Sortie Caisse</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="card-box">

                <table class="table table-striped">
                    <caption><h4 class="text-center">Patients par Société</h4></caption>
                    {% for soc in socs %}
                        <tr>
                            <th class=""><a href="{{ path('hostoo_sante_listepatients') }}?societe={{ soc.id }}">{{ soc.nom }}</a> </th><td class="text-right text-danger"><i class="badge badge-success">{{ soc.patients.count }}</i></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card-box">

                <table class="table table-striped">
                    <caption><h4 class="text-center">Patients par formules</h4></caption>
                    {% for soc in patfor %}
                        <tr>
                            <th class=""><a href="{{ path('hostoo_sante_listepatients') }}?formule={{ soc.id }}">{{ soc.nom }}</a> </th><td class="text-right text-danger"><i class="badge badge-info"> {{ soc.patients|length }}</i><i class="badge badge-danger">{{ soc.fortar|length }}</i></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card-box">
                <h4>Le {{ "now"|date('d-M-Y') }}</h4>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Société</th><th>Visites</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for freq in freqsj %}
                        <tr>
                            <td> {{ freq.societe }}</td><td><i class="badge badge-info pull-right">{{ freq.cpte }}</i></td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-box">
                <h4>Fréquentation : {{ "now"|date('m-Y') }}</h4>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Société</th><th>visites</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for freq in freqs %}
                        <tr>
                            <td > {{ freq.societe }}</td><td><i class="badge badge-info pull-right">{{ freq.cpte }}</i></td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
