
    <h1>Opération de la Banque</h1>

    <form action="{{ path('banque_new') }}" method="post">


    {{ form_label(form.mouvement,"Opération") }}
    {{ form_errors(form.mouvement) }}
    {{ form_widget(form.mouvement,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.nombanque,"Nom de la Banque") }}
    {{ form_errors(form.nombanque) }}
    {{ form_widget(form.nombanque,{'attr':{'class':'form-control'}}) }}
<div class="row">
    <div class="col-xs-6">
    {{ form_label(form.montant) }}
    {{ form_errors(form.montant) }}
    {{ form_widget(form.montant,{'attr':{'class':'form-control'}}) }}
</div>
    <div class="col-xs-6">
    {{ form_label(form.devise) }}
    {{ form_errors(form.devise) }}
    {{ form_widget(form.devise,{'attr':{'class':'form-control'}}) }}
</div>
    </div>
    {{ form_label(form.reference,"Référence") }}
    {{ form_errors(form.reference) }}
    {{ form_widget(form.reference,{'attr':{'class':'form-control','placeholder':'Ex. numéro du bordereau'}}) }}

    {{ form_label(form.libelle,"Observation") }}
    {{ form_errors(form.libelle) }}
    {{ form_widget(form.libelle,{'attr':{'class':'form-control','placeholder':'Bref commentaire sur l\'opération'}}) }}
<div class="hidden">
    {{ form_rest(form) }}
</div>
        <input type="submit" value="Enregistrer" class="btn btn-success" />
    


    </form>
    <ul>
        <li>
            <a href="{{ path('banque_index') }}">Liste des opérations antérieures</a>
        </li>
    </ul>

