{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block menu %}
    {% include "hostooSanteBundle:menus:menucaisse.html.twig" %}
{% endblock %}
{% block body %}
    <h1>Visa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visa.id }}</td>
            </tr>
            <tr>
                <th>Datevisa</th>
                <td>{% if visa.datevisa %}{{ visa.datevisa|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Montantusd</th>
                <td>{{ visa.montantUsd }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ visa.code }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('visa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('visa_edit', { 'id': visa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
