{% extends 'hostooSanteBundle::blank.html.twig' %}

{% block titrepage %}{% endblock %}
{% block options %}{% endblock %}
{% block menu %}{% include 'hostooSanteBundle:menus:menulabo.html.twig' %}{% endblock %}
{% block body %}
    <div class="card-box">
    <h3>Examens de Laboratoire</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Patient</th>
                <th>Examen</th>
                <th>Statut</th>
                <th>Medecin</th>
                {#<th>Service</th>#}
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for resultatsLabo in resultatsLabos %}
            <tr>
                <td>{% if resultatsLabo.dateresultat %}{{ resultatsLabo.dateresultat|date('d-m-Y') }}{% endif %}</td>
                <td>{{ resultatsLabo.ordonnance.episode.patient }}</td>
                <td>{{ resultatsLabo.acte }}</td>
                <td>{% if  resultatsLabo.attente %}<span class="label label-success">Réalisé</span> {% else %}<span class="label label-warning">En attente</span>{% endif %}</td>
                <td>{{ resultatsLabo.ordonnance.medecin|upper }}</td>
                {#<td>{{ resultatsLabo.ordonnance.medecin.service|upper }}</td>#}
                {#<td>
                    <ul>
                <th>Resultat</th>
                        <li>
                            <a href="{{ path('resultatslabo_show', { 'id': resultatsLabo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('resultatslabo_edit', { 'id': resultatsLabo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    {{ parent() }}
    <script>
        $(function () {
            $('.table').DataTable();
        });
    </script>
{% endblock %}