{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block menu %}
    {% if is_granted('ROLE_CAISSIER') %}
        {% include 'hostooSanteBundle:menus:menucaisse.html.twig' %}
    {% elseif is_granted('ROLE_RECEPTION') %}
        {% include 'hostooSanteBundle:menus:menurc.html.twig' %}
    {% elseif is_granted('ROLE_LABORATOIRE')%}
        {% include 'hostooSanteBundle:menus:menulabo.html.twig' %}
    {% elseif is_granted('ROLE_MEDECIN') %}
        {% include 'hostooSanteBundle:menus:menudoc.html.twig' %}
    {% else %}
        {% include 'hostooSanteBundle:menus:menunrs.html.twig' %}
    {% endif %}
{% endblock %}
{% block titrepage %}{% endblock %}
{% block options %}{% endblock %}
{% block body %}
    <h1>Liste des Articles</h1>
<div class="card-box">
    <form method="post" action="{{ path('requisition_new') }}">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Désignation</th>
                <th>Prix</th>
                <th>Qté</th>
                <th>Reste</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><input type="checkbox" name="selectarticlereq[]" value="{{ article.id }}" /></td>
                <td><a href="{{ path('req_article_show', { 'id': article.id }) }}">{{ article.designation }}</a></td>
                <td>{{ article.prix }}</td>
                <td>{% if article.prodstock.qte is defined %}{{ article.prodstock.qte }}{% endif %}</td>
                <td>{% if article.prodstock.reste is defined %}{{ article.prodstock.reste }} {% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('req_article_show', { 'id': article.id }) }}">afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('req_article_edit', { 'id': article.id }) }}">modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('req_article_edit', { 'id': article.id }) }}">transferer</a>
                        </li>
                    </ul>
                </td>
            </tr>

        {% endfor %}

        </tbody>
        <tfoot>
        <tr>
            <td colspan="6"><input type="submit" value="Requisition" class="btn btn-info"></td>
        </tr>
        </tfoot>
    </table>
    </form>
</div>
    <ul class="list-unstyled">
        <li>
            <a href="{{ path('req_article_new') }}" class="btn btn-success">Nouvel Article</a>
        </li>
    </ul>
{% endblock %}
