{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block menu %}
    {% if is_granted('ROLE_CAISSIER') %}
        {% include 'hostooSanteBundle:menus:menucaisse.html.twig' %}
    {% elseif is_granted('ROLE_RECEPTION') %}
        {% include 'hostooSanteBundle:menus:menurc.html.twig' %}
    {% elseif is_granted('ROLE_LABORATOIRE')%}
        {% include 'hostooSanteBundle:menus:menulabo.html.twig' %}
    {% elseif is_granted('ROLE_MEDECIN') %}
        {% include 'hostooSanteBundle:menus:menudoc.html.twig' %}
    {% else %}
        {% include 'hostooSanteBundle:menus:menunrs.html.twig' %}
    {% endif %}
{% endblock %}
{% block titrepage %}{% endblock %}
{% block options %}{% endblock %}
{% block body %}
    <h1>Article</h1>
<div class="row">

        <div class="col-md-6">
            <div class="card-box">
                <h4>Details</h4>
    <table class="table">

        <tbody>
            <tr>
                <th>Designation</th>
                <td>{{ article.designation }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ article.prix }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{% if article.prodstock.qte is defined %}{{ article.prodstock.qte }}{% endif %}</td>
            </tr>

            <tr>
                <th>reste</th>
                <td>{% if article.prodstock.reste is defined %}{{ article.prodstock.reste }} {% endif %}</td>
            </tr>
        </tbody>
    </table>
        </div>
            </div>
        <div class="col-md-6 col-sm-12">
            <div class="card-box">
                <h4>Corriger le Stock</h4>
    <form action="{{ path('article_correct_stock',{'id':article.id}) }}" method="post">
        {{ form_widget(stockprod) }}
    </form>
        </div>
    <ul>
        <li>
            <a href="{{ path('req_article_index') }}">Allez à la liste</a>
        </li>
        <li>
            <a href="{{ path('req_article_edit', { 'id': article.id }) }}">Modifier</a>
        </li>
        <li>
            <a href="{{ path('req_article_edit', { 'id': article.id }) }}">Transferer l'article</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
