{% extends 'base.html.twig' %}

{% block body %}
    <h1>Consultation list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dateconsultation</th>
                <th>Consultation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consultation in consultations %}
            <tr>
                <td><a href="{{ path('medecin_consultation_show', { 'id': consultation.id }) }}">{{ consultation.id }}</a></td>
                <td>{% if consultation.dateconsultation %}{{ consultation.dateconsultation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ consultation.consultation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('medecin_consultation_show', { 'id': consultation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('medecin_consultation_edit', { 'id': consultation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('medecin_consultation_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
