{% extends "hostooSanteBundle::blank.html.twig" %}
{% block menu %}
    {% include "hostooSanteBundle:menus:menurc.html.twig" %}
{% endblock %}
{% block body %}
    {% set i=0 %}

    {% for cat in categories %}
        {% set i=i+1 %}
        <!-- panel heading-->

        <div class="panel-heading">
            <a class="accordion-toggle" href="#acte{{ i }}" data-toggle="collapse">{{ cat.nom }}</a>
        </div>
        <!-- panel heading end-->
        <!-- panel collapse-->
        <ul class="list-group">
            <div id="acte{{ i }}" {% if i==1 %}class="panel-collapse collapse in" {% else %}class="panel-collapse collapse"{% endif %}>
                <div class="panel-body">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-6">
                                Libelle
                            </div>
                            <div class="col-sm-2">
                                Privé
                            </div>
                            <div class="col-sm-2">
                                Férié
                            </div>
                            <div class="col-sm-2">
                                Conventionné
                            </div>
                        </div>
                    </li>
                    {% for acte in actes %}

                        {% if cat.nom == acte.categories.nom %}

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{acte.designationacte }}
                                    </div>
                                    <div class="col-sm-2">
                                        {{acte.prive }}$
                                    </div>
                                    <div class="col-sm-2">
                                        {{acte.gardejourferie }}$
                                    </div>
                                    <div class="col-sm-2">
                                        {{acte.conventionne }}$
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}</div></div></ul>
    {% endfor %}
{% endblock %}