{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block menu %}
    {% include 'hostooSanteBundle:menus:menurapport.html.twig' %}
{% endblock %}
{% block titrepage %}
    Liste des patients
{% endblock %}
{% block options %}
    {% if is_granted('ROLE_RECEPTION_PRIVE') %}
        <a href="{{ path('hostoo_sante_savepatient') }}" class="btn btn-success"><i class="zmdi zmdi-account-add"></i> <span>Ajouter patient </span> <span class="menu-arrow"></span> </a>
    {% elseif is_granted('ROLE_ACCUEIL') %}
        <a href="{{ path('hostoo_sante_savepatient_cp') }}" class="btn btn-success"><i class="zmdi zmdi-account-add"></i> <span>Ajouter patient </span> <span class="menu-arrow"></span> </a>
    {% endif %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="card-box">
            {% set homme,femme,enf= 0,0,0 %}
            {% for epi in patients %}
                {% if epi.patient.sexe == 1  and (("now"|date('Y'))-epi.patient.datenaissance|date('Y')) > 18%}
                {% set homme = homme +1 %}
                {% elseif epi.patient.sexe == 0 and (("now"|date('Y'))-epi.patient.datenaissance|date('Y')) > 18%}
                    {% set femme= femme +1 %}
                {% elseif (("now"|date('Y'))-epi.patient.datenaissance|date('Y')) <= 18 %}
                {% set enf= enf +1 %}
                {% endif %}
            {% endfor %}
            <span class="label label-info">Homme <span class="badge badge-info">{{ homme }}</span> </span>
            <span class="label label-inverse">Femme <span class="badge badge-info">{{ femme }}</span> </span>
            <span class="label label-pink">Enfant <span class="badge badge-info">{{ enf }}</span> </span>
            <div class="row">
                {% if is_granted('ROLE_ACCUEIL') %}
                    <ul class="list-group list-inline">
                        {% for cat in cats %}
                            {% if cat.id != 2 and is_granted('ROLE_ACCUEIL') %}
                                <li class="col-md-3"><a href="{{ path('hostoo_sante_listepatients',{'formule': cat.id }) }}"> {{ cat }} ({{ cat.patientsencategorie.count }})</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% if patients == null %}
        <h2>Pas de liste</h2>
    {% else %}
        <div class="card-box">
            <table class="table table-striped" id="patients">
                <caption>
                    <span class="label label-info">Homme <span class="badge badge-info">{{ homme }}</span> </span>
                    <span class="label label-inverse">Femme <span class="badge badge-info">{{ femme }}</span> </span>
                    <span class="label label-pink">Enfant <span class="badge badge-info">{{ enf }}</span> </span>
                </caption>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>AGENT</th>
                    <th>PARENTE</th>
                    <th>N°</th>
                    <th>Nom - Postnom - Prénom</th>
                    <th>Sexe</th>
                    <th>Date de naissance</th>

                    <th>Categorie</th>
                    <th>Formule</th>
                    <th>Societé</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for patient in patients %}
                    <tr>
                        <td>{{ patient.dateepisode|date('d/m/Y')  }}</td>
                        <td>{% if patient.patient.madependance %}{{ patient.patient.madependance.patient.nom~" "~patient.patient.madependance.patient.postnom  }} {% else %} {{ patient.patient.nom }} {{ patient.patient.postnom }} {{ patient.patient.prenom }}{% endif %}</td>
                        <td>{% if patient.patient.madependance %}{{ patient.patient.madependance.parente }}{% else %}TUTILAIRE {% endif %}</td>
                        <td>{{ patient.patient.id }}</td>
                        <td>{{ patient.patient.nom }} {{ patient.patient.postnom }} {{ patient.patient.prenom }}{% if patient.patient.madependance %}<span class="label label-warning">Dependant</span>{% endif %} </td>
                        <td>{% if patient.patient.sexe == true %}M{% else %}F{% endif %}</td>
                        <td>{% if patient.patient.datenaissance %}{{ patient.patient.datenaissance|date('d/m/Y')~" "~(("now"|date('Y'))-patient.patient.datenaissance|date('Y')) }}{% else %}<span class="label label-warning">Pas de date</span> {% endif %}</td>
                        <td>{{ patient.patient.societe.convention.nomconvention }}</td>
                        <td>
                            {% if patient.patient.madependance %}
                            {% if patient.patient.madependance.patient.formule  %}{{ patient.patient.madependance.patient.formule.nom  }} {% endif %}
                            {% else %}
                            {% if patient.patient.formule  %}{{ patient.patient.formule.nom }}{% endif %}
                            {% endif %}</td>
                        <td>{% if patient.patient.societe %}{{ patient.patient.societe.nom }} {% endif %}</td>
                        <td>
                            {#{% if patient.patient.societe.convention.nomconvention and patient.patient.societe and not patient.patient.madependance and (is_granted('ROLE_ACCUEIL') or is_granted('ROLE_RECEPTION_PRIVE') or is_granted('ROLE_RECEPTION')) %}#}

                                <a href="{{ path('rdv_reception',{'id':patient.patient.id}) }}" class="btn btn-default" title="Prendre Rendez-vous"> <i class="fa fa-clock-o"></i></a>
                                <a href="{{ path('hostoo_sante_voirpatient',{'id':patient.patient.id}) }}" class="btn btn-info" title="Afficher le patient.patient"> <i class="fa fa-eye"></i></a>
                            {#{% elseif is_granted('ROLE_FACTURATION') %}#}
                                {#<a href="{{ path('factures_du_patient.patient',{'id':patient.patient.id}) }}" class="btn btn-info" title="Afficher le patient.patient"> <i class="fa fa-eye"></i></a>#}
                            {#{% else %}#}
                                {#<a href="{{ path('hostoo_sante_editpatient.patientrc',{'id':patient.patient.id}) }}" class="btn btn-warning" title="Modifier le patient" > <i class="fa fa-edit"></i></a>#}
                            {#{% endif %}#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% include "hostooSanteBundle:plugins:datatable.style.html.twig" %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% include "hostooSanteBundle:plugins:datatable.scripts.html.twig" %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#patients').dataTable({
                "bProcessing": true,
                "bDeferRender": true,
                deferRender:    true,
                scrollY:        800,
                scrollCollapse: true,
                scroller:       true,
                dom: "Bfrtip",
                buttons: [{extend: "copy", className: "btn-sm"}, {extend: "csv", className: "btn-sm"}, {
                    extend: "excel",
                    className: "btn-sm"
                }, {extend: "pdf", className: "btn-sm"}, {extend: "print", className: "btn-sm"}],

                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
        });
    </script>
    <script type="application/javascript">
        $inp=$('#motcle');
        $inp.keyup(function(event){
            $('#mesitems').show().html('');
            //$(".loading").show();
            var motcle = $(this).val();
            var DONNEE = 'motcle=' + motcle;
            $.ajax({
                type: "POST",
                dataType:'json',
                url: Routing.generate('recherche_patient'),
                data: DONNEE,
                cache: false,
                minLength: 2,
                beforeSend: function () {
                    $('#mesitems').find('li').remove();
                },
                success: function(data) {


                    $.each(data.items, function(index,value) {
                        //$("#ott").text(value.libelle+'<br/>'+value.Prix);
                        var nophoto="../../jquery-ui/images/no_image.jpg";
                        var lien=Routing.generate('hostoo_sante_voirpatient',{id:value.id});
                        var lien2=Routing.generate('hostoo_ajouter_parent',{id:value.id});
                        var lien3=Routing.generate('hostoo_ajouter_parent',{id:value.id});
                        $('#mesitems').prepend('<li class="list-group-item"><span class="fa fa-user"></span>'+value.nom+' '+value.postnom+' '+value.prenom+'<div class="btn-group pull-right"><a href="'+lien2+'" class="btn btn-success">Dependants</a><a class="btn btn-info" href="'+lien+'">Afficher</a>{#<a class="btn btn-warning" href="'+lien3+'">Episode</a><a class="btn btn-warning" href="#">Control</a>#}</div> </li>');
                        //$('#resultats').html('<div>'+value.libelle+'</div>');
                        //alert(value.libelle);
                    });

                    // $(".loading").hide();
                }
            });
            return false;
        });

        // Date Picker
        jQuery('#datepicker').datepicker();
        jQuery('#patient_datenaissance').datepicker({
            autoclose: true,
            dateFormat: "dd/mm/yy",
            dayNames: [ "Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi" ],
            dayNamesMin: [ "Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa" ],
            monthNames: ["Janvier","Fevrier","Mars","Avril","Mai","Juin","Juillet","Aout","Septembre","Octobre","Novembre","Decembre"],
            todayHighlight: true
        });

    </script>
{% endblock %}