{% extends 'hostooSanteBundle::blank.html.twig' %}

{% block options %}{% endblock %}
{% block menu %}
    {% include 'hostooSanteBundle:menus:menunrs.html.twig' %}
{% endblock %}

{% block titre %}Rendez-vous {% endblock %}
{% block titrepage %}Rendez-vous {% endblock %}
{% block body %}
    <div class="row">
        <div class="card-box">
            <ul class="list-group list-unstyled" id="mesitems" style="display: none">

            </ul>
        </div>
    </div>
    <div class="col-md-3" style="border-right: double 1px skyblue">
        <h3>Formulaire</h3>
<form action="{{ path('hostoo_sante_creerdvd') }}" method="post" class="vertical col_12">
    {{ form_label(form.daterdv,'Date du Jour') }}
    {{ form_errors(form.daterdv) }}
    {{ form_widget(form.daterdv,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.heureDebut,'Heure de debut') }}
    {{ form_errors(form.heureDebut) }}
    {{ form_widget(form.heureDebut,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.heureFin,'Heure de la fin') }}
    {{ form_errors(form.heureFin) }}
    {{ form_widget(form.heureFin,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.nbrepatients,'Patient à recevoir (optionnel)') }}
    {{ form_errors(form.nbrepatients) }}
    {{ form_widget(form.nbrepatients,{'attr':{'class':'form-control'}}) }}

    {{ form_label(form.patientsrecus,'Patients Reçus') }}
    {{ form_errors(form.patientsrecus) }}
    {{ form_widget(form.patientsrecus,{'attr':{'class':'form-control'}}) }}
<div class="hidden">
    {{ form_label(form.disponibilite,'Disponibilité') }}
    {{ form_errors(form.disponibilite) }}
    {{ form_widget(form.disponibilite,{'attr':{'class':'form-control'}}) }}
</div>
    <label for="medecin" >Medecin</label>
    <select name="medecin" class="form-control" id="medecin">
        {% for med in meds %}
            {% if med.roles[0]=="ROLE_MEDECIN" %}
        <option value="{{ med.id }}">
            {{ med.nom }}  {{ med.postnom }}
        </option>
                {% endif %}
            {% endfor %}
    </select>
    {{ form_rest(form) }}
</form>
    </div>
    <div class="col-md-9">
        <h3>Médécin disponible au {{ "now"|date('d-m-Y') }}</h3>
    <table class="table">
        <tr>
            <th>Date du rendez-vous</th>
            <th>Medecin</th>
            <th>Service</th>
            <th>En Attente</th>
            <th>Réçus</th>
            <th>Disponibilité</th>
            <th></th>
        </tr>
        {% if liste == null %}

            <tr>
                <td colspan="6" class="bg-danger text-center">Pas de RDV disponible</td>
            </tr>
            {% else %}
        {% for rdv in liste %}
            {% if rdv.medecin %}
                <tr>
            <td>{{ rdv.daterdv|date('d-m-Y') }}</td>
            <td>{{ rdv.medecin.nom }}</td>
            <td></td>
            {% if  rdv.rDVspatients.count > 0 %}

            <td>{{ rdv.rDVspatients.count }}</td>

                {% else %}
            <td>0</td>
                    {% endif %}
            <td>{{ rdv.patientsrecus }}</td>
            <td>{{ rdv.disponibilite }}</td>
            <td>
<div class="btn-group">
    <button class="btn-sm btn-success" data-toggle="modal" data-target="#attribuer{{ rdv.id }}"><i class="fa fa-plus"></i> </button>
    <button class="btn-sm btn-danger"><i class="fa fa-minus"></i> </button>
</div>
            </td>
        </tr>
            <div id="attribuer{{ rdv.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-full">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="full-width-modalLabel">Rendez-vous</h4>
                        </div>
                        <div class="modal-body">
                            <h5 class="m-t-30"><b>Rendez-vous du docteur {{ rdv.medecin.nom|upper }}</b></h5>
                            <p class="text-muted m-b-15 font-13">
                                Affecter un ou plusieurs patients au medecin
                            </p>
                            <form class="form-inline"  method="post" action="{{ path('attrib_rdvd') }}">
                                <input type="hidden" name="rdv" value="{{ rdv.id }}">
                                <select name="patients[]" class="multi-select" multiple="" id="my_multi_select{{ rdv.id }}" >
                                    {% for acte in pats %}
                                        {% for fac in acte.factures %}
                                            {% if fac.validation == true %}
                                        {% if acte.rdvpat == null %}
                                        <option value="{{ acte.id }}">{{ acte.patient.nom }} {{ acte.patient.postnom }}</option>
                                        {% endif %}
                                            {% endif %}
                                            {% endfor %}
                                    {% endfor %}
                                </select>
                                <br>
                                <br>
                                <input type="submit" value="Soumettre les patients" class="btn btn-custom">
                                <input type="reset" value="Annuler" class="btn btn-danger">
                            </form>

                        </div>
                    </div>
                </div>

            </div>
            <div id="oter">

            </div>
            {% endif %}
        {% endfor %}
                {% endif %}
    </table></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/jquery-datatables-editable/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/multiselect/js/jquery.multi-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/jquery-quicksearch/jquery.quicksearch.js') }}"></script>
    <script src="{{ asset('assets/plugins/select2/dist/js/select2.min.js') }}" type="text/javascript"></script>
    <script>
        $(function () {
            $('#listepatients').dataTable();
        });
    </script>
    <script>
        $(function () {

            {% for rdv in liste %}
            //advance multiselect start
            $('#my_multi_select{{ rdv.id }}').multiSelect({
                selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                afterInit: function (ms) {
                    var that = this,
                            $selectableSearch = that.$selectableUl.prev(),
                            $selectionSearch = that.$selectionUl.prev(),
                            selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                            selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                            .on('keydown', function (e) {
                                if (e.which === 40) {
                                    that.$selectableUl.focus();
                                    return false;
                                }
                            });

                    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                            .on('keydown', function (e) {
                                if (e.which == 40) {
                                    that.$selectionUl.focus();
                                    return false;
                                }
                            });
                },
                afterSelect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                },
                afterDeselect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                }
            });
            // Select2
            $(".select2").select2();

            $(".select2-limiting").select2({
                placeholder: "Choisir les actes"
            });
            {% endfor %}

        });
    </script>
    <script type="application/javascript">
        $inp=$('#motcle');
        $inp.keyup(function(event){
            $('#mesitems').show().html('');
            //$(".loading").show();
            var motcle = $(this).val();
            var DONNEE = 'motcle=' + motcle;
            $.ajax({
                type: "POST",
                dataType:'json',
                url: Routing.generate('recherche_patient'),
                data: DONNEE,
                cache: false,
                minLength: 2,
                beforeSend: function () {
                    $('#mesitems').find('li').remove();
                },
                success: function(data) {


                    $.each(data.items, function(index,value) {
                        //$("#ott").text(value.libelle+'<br/>'+value.Prix);
                        var nophoto="../../jquery-ui/images/no_image.jpg";
                        var lien=Routing.generate('hostoo_sante_voirpatient',{id:value.id});
                        var lien2=Routing.generate('hostoo_ajouter_parent',{id:value.id});
                        var lien3=Routing.generate('hostoo_ajouter_parent',{id:value.id});
                        $('#mesitems').prepend('<li class="list-group-item"><img src='+nophoto+' class="box-carre" />'+value.nom+' '+value.postnom+' '+value.prenom+'<div class="btn-group pull-right"><a href="'+lien2+'" class="btn btn-success">Dependants</a><a class="btn btn-info" href="'+lien+'">Afficher</a>{#<a class="btn btn-warning" href="'+lien3+'">Episode</a><a class="btn btn-warning" href="#">Control</a>#}</div> </li>');
                        //$('#resultats').html('<div>'+value.libelle+'</div>');
                        //alert(value.libelle);
                    });

                    // $(".loading").hide();
                }
            });
            return false;
        });

        // Date Picker
        jQuery('#datepicker').datepicker();
        jQuery('#patient_datenaissance').datepicker({
            autoclose: true,
            dateFormat: "dd/mm/yy",
            dayNames: [ "Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi" ],
            dayNamesMin: [ "Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa" ],
            monthNames: ["Janvier","Fevrier","Mars","Avril","Mai","Juin","Juillet","Aout","Septembre","Octobre","Novembre","Decembre"],
            todayHighlight: true
        });

    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/jquery-datatables-editable/datatables.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/multiselect/css/multi-select.css') }}"  rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/plugins/select2/dist/css/select2.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/plugins/select2/dist/css/select2-bootstrap.css') }}" rel="stylesheet" type="text/css">
{% endblock %}