{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titre %}{{ parent() }} ::Rapport :: Pharmacie{% endblock %}
{% block titrepage %} Rapport :: Pharmacie{% endblock %}
{% block menu %}
    {% include 'hostooUserBundle:menus:menuphar.html.twig' %}
{% endblock %}
{% block options %}

{% endblock %}
{% block body %}
   <div class="card-box">
       <form class="form-inline" action="{{ path('hp_rapports_conso') }}" method="post">
           <label>Du :
           <input type="date" name="datea" class="form-control">
           </label>
           <label>Au :
           <input type="date" name="dateb" class="form-control">
           </label>
           <input type="submit" value="Afficher" class="btn btn-info">
       </form>
       <table class="table table-striped">
           <caption><h3>Consommation au {{ "now"|date('d-m-Y') }} ({{ journaux|length }})</h3></caption>
           <thead>
           <tr>
               <th>Date</th>
               <th>Produit</th>
               <th>Quantité</th>
               <th>Valeur en FC</th>

               <th>Auteur</th>
           </tr>
           </thead>
           <tbody>
           {% set totmont=0 %}
           {% for jour in journaux %}
               {% if jour.ordonnance %}
           <tr>
               <td>{{ jour.ordonnance.dateordo|date('d-m-Y') }}</td>
               <td>{{ jour.produit }}</td>
               <td>{{ jour.qte }}</td>
               {% if jour.produit.plaquette != null or jour.produit.plaquette > 0 %}
                   {% set totmont=totmont+(jour.produit.prix/(jour.produit.plaquette*jour.produit.unite)) %}
                   <td>{{ jour.produit.prix/(jour.produit.plaquette*jour.produit.unite) }}</td>
                   {% else %}
                       <td>{{ jour.produit.prix/(jour.produit.unite) }}</td>
                       {% set totmont=totmont+(jour.produit.prix/(jour.produit.unite)) %}
               {% endif %}

               <td>{% if jour.ordonnance %}{{ jour.ordonnance.medecin.nom~" "~jour.ordonnance.medecin.postnom }}{% endif %}</td>
           </tr>
               {% endif %}
           {% endfor %}
           </tbody>
            <tfoot>
            <tr>

                <th></th>
                <th></th>
                <th>TOTAL</th>
                <th>Fc {{ totmont }}</th>
                <th></th>
                <th></th>
            </tr>
            </tfoot>
       </table>
   </div>


{% endblock %}