{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block menu %}
    {% if is_granted('ROLE_MEDECIN') %}
        {% include 'hostooSanteBundle:menus:menudoc.html.twig' %}
    {% elseif  is_granted('ROLE_INFIRMIER') %}
        {% include 'hostooSanteBundle:menus:menunrs.html.twig' %}
    {% endif %}
{% endblock %}
{% block body %}
    <h1>Tour</h1>
<div class="col-md-8">
<div class="card-box">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Hospitalisation /  Tour N°</th>
            <td>{{ tour.hospitalisation~" / "~tour.id }}</td>
            </tr>
            <tr>
                <th>Patient /  Medecin</th>
                <td>{{ tour.hospitalisation.patient~" / "~tour.hospitalisation.medecin }}</td>
            </tr>
            <tr>
                <th>Datetour</th>
                <td>{% if tour.datetour %}{{ tour.datetour|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled list-inline">
        <li>
            <a href="{{ path('hospitalisation_show',{'id': tour.hospitalisation.id }) }}" class="btn btn-custom">Hospitalisation en cours</a>
        </li>
        <li>
            <a href="{{ path('hospitalisation_tour_index',{'id': tour.hospitalisation.id }) }}" class="btn btn-info">Les Tours de salle</a>
        </li>
        <li>
            <a href="{{ path('hospitalisation_tour_edit', { 'id': tour.id }) }}" class="btn btn-warning">Modifier</a>
        </li>
        {% if is_granted('ROLE_MEDECIN') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
</div>

    <div class="card-box">
        <div class="row">
            <div class="btn-group-justified">
            <a class="btn btn-custom" data-toggle="modal" data-target="#tabr3">Laboratoire</a>
            <a class="btn btn-default" data-toggle="modal" data-target="#tabr5">Pharmacie</a>
            <a class="btn btn-custom" data-toggle="modal" data-target="#tabr4">Imagerie</a>
            <a class="btn btn-default" data-toggle="modal" data-target="#tabr6">Autres</a>

        </div>
    </div>
    <div class="tab-content">
        <div id="tabr3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-full">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="full-width-modalLabel">Les examens du laboratoire</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel">


                            <div class="panel-body">
                                <form class="form-inline"  method="post" action="{{ path('labo_actes') }}">
                                    <input type="hidden" name="hospitalisation" value="{{ tour.hospitalisation.id }}">
                                    <select name="labo[]" class="multi-select" multiple="" id="my_multi_select3" >

                                        {% for acte in labos %}
                                            {% set tampon=0 %}
                                            {% if tour.hospitalisation.patient.societe.id !=15 and tour.hospitalisation.patient.formule != null %}
                                                {% for pacte in tour.hospitalisation.patient.formule.forsoc %}
                                                    {% if acte.id == pacte.acte.id %}
                                                        {% if pacte.societe.id==tour.hospitalisation.patient.societe.id %}
                                                            {% set tampon=acte.id %}
                                                            <option value="{{ pacte.acte.id }}" class="bg-success">{{ pacte.acte.designationacte }}</option>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            {% if acte.id != tampon %}
                                                <option value="{{ acte.id }}">{{ acte.designationacte }}</option>

                                            {% endif %}
                                        {% endfor %}


                                    </select>
                                    <input type="submit" class="btn btn-custom">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabr4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-full">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="full-width-modalLabel">Les examens d'imagérie</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel">

                            <div class="panel-body">
                                <form class="form-inline"  method="post" action="{{ path('img_actes') }}">
                                    <input type="hidden" name="hospitalisation" value="{{ tour.hospitalisation.id }}">
                                    <select name="imgr[]" class="multi-select" multiple="" id="my_multi_select4" >

                                        {% for acte in imgs %}
                                            {% set tampon=0 %}
                                            {% if tour.hospitalisation.patient.societe.id !=15 and tour.hospitalisation.patient.formule != null %}
                                                {% for pacte in tour.hospitalisation.patient.formule.forsoc %}
                                                    {% if acte.id == pacte.acte.id %}
                                                        {% if pacte.societe.id==tour.hospitalisation.patient.societe.id %}
                                                            {% set tampon=acte.id %}
                                                            <option value="{{ pacte.acte.id }}" class="bg-success">{{ pacte.acte.designationacte }}</option>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            {% if acte.id != tampon %}

                                                <option value="{{ acte.id }}">{{ acte.designationacte }}</option>

                                            {% endif %}
                                        {% endfor %}


                                    </select>
                                    <input type="submit" class="btn btn-custom">
                                </form></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabr5" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-full">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="full-width-modalLabel">Pharmacie</h4>
                    </div>
                    <div class="modal-body">
                        <div class=row>
                            <div class="col-lg-6 col-md-12">
                                {{ render(controller('hostooSanteBundle:Ordonnance:newHospis',{'id':tour.hospitalisation.id })) }}

                            </div>
                            <div class="col-lg-6 col-md-12">
                                {{ render(controller('hostooSanteBundle:Ordonnance:hospitalisationOrdonnance',{'id':tour.hospitalisation.id })) }}
                            </div>
                        </div>
                        {#<form class="form-inline"  method="post" action="{{ path('hostoo_med_ajouterprod') }}">
               <input type="hidden" name="hospitalisation" value="{{ hospitalisation.id }}">
               <select name="qte[]" class="multi-select" multiple="" id="my_multi_select9" >
                   {% for produit in produits %}
                               <option value="{{ produit.id }}">{{ produit.nom }} - {{ produit.grammage }} mg - {{ produit.prix }}</option>

                           {% endfor %}
           </select>
                            <input type="submit" class="btn btn-custom">

                        </form>#}
                    </div>
                </div>
            </div>
    </div>
        <div id="tabr6" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-full">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="full-width-modalLabel">Les actes supplementaires</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel">

                            <div class="panel-body">
                                <form class="form-inline"  method="post" action="{{ path('autres_actes_hop') }}">
                                    <input type="hidden" name="episode" value="{{ tour.hospitalisation.id }}">
                                    <select name="aut[]" class="multi-select" multiple="" id="my_multi_select6" >

                                        {% for acte in actes %}
                                            {% set tampon=0 %}
                                            {% if tour.hospitalisation.patient.societe.id !=15 and tour.hospitalisation.patient.formule != null %}
                                                {% for pacte in episode.patient.formule.forsoc %}
                                                    {% if acte.id == pacte.acte.id %}
                                                        {% if pacte.societe.id==tour.hospitalisation.patient.societe.id %}
                                                            {% set tampon=acte.id %}
                                                            <option value="{{ pacte.acte.id }}" class="bg-success">{{ pacte.acte.designationacte }}</option>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            {% if acte.id != tampon %}

                                                <option value="{{ acte.id }}">{{ acte.designationacte }}</option>

                                            {% endif %}
                                        {% endfor %}


                                    </select>
                                    <input type="submit" class="btn btn-custom">
                                </form></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="col-md-4">
        <h3>Panier des actes medicaux</h3>
        <table class="table table-striped">

            {% if (tabacte is not null) %}
                <tr>
                    <th class="bg-success">Laboratoire</th>
                </tr>
                {% set som = 0 %}
                {% set taillelabo=0 %}

                {% for tacte in tabacte %}
                    <tr>
                        <td>{{ tacte.designationacte }}<a href="{{ path('hostoo_med_suppcte',{'id':taillelabo }) }}" ><i class="fa fa-trash pull-right text-danger"></i></a></td>
                    </tr>
                    {% set taillelabo = taillelabo + 1 %}
                {% endfor %}{% endif %}

            {% if (tabimg is not null) %}
                <tr>
                    <th class="bg-blue">Imagérie</th>
                </tr>
                {% set som = 0 %}
                {% set tailleimg = 0 %}
                {% for tacte in tabimg %}
                    <tr>
                        <td>{{ tacte.designationacte }}<a href="{{ path('hostoo_med_suppimg',{'id':tailleimg }) }}" ><i class="fa fa-trash pull-right text-danger"></i></a></td>
                    </tr>
                    {% set tailleimg = tailleimg +1 %}
                {% endfor %}{% endif %}
            {% if (tabmed is not null) %}
                <tr>
                    <th class="bg-danger">Pharmacie</th>
                </tr>
                {% set som = 0 %}
                {% set phar = app.session.get('phar') %}
                {% set poso = app.session.get('pos') %}
                {% for tacte in tabmed %}
                    <tr>
                        <td><div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4">{{ tacte.nom }}</div>
                                    <div class="col-lg-6">
                                        <form class="" action="{{ path('hostoo_med_ajoutermed',{'id':tacte.id }) }}">
                                            <div class="row">
                                                <input type="number" name="qte" onchange="this.form.submit()" value="{% if phar[tacte.id] is defined %}{{ phar[tacte.id] }}{% endif %}" class="form-control-static col-lg-6" >
                                                <input type="text" name="pos" onchange="this.form.submit()" value="{% if poso[tacte.id] is defined %} {{ poso[tacte.id] }} {% endif %}" class="form-control-static col-lg-6" placeholder="Posologie"></div>
                                        </form></div>
                                    <div class="col-lg-2">
                                        <a href="{{ path('hostoo_med_suppmed',{'id':tacte.id }) }}"><i class="fa fa-trash right text-danger"></i></a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}{% endif %}
            {% if (tabautres is not null or tabautres is defined) %}
                <tr>
                    <th class="bg-retina_wood">Autres</th>
                </tr>
                {% set som = 0 %}
                {% for tacte in tabautres %}
                    <tr>
                        <td>{{ tacte.designationacte }}<a href="{{ path('hostoo_med_suppautre',{'id':tacte.id }) }}" ><i class="fa fa-trash pull-right text-danger"></i></a></td>
                    </tr>
                {% endfor %}{% endif %}

            <tr>
                <td><div class="btn-group">
                        <a href="{{ path('facturer_actes_tout',{'id':tour.hospitalisation.id }) }}" class="btn green">Valider les actes</a>
                        <a href="{{ path('hostoo_med_resetactes') }}" class="btn red">Annuler</a>
                    </div></td>
            </tr>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery-datatables-editable/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/multiselect/js/jquery.multi-select.js') }}"></script>
    <script src="{{ asset('assets/plugins/select2/dist/js/select2.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/jquery-quicksearch/jquery.quicksearch.js') }}"></script>

    <script>
        $(function () {
            $('#listepatients').dataTable();
        });
    </script>
    <script>

        $(function () {
            $('#add_symptome_form').hide();
            $('#hide_symptome_form').hide();
            $('#show_form_symptome').on('click',function(e){
                e.preventDefault();
                $('#add_symptome_form').show();
                $('#hide_symptome_form').show();
                $(this).hide();
            });
            $('#hide_form_symptome').on('click',function(e){
                e.preventDefault();
                $('#add_symptome_form').hide();
                $('#show_form_symptome').show();
                $(this).hide();
            });
            var dataAppleDevices = [{id: 1, text: "iPhone"}, {id: 2, text: "iPad"}, {id: 3, text: "iPod"}];
            var dataSamsungDevices = [{id: 1, text: "Galaxy S"}, {id: 2, text: "Galaxy Tab"}, {id: 3, text: "Galaxy A"}];

            //advance multiselect start
            var $inp=$('#hypodiagno');

            //$('.selecta').select2();
            $('.selecthd').select2();
            $('.mypro').select2();
            $('.mypro-limiting').select2({
                placeholder: "Choisir les actes"
            });
        });
        /** pharmacie **/
        $('#my_multi_select9').multiSelect({
            selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            afterInit: function (ms) {
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function (e) {
                        if (e.which === 40) {
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function (e) {
                        if (e.which == 40) {
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            }
        });

        /*** labo ***/
        $('#my_multi_select3').multiSelect({
            selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            afterInit: function (ms) {
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function (e) {
                        if (e.which === 40) {
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function (e) {
                        if (e.which == 40) {
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            }
        });
        // Select2
        $(".select2").select2().attr('name','acteslabo[]');
        $(".selecta").select2();

        $(".selectdc").select2();


        // $(".selecthd").select2();

        $(".select2-limiting").select2({
            placeholder: "Choisir les actes"
        });

        //img
        $('#my_multi_select4').multiSelect({
            selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            afterInit: function (ms) {
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function (e) {
                        if (e.which === 40) {
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function (e) {
                        if (e.which == 40) {
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            }
        });
        // Select2
        $(".select3").select2().attr('name','acteslabo[]');

        $(".select3-limiting").select2({
            placeholder: "Choisir les actes"
        });
        //advance multiselect start
        $('#my_multi_select5').multiSelect({
            selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            afterInit: function (ms) {
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function (e) {
                        if (e.which === 40) {
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function (e) {
                        if (e.which == 40) {
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            }
        });
        $('#my_multi_select6').multiSelect({
            selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
            afterInit: function (ms) {
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function (e) {
                        if (e.which === 40) {
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function (e) {
                        if (e.which == 40) {
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function () {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function () {
                this.qs1.cache();
                this.qs2.cache();
            }
        });
        // Select2
        $(".select4").select2().attr('name','acteslabo[]');

        $(".select4-limiting").select2({
            placeholder: "Choisir les actes"
        });

    </script>
    <script>
        $('#signes_vitaux_taille').on('change',function () {
            var poids=$('#signes_vitaux_poids').val();
            $('#signes_vitaux_imc').val(poids/(Math.pow($(this).val(),2)));
        });

        $('#signes_vitaux_pp').on('change',function () {
            var poids=$('#signes_vitaux_pa').val();
            $('#signes_vitaux_wrh').val($(this).val()/poids,2);
        });
    </script>
    <script src="{{ asset('assets/js/signesvitaux.js') }}"></script>
    <script src="{{ asset('assets/js/rdvmed.js') }}"></script>
    <script src="{{ asset('assets/js/exphys.js') }}"></script>
    <script src="{{ asset('assets/js/anamnese.js') }}"></script>
    <script src="{{ asset('assets/js/antecedent.js') }}"></script>
    <script src="{{ asset('assets/js/symptomes.js') }}"></script>
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('ckeditor/samples/js/sample.js') }}"></script>
    <script src="{{ asset('assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js') }}" rel="stylesheet"></script>
    <script>
        initSample();
        historique();
        complements();
    </script>
    <script type="text/javascript">
        var $collectionHolder;
        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link btn btn-info" title="Ajouter un produit"><i class="fa fa-plus"></i></a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);
        jQuery(document).ready(function() {
// Get the ul that holds the collection of tags
            $collectionHolder = $('div#ordonnance_posologie');
// add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);
// count the current form inputs we have (e.g. 2), use that as the new
// index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addTagLink.on('click', function(e) {
// prevent the link from creating a "#" on the URL
                e.preventDefault();
// add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });
        function addTagForm($collectionHolder, $newLinkLi) {

// Get the data-prototype explained earlier

            var prototype = $collectionHolder.data('prototype');


// get the new index

            var index = $collectionHolder.data('index');


// Replace '__name__' in the prototype's HTML to

// instead be a number based on how many items we have

            var newForm = prototype.replace(/__name__/g, index);

// increase the index with one for the next item

            $collectionHolder.data('index', index + 1);

// Display the form in the page in an li, before the "Add a tag" link li

            var $newFormLi = $('<li></li>').append(newForm);

            $newLinkLi.before($newFormLi);
        }
    </script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#diagnostic_Diagnostiques').tagsinput();
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.

            var $container = $('div#anamnese_symptomes');


            // On ajoute un lien pour ajouter une nouvelle catégorie

            var $addLink = $('<a href="#" id="add_category" class="btn btn-default">Ajouter une catégorie</a>');

            $container.append($addLink);


            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.

            $addLink.click(function(e) {

                addCategory($container);

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL

                return false;

            });


            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement

            var index = $container.find(':input').length;


            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).

            if (index == 0) {

                addCategory($container);

            } else {

                // Pour chaque catégorie déjà existante, on ajoute un lien de suppression

                $container.children('div').each(function() {

                    addDeleteLink($(this));

                });

            }


            // La fonction qui ajoute un formulaire Categorie

            function addCategory($container) {

                // Dans le contenu de l'attribut « data-prototype », on remplace :

                // - le texte "__name__label__" qu'il contient par le label du champ

                // - le texte "__name__" qu'il contient par le numéro du champ

                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Catégorie n°' + (index+1))

                    .replace(/__name__/g, index));


                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie

                addDeleteLink($prototype);


                // On ajoute le prototype modifié à la fin de la balise <div>

                $container.append($prototype);


                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro

                index++;

            }


            // La fonction qui ajoute un lien de suppression d'une catégorie

            function addDeleteLink($prototype) {

                // Création du lien

                $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');


                // Ajout du lien

                $prototype.append($deleteLink);


                // Ajout du listener sur le clic du lien

                $deleteLink.click(function(e) {

                    $prototype.remove();

                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL

                    return false;

                });

            }

        });

    </script>


{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/jquery-datatables-editable/datatables.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/datatables/buttons.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/multiselect/css/multi-select.css') }}"  rel="stylesheet" />
    <link href="{{ asset('assets/plugins/select2/dist/css/select2.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/select2/dist/css/select2-bootstrap.css') }}" rel="stylesheet" />
{% endblock %}