{% extends "hostooSanteBundle::blank.html.twig" %}

{% block title %}Création d'une catégorie{% endblock %}
{% block menu %}
    {% include 'hostooUserBundle:menus:menuadmin.html.twig' %}
{% endblock %}
{% block body %}
<h1>Creer une categorie des actes médicaux</h1>

    <div class="card-box">
        <form action="{{ path('_cree_une_categorie') }}" method="post" class="form-inline">
            <div class="form-group">
            {{ form_label(form.nom,"Nom de la catégorie") }}
            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                <input type="submit" class="btn btn-success waves-success" />
            </div>
        </form>
    </div>

    <div class="card-box">
        {{ render(controller('hostooSanteBundle:Categories:ListeDesCategories')) }}
    </div>
{% endblock %}
