{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tarif</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tarif.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ tarif.prix }}</td>
            </tr>
            <tr>
                <th>Dateprix</th>
                <td>{% if tarif.dateprix %}{{ tarif.dateprix|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('facture_tarif_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('facture_tarif_edit', { 'id': tarif.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
