<h4>Diagnostic</h4>
<form action="{{ path('hostoo_med_adddiagnostic',{'id':id }) }}" method="post" class="vertical" >
<div class="">


        {{ form_label(form.Diagnostiques) }}
        {{ form_errors(form.Diagnostiques) }}
        {{ form_widget(form.Diagnostiques,{'attr':{'class':'my-tag','data-role':'tagsinput'} }) }}

    {{ form_widget(form.episode) }}


    {{ form_widget(form.save,{'attr':{'class':'btn btn-custom'}}) }}
{{ form_rest(form) }}
</div>
</form>