{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titre %}{{ parent() }} ::{{ produit.nom }}{% endblock %}
{% block titrepage %} {{ produit.nom }}{% endblock %}
{% block menu %}
    {% include 'hostooUserBundle:menus:menuphar.html.twig' %}
{% endblock %}
{% block options %}
    <a href="{{ path('hp_modifproduit',{'id': produit.id}) }}" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>

{% endblock %}
{% block body %}
<div class="col-lg-6 col-md-12">
    <div class="card-box">
<table class="table table-striped">
    <tr>
    <th class="text-primary">Nom du Produit :</th>
    <td>{{ produit.nom }}</td>
    </tr>
    <tr>
    <th class="text-primary">Nature du Produit :</th>

        <td>{% if produit.nature %}{{ produit.nature.nom }}{% endif %}</td>
    </tr>
    <tr>
        <th class="text-primary">Emballage</th>
    <td>{{ produit.boite.nom }}</td>
    </tr>
    <tr>
        <th class="text-primary">Nb Plaquettes/Boite</th>
    <td>{{ produit.plaquette }}</td>
    </tr>
    <tr>
        <th class="text-primary">Nb Unites/plaquette</th>
    <td>{{ produit.unite }}</td>
    </tr>
    <tr>
        <th class="text-primary">Prix de vente</th>
    <td>{{ produit.prix }}</td>
    </tr>
    <tr>
        <th class="text-primary">Date d'expiration :</th>
    <td>{{ produit.dateexp|date('d-m-Y') }}</td>
    </tr>
    <tr>
        <th class="text-primary">Categorie Therapeutique :</th>
        <td>{#{% if produit.categorie is defined %}{{ produit.categorie.nom }}{% endif %}#}</td>
    </tr>

</table>
    </div>
<div class="card-box">
    <h4>Les approvisonnements</h4>
    <table class="table table-striped">
        <thead>
        <tr>
        <th>Quantite</th>
        <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for mystock in produit.stocks %}
           <tr>
               <td>{{ mystock.qte }}</td>
               <td>{{ mystock.datestock|date('d-m-Y') }}</td>
           </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
</div>

    <div class="col-lg-6 col-md-12">
        {% if produit.stocktot is not null %}
        <div class="alert alert-info">Le Stock actuel = {{ produit.stocktot.qte }}</div>
            {% else %}

                <div class="alert alert-info">Le Stock actuel = 0</div>
            {% endif %}

        <div class="well bg-success">
            <h4>Ajouter le Stock</h4>
            {{ render(controller("hostooPharmacieBundle:Pharmacie:ajouterStock",{'id':produit.id})) }}
        </div>
        <div class="well bg-warning">
            <h4>Corriger le Stock</h4>
            <form action="{{ path('hp_ajusterstock',{'id': produit.id }) }}" method="post">
                <label for="laqte"></label>
                <input type="number" name="laqte" class="form-control"/>
                <input type="submit" value="Corriger" class="btn btn-warning" />
            </form>
        </div>

        </div>
{% endblock %}